n8n_workflows/talosprimes/devis/devis-deleted.json
{
  "name": "devis-deleted",
  "nodes": [
    {
      "parameters": {
        "path": "devis-deleted",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.body;\n\nif (!payload.devisId || !payload.tenantId) {\n  throw new Error('devisId and tenantId are required');\n}\n\nreturn {\n  devisId: payload.devisId,\n  tenantId: payload.tenantId\n};"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Validation failed\"\n}"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM devis_lines WHERE devis_id = '{{ $json.devisId }}'"
      },
      "id": "05. Delete Lines",
      "name": "05. Delete Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM devis WHERE id = '{{ $json.devisId }}' AND tenant_id = '{{ $json.tenantId }}' RETURNING id"
      },
      "id": "06. Delete Devis",
      "name": "06. Delete Devis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const deleted = $('06. Delete Devis').all().map(item => item.json);\n\nif (deleted.length === 0) {\n  throw new Error('Devis not found');\n}\n\nreturn {\n  success: true,\n  message: 'Devis deleted successfully',\n  devisId: $json.devisId\n};"
      },
      "id": "07. Format Response",
      "name": "07. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "08. Respond",
      "name": "08. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Delete Lines",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Delete Lines": {
      "main": [
        [
          {
            "node": "06. Delete Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Delete Devis": {
      "main": [
        [
          {
            "node": "07. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Format Response": {
      "main": [
        [
          {
            "node": "08. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}