n8n_workflows/talosprimes/devis/devis-convert-to-bdc.json
{
  "name": "devis-convert-to-bdc",
  "nodes": [
    {
      "parameters": {
        "path": "devis-convert-to-bdc",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nif (!body.tenantId || !body.devisId) {\n  throw new Error('tenantId and devisId are required');\n}\n\nreturn [{ json: { tenantId: body.tenantId, devisId: body.devisId } }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Validation failed\" }"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT id, tenant_id, client_final_id, numero_devis, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut FROM devis WHERE id = '\" + $json.devisId + \"' AND tenant_id = '\" + $json.tenantId + \"' AND statut = 'acceptee'\" }}"
      },
      "id": "05. Get Devis",
      "name": "05. Get Devis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        700,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT COALESCE(MAX(CAST(SUBSTRING(numero_bdc FROM 'BDC-[0-9]{4}-([0-9]+)') AS INTEGER)), 0) + 1 as next_num FROM bons_commande WHERE tenant_id = '\" + $('02. Parser').first().json.tenantId + \"' AND numero_bdc LIKE 'BDC-' || EXTRACT(YEAR FROM NOW())::text || '-%'\" }}"
      },
      "id": "06. Get Next BDC Number",
      "name": "06. Get Next BDC Number",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        900,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const devis = $('05. Get Devis').first().json;\nconst nextNum = $('06. Get Next BDC Number').first().json.next_num || 1;\n\nif (!devis || !devis.id) {\n  throw new Error('Devis not found or not in acceptee status');\n}\n\nconst year = new Date().getFullYear();\nconst numeroBdc = 'BDC-' + year + '-' + String(nextNum).padStart(6, '0');\nconst now = new Date().toISOString();\nconst validite = new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString();\n\nreturn [{ json: {\n  devisId: devis.id,\n  tenantId: devis.tenant_id,\n  clientFinalId: devis.client_final_id,\n  numeroDevis: devis.numero_devis,\n  numeroBdc,\n  dateBdc: now,\n  dateValidite: validite,\n  montantHt: devis.montant_ht,\n  montantTtc: devis.montant_ttc,\n  tvaTaux: devis.tva_taux,\n  description: devis.description ? 'Devis ' + devis.numero_devis + ' - ' + devis.description : 'Depuis devis ' + devis.numero_devis,\n  modePaiement: devis.mode_paiement\n} }];"
      },
      "id": "07. Prepare BdC Data",
      "name": "07. Prepare BdC Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO bons_commande (id, tenant_id, client_final_id, numero_bdc, date_bdc, date_validite, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut, devis_id, created_at, updated_at) VALUES (gen_random_uuid(), '\" + $('07. Prepare BdC Data').first().json.tenantId + \"', \" + ($('07. Prepare BdC Data').first().json.clientFinalId ? \"'\" + $('07. Prepare BdC Data').first().json.clientFinalId + \"'\" : \"NULL\") + \", '\" + $('07. Prepare BdC Data').first().json.numeroBdc + \"', '\" + $('07. Prepare BdC Data').first().json.dateBdc + \"', '\" + $('07. Prepare BdC Data').first().json.dateValidite + \"', \" + $('07. Prepare BdC Data').first().json.montantHt + \", \" + $('07. Prepare BdC Data').first().json.montantTtc + \", \" + ($('07. Prepare BdC Data').first().json.tvaTaux || 20) + \", \" + ($('07. Prepare BdC Data').first().json.description ? \"'\" + $('07. Prepare BdC Data').first().json.description.replace(/'/g, \"''\") + \"'\" : \"NULL\") + \", \" + ($('07. Prepare BdC Data').first().json.modePaiement ? \"'\" + $('07. Prepare BdC Data').first().json.modePaiement + \"'\" : \"NULL\") + \", 'brouillon', '\" + $('07. Prepare BdC Data').first().json.devisId + \"', NOW(), NOW()) RETURNING id, tenant_id, client_final_id, numero_bdc, date_bdc, date_validite, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut, devis_id, created_at, updated_at\" }"
      },
      "id": "08. Create BdC",
      "name": "08. Create BdC",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1300,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT id, devis_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre FROM devis_lines WHERE devis_id = '\" + $('07. Prepare BdC Data').first().json.devisId + \"' ORDER BY ordre ASC\" }}"
      },
      "id": "09. Get Devis Lines",
      "name": "09. Get Devis Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1500,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var bdc = $('08. Create BdC').first().json;\nvar rawLines = [];\ntry { rawLines = $('09. Get Devis Lines').all().map(function(item) { return item.json; }); } catch(e) { rawLines = []; }\n\nfunction esc(v) { return v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; }\nfunction num(v) { var n = parseFloat(v); return isNaN(n) ? '0' : String(n); }\n\nif (rawLines.length === 0) {\n  return [{ json: { bdcId: bdc.id, hasLines: false, query: 'SELECT 1' } }];\n}\n\nvar values = rawLines.map(function(item, i) {\n  var q = num(item.quantite || 0);\n  var p = num(item.prix_unitaire_ht || 0);\n  var t = num(item.total_ht || (parseFloat(q) * parseFloat(p)));\n  return '(gen_random_uuid(), ' + esc(bdc.id) + '::uuid, ' + esc(item.code_article || null) + ', ' + esc(item.designation || '') + ', ' + q + ', ' + p + ', ' + t + ', ' + i + ')';\n}).join(', ');\n\nvar query = 'INSERT INTO bon_commande_lines (id, bon_commande_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre) VALUES ' + values + ' RETURNING id, bon_commande_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre';\n\nreturn [{ json: { bdcId: bdc.id, hasLines: true, query: query } }];"
      },
      "id": "10. Prepare Lines",
      "name": "10. Prepare Lines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "11. Create BdC Lines",
      "name": "11. Create BdC Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1900,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const bdc = $('08. Create BdC').first().json;\nconst devis = $('12. Update Devis').first().json;\n\nreturn [{ json: {\n  bdc_id: bdc.id,\n  numero_bdc: bdc.numero_bdc,\n  devis_id: devis.id,\n  numero_devis: devis.numero_devis,\n  devis_statut: devis.statut\n} }];"
      },
      "id": "13. Format Response",
      "name": "13. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "14. Respond",
      "name": "14. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE devis SET statut = 'commandee', updated_at = NOW() WHERE id = '\" + $('07. Prepare BdC Data').first().json.devisId + \"' RETURNING id, numero_devis, statut\" }}"
      },
      "id": "12. Update Devis",
      "name": "12. Update Devis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        2100,
        300
      ],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get Devis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get Devis": {
      "main": [
        [
          {
            "node": "06. Get Next BDC Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Get Next BDC Number": {
      "main": [
        [
          {
            "node": "07. Prepare BdC Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Prepare BdC Data": {
      "main": [
        [
          {
            "node": "08. Create BdC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Create BdC": {
      "main": [
        [
          {
            "node": "09. Get Devis Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Get Devis Lines": {
      "main": [
        [
          {
            "node": "10. Prepare Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Prepare Lines": {
      "main": [
        [
          {
            "node": "11. Create BdC Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Create BdC Lines": {
      "main": [
        [
          {
            "node": "12. Update Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Format Response": {
      "main": [
        [
          {
            "node": "14. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Update Devis": {
      "main": [
        [
          {
            "node": "13. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}