n8n_workflows/talosprimes/proforma/proforma-get.json
{
  "name": "proforma-get",
  "nodes": [
    {
      "parameters": {
        "path": "proforma-get",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.body;\n\nif (!payload.proformaId) {\n  throw new Error('proformaId is required');\n}\n\nreturn {\n  proformaId: payload.proformaId,\n  tenantId: payload.tenantId || null\n};"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Validation failed\"\n}"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT p.id, p.tenant_id, p.client_final_id, p.numero_proforma, p.date_proforma, p.date_validite, p.montant_ht, p.montant_ttc, p.tva_taux, p.description, p.mode_paiement, p.statut, p.invoice_id, p.lien_pdf, p.created_at, p.updated_at, cf.nom as client_nom, cf.prenom as client_prenom, cf.email as client_email, cf.telephone as client_telephone, cf.raison_sociale as client_raison_sociale FROM proformas p LEFT JOIN client_finals cf ON p.client_final_id = cf.id WHERE p.id = '{{ $json.proformaId }}'"
      },
      "id": "05. Get Proforma",
      "name": "05. Get Proforma",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, proforma_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre FROM proforma_lines WHERE proforma_id = {{ $json.proformaId }}"
      },
      "id": "06. Get Lines",
      "name": "06. Get Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawProforma = $('05. Get Proforma').first().json;\nconst rawLines = $('06. Get Lines').all().map(item => item.json);\n\nif (!rawProforma || !rawProforma.id) {\n  throw new Error('Proforma not found');\n}\n\nconst proforma = {\n  ...rawProforma,\n  clientFinal: rawProforma.client_final_id ? {\n    id: rawProforma.client_final_id,\n    nom: rawProforma.client_nom || null,\n    prenom: rawProforma.client_prenom || null,\n    email: rawProforma.client_email || null,\n    telephone: rawProforma.client_telephone || null,\n    raisonSociale: rawProforma.client_raison_sociale || null,\n  } : null,\n  lines: rawLines,\n};\n\nreturn [{json: { proforma, success: true }}];"
      },
      "id": "07. Format Response",
      "name": "07. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        350
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "08. Respond",
      "name": "08. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        350
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get Proforma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get Proforma": {
      "main": [
        [
          {
            "node": "06. Get Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Get Lines": {
      "main": [
        [
          {
            "node": "07. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Format Response": {
      "main": [
        [
          {
            "node": "08. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}