n8n_workflows/talosprimes/proforma/proforma-created.json
{
  "name": "proforma-created",
  "nodes": [
    {
      "parameters": {
        "path": "proforma-created",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nif (!body.tenantId) {\n  throw new Error('tenantId is required');\n}\n\nconst montantHt = parseFloat(body.montantHt) || 0;\nconst tvaTaux = parseFloat(body.tvaTaux) || 20;\nconst montantTtc = Math.round(montantHt * (1 + tvaTaux / 100) * 100) / 100;\n\nreturn [{ json: {\n  tenantId: body.tenantId,\n  clientFinalId: body.clientFinalId || null,\n  montantHt,\n  montantTtc,\n  tvaTaux,\n  dateProforma: body.dateProforma || new Date().toISOString(),\n  dateValidite: body.dateValidite || null,\n  description: body.description || null,\n  modePaiement: body.modePaiement || null,\n  lines: body.lines || []\n} }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Validation failed\" }"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(CAST(SUBSTRING(numero_proforma FROM 'PRO-[0-9]{4}-([0-9]+)') AS INTEGER)), 0) + 1 as next_num FROM proformas WHERE tenant_id = $1 AND numero_proforma LIKE 'PRO-' || EXTRACT(YEAR FROM NOW())::text || '-%'",
        "queryParameters": "={{ JSON.stringify([$json.tenantId]) }}"
      },
      "id": "05. Get Next Number",
      "name": "05. Get Next Number",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const parser = $('02. Parser').first().json;\nconst nextNum = $('05. Get Next Number').first().json.next_num || 1;\nconst year = new Date().getFullYear();\nconst numeroProforma = 'PRO-' + year + '-' + String(nextNum).padStart(6, '0');\n\nreturn [{ json: { ...parser, numeroProforma } }];"
      },
      "id": "06. Generate Number",
      "name": "06. Generate Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO proformas (id, tenant_id, client_final_id, numero_proforma, date_proforma, date_validite, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut, created_at, updated_at) VALUES (gen_random_uuid(), $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, 'brouillon', NOW(), NOW()) RETURNING id, tenant_id, client_final_id, numero_proforma, date_proforma, date_validite, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut, created_at, updated_at",
        "queryParameters": "={{ JSON.stringify([$('06. Generate Number').first().json.tenantId, $('06. Generate Number').first().json.clientFinalId || null, $('06. Generate Number').first().json.numeroProforma, $('06. Generate Number').first().json.dateProforma, $('06. Generate Number').first().json.dateValidite || null, $('06. Generate Number').first().json.montantHt, $('06. Generate Number').first().json.montantTtc, $('06. Generate Number').first().json.tvaTaux, $('06. Generate Number').first().json.description || null, $('06. Generate Number').first().json.modePaiement || null]) }}"
      },
      "id": "07. Insert Proforma",
      "name": "07. Insert Proforma",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Original prepare logic\nconst _origFn = function() {\nconst proforma = $('07. Insert Proforma').first().json;\nconst parser = $('02. Parser').first().json;\nconst lines = parser.lines || [];\n\nif (lines.length === 0) {\n  return [{ json: { proformaId: proforma.id, lineInserts: [], hasLines: false } }];\n}\n\nconst lineInserts = lines.map((line, idx) => ({\n  proformaId: proforma.id,\n  codeArticle: line.codeArticle || null,\n  designation: line.designation || '',\n  quantite: line.quantite || 1,\n  prixUnitaireHt: line.prixUnitaireHt || line.prixUnitaireHT || 0,\n  totalHt: (line.quantite || 1) * (line.prixUnitaireHt || line.prixUnitaireHT || 0),\n  ordre: idx\n}));\n\nreturn [{ json: { proformaId: proforma.id, lineInserts, hasLines: true } }];\n};\nconst _origResult = _origFn();\nconst prev = _origResult[0].json;\n\nconst items = prev.lineInserts || [];\n\nif (!prev.hasLines || items.length === 0) {\n  return [{ json: { ...prev, query: 'SELECT 1', params: [] } }];\n}\n\nconst params = [];\nlet idx = 1;\n\nconst values = items.map((item, i) => {\n  const parentId = item.proformaId;\n  const codeArticle = item.codeArticle || null;\n  const designation = String(item.designation || '').substring(0, 500);\n  const quantite = parseFloat(item.quantite) || 0;\n  const prixUnitaireHt = parseFloat(item.prixUnitaireHt) || 0;\n  const totalHt = parseFloat(item.totalHt) || 0;\n  const ordre = parseInt(item.ordre) || i;\n\n  params.push(parentId, codeArticle, designation, quantite, prixUnitaireHt, totalHt, ordre);\n  const p = `(gen_random_uuid(), $$${idx}, $$${idx+1}, $$${idx+2}, $$${idx+3}, $$${idx+4}, $$${idx+5}, $$${idx+6})`;\n  idx += 7;\n  return p;\n}).join(',\n');\n\nconst query = `INSERT INTO proforma_lines (id, proforma_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre) VALUES ${values} RETURNING id, proforma_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre`;\n\nreturn [{ json: { ...prev, query, params } }];"
      },
      "id": "08. Prepare Lines",
      "name": "08. Prepare Lines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "queryParameters": "={{ $json.params }}"
      },
      "id": "09. Insert Lines",
      "name": "09. Insert Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const proforma = $('07. Insert Proforma').first().json;\n\nreturn [{ json: {\n  id: proforma.id,\n  tenant_id: proforma.tenant_id,\n  client_final_id: proforma.client_final_id,\n  numero_proforma: proforma.numero_proforma,\n  date_proforma: proforma.date_proforma,\n  date_validite: proforma.date_validite,\n  montant_ht: proforma.montant_ht,\n  montant_ttc: proforma.montant_ttc,\n  tva_taux: proforma.tva_taux,\n  description: proforma.description,\n  mode_paiement: proforma.mode_paiement,\n  statut: proforma.statut,\n  created_at: proforma.created_at,\n  updated_at: proforma.updated_at\n} }];"
      },
      "id": "10. Format Response",
      "name": "10. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "11. Respond",
      "name": "11. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1900,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get Next Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get Next Number": {
      "main": [
        [
          {
            "node": "06. Generate Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Generate Number": {
      "main": [
        [
          {
            "node": "07. Insert Proforma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Insert Proforma": {
      "main": [
        [
          {
            "node": "08. Prepare Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Prepare Lines": {
      "main": [
        [
          {
            "node": "09. Insert Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Insert Lines": {
      "main": [
        [
          {
            "node": "10. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Format Response": {
      "main": [
        [
          {
            "node": "11. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}