n8n_workflows/talosprimes/proforma/proforma-sent.json
{
  "name": "proforma-sent",
  "nodes": [
    {
      "parameters": {
        "path": "proforma-sent",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "code": "const raw = $input.first().json;\nconst payload = (raw && raw.data && typeof raw.data === \"object\") ? { ...raw.data, tenantId: raw.data.tenantId || raw.tenantId } : raw;\n\nif (!payload.proformaId || !payload.tenantId) {\n  throw new Error('proformaId and tenantId are required');\n}\n\nreturn {\n  proformaId: payload.proformaId,\n  tenantId: payload.tenantId\n};"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Validation failed\"\n}"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE proformas SET statut = 'envoyee', updated_at = NOW() WHERE id = {{ $json.proformaId }} AND tenant_id = '{{ $json.tenantId }}' AND statut = 'brouillon' RETURNING id"
      },
      "id": "05. Update Proforma",
      "name": "05. Update Proforma",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Postgres"
        }
      },
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "code": "const updated = $('05. Update Proforma').all();\n\nif (updated.length === 0) {\n  throw new Error('Proforma not found or already sent');\n}\n\nreturn {\n  success: true,\n  message: 'Proforma sent successfully',\n  proformaId: $json.proformaId\n};"
      },
      "id": "06. Format Response",
      "name": "06. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "07. Respond",
      "name": "07. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Update Proforma",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Update Proforma": {
      "main": [
        [
          {
            "node": "06. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Format Response": {
      "main": [
        [
          {
            "node": "07. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}