n8n_workflows/talosprimes/stock-management/stock-site-updated.json
{
  "name": "stock-site-updated",
  "nodes": [
    {
      "parameters": {
        "path": "stock-site-updated",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "var raw=$input.first().json;\nfunction pj(x){if(typeof x!=='string')return x;try{return JSON.parse(x)}catch(e){return null}}\nfunction isO(v){return v!==null&&typeof v==='object'&&!Array.isArray(v)}\nfunction g(o,k1,k2){if(!isO(o))return null;var v=o[k1];if(v!=null&&v!=='')return v;if(k2){v=o[k2];if(v!=null&&v!=='')return v}return null}\nvar payload=isO(raw)?raw:{};\nif(isO(raw)&&raw.body!==undefined)payload=typeof raw.body==='string'?pj(raw.body):raw.body;\nif(!isO(payload))payload={};\nvar data=isO(payload.data)?payload.data:payload;\nif(!isO(data))data=payload;\nvar tenantId=g(data,'tenantId','tenant_id')||g(payload,'tenantId','tenant_id')||g(raw,'tenantId');\nvar siteId=g(data,'siteId','site_id')||g(payload,'siteId','site_id');\nif(!tenantId||!siteId)return [{json:{_error:true,message:'tenantId et siteId requis'}}];\nvar body={tenantId,siteId};\nvar cd=g(data,'code')||g(payload,'code');if(cd)body.code=cd;\nvar dg=g(data,'designation')||g(payload,'designation');if(dg)body.designation=dg;\nreturn [{json:body}];"
      },
      "id": "parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "1157aebc-e8ef-4bcf-a71e-87c3d790e0ed",
              "leftValue": "={{ String($json._error || '') }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{ $json.message }}\"}"
      },
      "id": "respond-err",
      "name": "04. Repondre erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT (SELECT id FROM stock_sites WHERE id = '\" + $json.siteId + \"' AND tenant_id = '\" + $json.tenantId + \"') AS existing_id\" }}"
      },
      "id": "pg-check",
      "name": "05. Verifier existence",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "0d5290bb-de69-454a-a98d-4b032824598b",
              "leftValue": "={{ $json.existing_id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-exists",
      "name": "06. Existe ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":false,\"error\":\"Ce site n'existe pas\"}"
      },
      "id": "respond-not-found",
      "name": "07. Repondre inexistant",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "var p = $('02. Parser').first().json;\nvar updates = [];\nif(p.code) { var code = (p.code || '').replace(/'/g, \"''\"); updates.push(`code = '${code}'`); }\nif(p.designation) { var dsg = (p.designation || '').replace(/'/g, \"''\"); updates.push(`designation = '${dsg}'`); }\nupdates.push('updated_at = NOW()');\nvar setClause = updates.join(', ');\nvar query = `UPDATE stock_sites SET ${setClause} WHERE id = '${p.siteId}' AND tenant_id = '${p.tenantId}' RETURNING *`;\nreturn [{json:{query}}];"
      },
      "id": "build-update",
      "name": "08. Construire UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "pg-update",
      "name": "09. Executer UPDATE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var row=$input.first().json;\nvar site=row[0]||null;\nif(!site)return [{json:{success:false,error:'Site non recupere apres mise a jour'}}];\nreturn [{json:{success:true,data:{site:site}}}];"
      },
      "id": "format",
      "name": "10. Formater reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "respond-ok",
      "name": "11. Repondre succes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1960,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Verifier existence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Repondre erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Verifier existence": {
      "main": [
        [
          {
            "node": "06. Existe ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Existe ?": {
      "main": [
        [
          {
            "node": "08. Construire UPDATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "07. Repondre inexistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Construire UPDATE": {
      "main": [
        [
          {
            "node": "09. Executer UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Executer UPDATE": {
      "main": [
        [
          {
            "node": "10. Formater reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Formater reponse": {
      "main": [
        [
          {
            "node": "11. Repondre succes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
