n8n_workflows/talosprimes/stock-management/stock-movement-created.json
{
  "name": "stock-movement-created",
  "nodes": [
    {
      "parameters": {
        "path": "stock-movement-created",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "var raw=$input.first().json;\nfunction pj(x){if(typeof x!=='string')return x;try{return JSON.parse(x)}catch(e){return null}}\nfunction isO(v){return v!==null&&typeof v==='object'&&!Array.isArray(v)}\nfunction g(o,k1,k2){if(!isO(o))return null;var v=o[k1];if(v!=null&&v!=='')return v;if(k2){v=o[k2];if(v!=null&&v!=='')return v}return null}\nvar payload=isO(raw)?raw:{};\nif(isO(raw)&&raw.body!==undefined)payload=typeof raw.body==='string'?pj(raw.body):raw.body;\nif(!isO(payload))payload={};\nvar data=isO(payload.data)?payload.data:payload;\nif(!isO(data))data=payload;\nvar tenantId=g(payload,'tenantId')||g(data,'tenantId')||g(raw,'tenantId');\nvar articleId=g(data,'articleId','article_id')||g(payload,'articleId','article_id');\nvar siteId=g(data,'siteId','site_id')||g(payload,'siteId','site_id');\nvar typeMouvement=g(data,'typeMouvement','type_mouvement')||g(payload,'typeMouvement','type_mouvement');\nvar quantity=g(data,'quantity')||g(payload,'quantity');\nif(!tenantId||!articleId||!siteId||!typeMouvement||quantity==null)return [{json:{_error:true,message:'tenantId, articleId, siteId, typeMouvement et quantity requis'}}];\nvar body={tenantId,articleId,siteId,typeMouvement,quantity:Number(quantity)};\nvar ref=g(data,'reference')||g(payload,'reference');if(ref)body.reference=ref;\nvar notes=g(data,'notes')||g(payload,'notes');if(notes)body.notes=notes;\nreturn [{json:body}];"
      },
      "id": "parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "9d1093d4-18db-40f4-b8df-46d64e881b79",
              "leftValue": "={{ String($json._error || '') }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{ $json.message }}\"}"
      },
      "id": "respond-err",
      "name": "04. Repondre erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "var p = $('02. Parser').first().json;\nvar reference = (p.reference || '').replace(/'/g, \"''\");\nvar notes = (p.notes || '').replace(/'/g, \"''\");\nvar query = `BEGIN TRANSACTION;\nINSERT INTO stock_movements (id, tenant_id, article_id, site_id, type_mouvement, quantity, date_operation, reference, notes, created_at, updated_at) VALUES (gen_random_uuid(), '${p.tenantId}', '${p.articleId}', '${p.siteId}', '${p.typeMouvement}', ${p.quantity}, NOW(), '${reference}', '${notes}', NOW(), NOW());\nUPDATE stock_levels SET quantity = quantity + ${p.quantity}, updated_at = NOW() WHERE article_id = '${p.articleId}' AND site_id = '${p.siteId}' AND tenant_id = '${p.tenantId}';\nCOMMIT;`;\nreturn [{json:{query}}];"
      },
      "id": "build-transaction",
      "name": "05. Construire transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "pg-transaction",
      "name": "06. Executer transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [{json:{success:true,data:{message:'Mouvement de stock enregistre et niveaux mis a jour'}}}];"
      },
      "id": "format",
      "name": "07. Formater reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "respond-ok",
      "name": "08. Repondre succes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1520,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Construire transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Repondre erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Construire transaction": {
      "main": [
        [
          {
            "node": "06. Executer transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Executer transaction": {
      "main": [
        [
          {
            "node": "07. Formater reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Formater reponse": {
      "main": [
        [
          {
            "node": "08. Repondre succes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
