n8n_workflows/talosprimes/clients-workflows/client-create.json
{
  "name": "Clients - Create (client_create) → Postgres Direct → Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client_create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_ClientCreate",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst data = body.data || body;\nreturn [{json: {\n  tenantId: data.tenantId || '00000000-0000-0000-0000-000000000001',\n  type: data.type || 'b2c',\n  nom: data.nom || '',\n  prenom: data.prenom || '',\n  email: data.email || '',\n  telephone: data.telephone || '',\n  raison_sociale: data.raison_sociale || '',\n  adresse: data.adresse || ''\n}}];\n"
      },
      "id": "Code_Normalize",
      "name": "Normaliser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO client_finals (id, tenant_id, type, raison_sociale, nom, prenom, email, telephone, adresse, statut, created_at, updated_at)\nVALUES (\n  gen_random_uuid(),\n  $1::uuid,\n  $2::\"ClientFinalType\",\n  NULLIF($3, ''),\n  $4,\n  $5,\n  $6,\n  $7,\n  NULLIF($8, ''),\n  'actif',\n  NOW(), NOW()\n)\nON CONFLICT (tenant_id, email) DO UPDATE SET\n  nom = EXCLUDED.nom, prenom = EXCLUDED.prenom, telephone = EXCLUDED.telephone,\n  raison_sociale = COALESCE(NULLIF(EXCLUDED.raison_sociale, ''), client_finals.raison_sociale),\n  adresse = COALESCE(NULLIF(EXCLUDED.adresse, ''), client_finals.adresse),\n  updated_at = NOW()\nRETURNING id, tenant_id, type, raison_sociale, nom, prenom, email, telephone, adresse, statut, created_at, updated_at",
        "options": {
          "queryBatching": "independently"
        },
        "queryParameters": "={{ [$json.tenantId, $json.type, $json.raison_sociale, $json.nom, $json.prenom, $json.email, $json.telephone, $json.adresse] }}"
      },
      "id": "PG_Upsert",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase TalosPrimes"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "Respond_ClientCreate",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normaliser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliser": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "_comment": "Converted from HTTP Request to Postgres Direct on 2026-02-21. Enum ClientFinalType = b2b|b2c (not particulier). Tested OK."
}