n8n_workflows/talosprimes/clients-workflows/client-create.json
{
  "name": "Clients - Create (client_create) → Postgres Direct → Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client_create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_ClientCreate",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nvar data = body.data || body;\nreturn [{json: {\n  tenantId: data.tenantId || '00000000-0000-0000-0000-000000000001',\n  type: data.type || 'b2c',\n  nom: data.nom || '',\n  prenom: data.prenom || '',\n  email: data.email || '',\n  telephone: data.telephone || '',\n  raison_sociale: data.raisonSociale || data.raison_sociale || '',\n  adresse: data.adresse || ''\n}}];\n"
      },
      "id": "Code_Normalize",
      "name": "Normaliser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "var d = $json;\nfunction esc(v) { return v == null ? '' : String(v).replace(/'/g, \"''\"); }\nvar rs = d.raison_sociale ? \"'\" + esc(d.raison_sociale) + \"'\" : 'NULL';\nvar adr = d.adresse ? \"'\" + esc(d.adresse) + \"'\" : 'NULL';\nvar query = \"INSERT INTO client_finals (id, tenant_id, type, raison_sociale, nom, prenom, email, telephone, adresse, statut, created_at, updated_at) VALUES (gen_random_uuid(), '\" + esc(d.tenantId) + \"'::uuid, '\" + esc(d.type) + \"', \" + rs + \", '\" + esc(d.nom) + \"', '\" + esc(d.prenom) + \"', '\" + esc(d.email) + \"', '\" + esc(d.telephone) + \"', \" + adr + \", 'actif', NOW(), NOW()) ON CONFLICT (tenant_id, email) DO UPDATE SET nom = EXCLUDED.nom, prenom = EXCLUDED.prenom, telephone = EXCLUDED.telephone, raison_sociale = COALESCE(NULLIF(EXCLUDED.raison_sociale, ''), client_finals.raison_sociale), adresse = COALESCE(NULLIF(EXCLUDED.adresse, ''), client_finals.adresse), updated_at = NOW() RETURNING *\";\nreturn [{json: {query}}];"
      },
      "id": "Code_BuildSQL",
      "name": "Construire INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "PG_Upsert",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        920,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "Respond_ClientCreate",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normaliser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliser": {
      "main": [
        [
          {
            "node": "Construire INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire INSERT": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}