n8n_workflows/talosprimes/clients-workflows/clients-list.json
{
  "name": "Clients - List (clients_list) → Postgres Direct → Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clients_list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_ClientsList",
      "name": "Webhook - clients_list",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parser le payload avec validation whitelist (anti-injection SQL)\nvar raw = $input.first().json;\nvar payload = (raw && typeof raw === 'object' && 'body' in raw) ? raw.body : raw;\nvar tenantId = String(payload?.tenantId || '').trim();\nvar data = (payload && typeof payload === 'object' && 'data' in payload) ? payload.data : (payload ?? {});\n\n// Validation UUID du tenantId\nvar UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!tenantId || !UUID_RE.test(tenantId)) throw new Error('Tenant ID requis et doit être un UUID valide');\n\n// Whitelist des valeurs autorisées\nvar VALID_TYPES = ['b2b', 'b2c'];\nvar VALID_STATUTS = ['actif', 'inactif', 'suspendu'];\n\nvar rawType = data?.type ? String(data.type).trim().toLowerCase() : null;\nvar rawStatut = data?.statut ? String(data.statut).trim().toLowerCase() : null;\nvar rawLimit = data?.limit ? parseInt(String(data.limit), 10) : 100;\n\nvar type = rawType && VALID_TYPES.includes(rawType) ? rawType : null;\nvar statut = rawStatut && VALID_STATUTS.includes(rawStatut) ? rawStatut : null;\nvar limit = (Number.isFinite(rawLimit) && rawLimit > 0 && rawLimit <= 500) ? rawLimit : 100;\n\n// Construire la requête paramétrisée dynamiquement\nvar conditions = [];\nconditions.push(`tenant_id = '${tenantId}'::uuid`);\n\nif (type) {\n  conditions.push(`type = '${type}'`);\n}\nif (statut) {\n  conditions.push(`statut = '${statut}'`);\n}\n\nvar whereClause = conditions.join(' AND ');\nvar query = `SELECT id, tenant_id, type, raison_sociale, nom, prenom, email, telephone, adresse, tags, statut, created_at, updated_at\nFROM client_finals\nWHERE ${whereClause}\nORDER BY created_at DESC\nLIMIT ${limit}`;\n\nreturn [{ json: { query } }];"
      },
      "id": "Code_Parse",
      "name": "Parser filtres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Parser filtres').first().json.query }}"
      },
      "id": "Postgres_Select",
      "name": "Postgres - SELECT clients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        740,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formater la réponse: { clients: [...] }\nvar items = $input.all();\n// Si aucun résultat ou item vide (alwaysOutputData), retourner un tableau vide\nif (!items || items.length === 0 || !items[0].json?.id) {\n  return [{ json: { clients: [] } }];\n}\n\nvar clients = items.map(function(item) { return {\n  var client = item.json;\n  return {\n    id: client.id,\n    tenantId: client.tenant_id,\n    type: client.type,\n    raisonSociale: client.raison_sociale ?? null,\n    nom: client.nom ?? null,\n    prenom: client.prenom ?? null,\n    email: client.email,\n    telephone: client.telephone ?? null,\n    adresse: client.adresse ?? null,\n    tags: client.tags ?? [],\n    statut: client.statut,\n    createdAt: client.created_at,\n    updatedAt: client.updated_at\n  };\n}; });\n\n// Retourner directement { clients } pour que le backend puisse lire result.data?.clients\nreturn [{ json: { clients } }];"
      },
      "id": "Code_Format",
      "name": "Formater réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "Respond_ClientsList",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1180,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - clients_list": {
      "main": [
        [
          {
            "node": "Parser filtres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser filtres": {
      "main": [
        [
          {
            "node": "Postgres - SELECT clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - SELECT clients": {
      "main": [
        [
          {
            "node": "Formater réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater réponse": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1"
}