n8n_workflows/talosprimes/clients-workflows/client-update.json
{
  "name": "Clients - Update (client_update) → Postgres Direct → Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client_update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_ClientUpdate",
      "name": "Webhook - client_update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst payload = (raw && typeof raw === 'object' && 'body' in raw) ? raw.body : raw;\nconst data = (payload && typeof payload === 'object' && 'data' in payload) ? payload.data : (payload ?? {});\nconst id = data?.id ? String(data.id) : '';\nconst tenantId = data?.tenantId ? String(data.tenantId) : '';\nif (!id) throw new Error('ID requis');\nreturn [{ json: {\n  id,\n  tenantId,\n  nom: data.nom || '',\n  prenom: data.prenom || '',\n  email: data.email || '',\n  telephone: data.telephone || '',\n  type: data.type || '',\n  raisonSociale: data.raisonSociale || data.raison_sociale || '',\n  adresse: data.adresse || '',\n  statut: data.statut || '',\n  tags: Array.isArray(data.tags) ? JSON.stringify(data.tags) : ''\n}}];\n"
      },
      "id": "Code_Parse",
      "name": "Parser payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE client_finals SET\n  nom = COALESCE(NULLIF('{{ $json.nom }}', ''), nom),\n  prenom = COALESCE(NULLIF('{{ $json.prenom }}', ''), prenom),\n  email = COALESCE(NULLIF('{{ $json.email }}', ''), email),\n  telephone = COALESCE(NULLIF('{{ $json.telephone }}', ''), telephone),\n  raison_sociale = COALESCE(NULLIF('{{ $json.raisonSociale }}', ''), raison_sociale),\n  adresse = COALESCE(NULLIF('{{ $json.adresse }}', ''), adresse),\n  updated_at = NOW()\nWHERE id = '{{ $json.id }}'::uuid\nAND tenant_id = '{{ $json.tenantId }}'::uuid\nRETURNING id, tenant_id, nom, prenom, email, telephone, type, raison_sociale, adresse, statut, created_at, updated_at",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "PG_Update",
      "name": "Postgres - Update Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [780, 300],
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase TalosPrimes"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "Respond_ClientUpdate",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook - client_update": {
      "main": [[{"node": "Parser payload", "type": "main", "index": 0}]]
    },
    "Parser payload": {
      "main": [[{"node": "Postgres - Update Client", "type": "main", "index": 0}]]
    },
    "Postgres - Update Client": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "_comment": "Converted from HTTP Request to Postgres Direct on 2026-02-21. type and statut removed from UPDATE SET to avoid enum COALESCE mismatch. Tested OK."
}
