n8n_workflows/talosprimes/clients-workflows/stripe-checkout-completed.json
{
  "name": "Stripe - Envoyer identifiants après paiement",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-checkout-completed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-stripe",
      "name": "01. Webhook Stripe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "webhookId": "stripe-checkout-completed"
    },
    {
      "parameters": {
        "jsCode": "// Extraire les données du webhook Stripe\nvar payload = $input.item.json;\nvar session = payload.body?.data?.object || payload.body?.object || payload;\n\n// Vérifier que c'est un événement checkout.session.completed\nvar eventType = payload.body?.type || payload.type;\nif (eventType !== 'checkout.session.completed') {\n  return {\n    json: { skip: true, reason: 'Event type not checkout.session.completed' }\n  };\n}\n\n// Extraire les métadonnées de la session\nvar metadata = session.metadata || {};\nvar clientId = metadata.clientId;\nvar tenantId = metadata.tenantId;\n\n// Extraire les informations de l'abonnement créé\nvar subscriptionId = session.subscription;\n\nreturn {\n  json: {\n    eventType,\n    sessionId: session.id,\n    clientId,\n    tenantId,\n    subscriptionId,\n    customerId: session.customer,\n    customerEmail: session.customer_details?.email || session.customer_email,\n    amountTotal: session.amount_total / 100, // Convertir de centimes en euros\n    currency: session.currency\n  }\n};"
      },
      "id": "extract-data",
      "name": "02. Extraire données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "36dfd24e-6465-47c3-aff5-fd4a3f2be5ed",
              "leftValue": "={{ $json.clientId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "09df45d8-b066-48f8-892c-ffca82d372dc",
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-data",
      "name": "03. Validation données",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "var d = $input.first().json;\nvar query = \"SELECT cs.temporary_password, cf.email, cf.nom, cf.prenom, cf.raison_sociale FROM client_subscriptions cs JOIN client_finals cf ON cs.client_final_id = cf.id WHERE cf.id = '\" + d.clientId + \"' AND cs.temporary_password IS NOT NULL ORDER BY cs.created_at DESC LIMIT 1;\";\nreturn [{ json: { ...d, query: query } }];"
      },
      "id": "build-sql",
      "name": "04. Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "get-credentials-pg",
      "name": "04b. Get Credentials PG",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "alwaysOutputData": true,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparer l'email avec les identifiants\nvar credResult = $('04b. Get Credentials PG').first().json;\nvar stripeData = $('02. Extraire données').first().json;\n\nvar email = credResult.email || stripeData.customerEmail;\nvar password = credResult.temporary_password;\n\nif (!email || !password) {\n  throw new Error('Email ou mot de passe manquant');\n}\n\n// URL de connexion\nvar loginUrl = 'https://talosprimes.com/login';\n\n// Template HTML pour l'email\nvar htmlTemplate = '<!DOCTYPE html>\n' +\n'<html>\n' +\n'<head>\n' +\n'  <meta charset=\\\"UTF-8\\\">\n' +\n'  <style>\n' +\n'    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n' +\n'    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n' +\n'    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n' +\n'    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n' +\n'    .credentials { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #667eea; }\n' +\n'    .credential-item { margin: 10px 0; }\n' +\n'    .credential-label { font-weight: bold; color: #667eea; }\n' +\n'    .credential-value { font-family: monospace; background: #f0f0f0; padding: 8px; border-radius: 4px; display: inline-block; margin-top: 5px; }\n' +\n'    .button { display: inline-block; padding: 12px 30px; background: #667eea; color: white; text-decoration: none; border-radius: 5px; margin: 20px 0; }\n' +\n'    .warning { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 4px; }\n' +\n'    .footer { text-align: center; margin-top: 30px; color: #666; font-size: 12px; }\n' +\n'  </style>\n' +\n'</head>\n' +\n'<body>\n' +\n'  <div class=\\\"container\\\">\n' +\n'    <div class=\\\"header\\\">\n' +\n'      <h1>Bienvenue sur TalosPrimes !</h1>\n' +\n'      <p>Votre paiement a ete valide avec succes</p>\n' +\n'    </div>\n' +\n'    <div class=\\\"content\\\">\n' +\n'      <p>Bonjour,</p>\n' +\n'      <p>Votre abonnement TalosPrimes a ete active avec succes. Vous pouvez maintenant acceder a votre espace client.</p>\n' +\n'      <div class=\\\"credentials\\\">\n' +\n'        <h2 style=\\\"margin-top: 0;\\\">Vos identifiants de connexion :</h2>\n' +\n'        <div class=\\\"credential-item\\\">\n' +\n'          <div class=\\\"credential-label\\\">Email :</div>\n' +\n'          <div class=\\\"credential-value\\\">' + email + '</div>\n' +\n'        </div>\n' +\n'        <div class=\\\"credential-item\\\">\n' +\n'          <div class=\\\"credential-label\\\">Mot de passe temporaire :</div>\n' +\n'          <div class=\\\"credential-value\\\">' + password + '</div>\n' +\n'        </div>\n' +\n'      </div>\n' +\n'      <div class=\\\"warning\\\">\n' +\n'        <strong>Important :</strong> Pour des raisons de securite, vous devrez changer votre mot de passe lors de votre premiere connexion.\n' +\n'      </div>\n' +\n'      <p style=\\\"text-align: center;\\\">\n' +\n'        <a href=\\\"' + loginUrl + '\\\" class=\\\"button\\\">Se connecter maintenant</a>\n' +\n'      </p>\n' +\n'      <p>Si vous avez des questions, n\\'hesitez pas a nous contacter.</p>\n' +\n'      <p>Cordialement,<br>L\\'equipe TalosPrimes</p>\n' +\n'    </div>\n' +\n'    <div class=\\\"footer\\\">\n' +\n'      <p>Cet email a ete envoye automatiquement. Ne repondez pas a cet email.</p>\n' +\n'    </div>\n' +\n'  </div>\n' +\n'</body>\n' +\n'</html>';\n\nreturn [{ json: {\n  to: email,\n  subject: 'Bienvenue sur TalosPrimes - Vos identifiants de connexion',\n  html: htmlTemplate\n} }];"
      },
      "id": "prepare-email",
      "name": "05. Préparer email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.from || 'TalosPrimes <noreply@talosprimes.com>' }}",
        "toEmail": "={{ Array.isArray($json.to) ? $json.to[0] : $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "06. Envoyer email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "hepAQJGA9ubd1NF4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {  success: true, message: 'Email envoyé avec succès'  } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "07. Répondre au webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {  success: false, error: 'Données manquantes'  } }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Répondre erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    }
  ],
  "connections": {
    "01. Webhook Stripe": {
      "main": [
        [
          {
            "node": "02. Extraire données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Extraire données": {
      "main": [
        [
          {
            "node": "03. Validation données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Validation données": {
      "main": [
        [
          {
            "node": "04. Build SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Répondre erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04. Build SQL": {
      "main": [
        [
          {
            "node": "04b. Get Credentials PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04b. Get Credentials PG": {
      "main": [
        [
          {
            "node": "05. Préparer email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Préparer email": {
      "main": [
        [
          {
            "node": "06. Envoyer email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Envoyer email": {
      "main": [
        [
          {
            "node": "07. Répondre au webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-23T00:00:00.000Z",
  "versionId": "1",
  "active": true
}
