n8n_workflows/bons-commande/bdc-validated.json
{
  "name": "bdc-validated",
  "nodes": [
    {
      "parameters": {
        "path": "bdc-validated",
        "responseMode": "responseNode",
        "method": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 200]
    },
    {
      "parameters": {
        "code": "const payload = $input.body;\n\nif (!payload.tenantId || !payload.bdcId) {\n  throw new Error('tenantId and bdcId are required');\n}\n\nreturn {\n  tenantId: payload.tenantId,\n  bdcId: payload.bdcId\n};"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "comparator": "equal",
              "value1": "=true",
              "value2": true
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Validation failed\"\n}"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, statut FROM bon_commandes WHERE id = '{{ $json.bdcId }}' AND tenant_id = '{{ $json.tenantId }}'"
      },
      "id": "05. Check Bon",
      "name": "05. Check Bon",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Postgres"
        }
      },
      "position": [700, 300]
    },
    {
      "parameters": {
        "code": "const bon = $('05. Check Bon').first();\n\nif (!bon) {\n  throw new Error('Bon de commande not found');\n}\n\nif (bon.statut !== 'brouillon') {\n  throw new Error('Bon must be in brouillon status to validate');\n}\n\nreturn {\n  bonExists: true,\n  canValidate: true\n};"
      },
      "id": "06. Validate Status",
      "name": "06. Validate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE bon_commandes SET statut = 'valide', updated_at = NOW() WHERE id = '{{ $json.bdcId }}' AND tenant_id = '{{ $json.tenantId }}' RETURNING *"
      },
      "id": "07. Update Bon",
      "name": "07. Update Bon",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Postgres"
        }
      },
      "position": [1100, 300]
    },
    {
      "parameters": {
        "code": "const bon = $('07. Update Bon').first();\n\nreturn {\n  success: true,\n  data: {\n    bon: bon\n  }\n};"
      },
      "id": "08. Format Response",
      "name": "08. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "09. Respond",
      "name": "09. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Check Bon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Check Bon": {
      "main": [
        [
          {
            "node": "06. Validate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Validate Status": {
      "main": [
        [
          {
            "node": "07. Update Bon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Update Bon": {
      "main": [
        [
          {
            "node": "08. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Format Response": {
      "main": [
        [
          {
            "node": "09. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
