n8n_workflows/talosprimes/commercial/v3-subagents/sub-agent-gmail.json
{
  "name": "Sub-Agent Gmail - TalosPrimes v3",
  "nodes": [
    {
      "id": "1048",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "name": "Workflow Trigger",
      "parameters": {}
    },
    {
      "id": "1051",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        0
      ],
      "name": "Agent Gmail",
      "parameters": {
        "options": {
          "systemMessage": "Tu es le spécialiste Gmail pour TalosPrimes.\n\nOutils :\n- lire_emails : lister les emails récents\n- envoyer_email : envoyer un email\n- supprimer_email : supprimer un email\n- envoyer_notification : envoyer un email transactionnel via l'API TalosPrimes\n\nRÈGLES :\n- Pour envoyer, il faut : destinataire, objet, et contenu\n- Le contenu peut être en texte ou HTML\n- Sois professionnel dans la rédaction des emails\n- Signe toujours : \"Cordialement, L'équipe TalosPrimes\"",
          "maxIterations": 5
        },
        "text": "={{ $json.chatInput || $json.query || $json.message || '' }}"
      }
    },
    {
      "id": "1049",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": "gpt-4o-2024-11-20",
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "MmpYHYAt746xfTrB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "1050",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        600,
        200
      ],
      "name": "Simple Memory",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default' }}",
        "contextWindowLength": 15
      }
    },
    {
      "id": "1052",
      "type": "@n8n/n8n-nodes-langchain.toolGmail",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "name": "lire_emails",
      "parameters": {
        "operation": "getAll"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "jzveDrdzJcs9iv7R",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "1053",
      "type": "@n8n/n8n-nodes-langchain.toolGmail",
      "typeVersion": 1.1,
      "position": [
        400,
        400
      ],
      "name": "envoyer_email",
      "parameters": {
        "operation": "send"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "jzveDrdzJcs9iv7R",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "1054",
      "type": "@n8n/n8n-nodes-langchain.toolGmail",
      "typeVersion": 1.1,
      "position": [
        600,
        400
      ],
      "name": "supprimer_email",
      "parameters": {
        "operation": "delete"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "jzveDrdzJcs9iv7R",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "1055",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        800,
        400
      ],
      "name": "envoyer_notification",
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/notifications",
        "description": "Envoyer un email transactionnel via l'API TalosPrimes (notifications, confirmations).",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    from: \"TalosPrimes <noreply@talosprimes.com>\",\n    to: $fromAI(\"to\", \"Email du destinataire\"),\n    subject: $fromAI(\"subject\", \"Objet de l email\"),\n    html: $fromAI(\"html\", \"Contenu HTML de l email\")\n  })\n}}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "FLSZWCszgEFfXDoK",
          "name": "API TalosPrimes"
        }
      }
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Agent Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Gmail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent Gmail",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "lire_emails": {
      "ai_tool": [
        [
          {
            "node": "Agent Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "envoyer_email": {
      "ai_tool": [
        [
          {
            "node": "Agent Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supprimer_email": {
      "ai_tool": [
        [
          {
            "node": "Agent Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "envoyer_notification": {
      "ai_tool": [
        [
          {
            "node": "Agent Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9395ef0-b752-419c-8fcd-055e64274449",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "talosprimes-v3"
  },
  "tags": [
    {
      "name": "TalosPrimes-v3"
    },
    {
      "name": "sub-agent"
    }
  ]
}