n8n_workflows/talosprimes/commercial/v3-subagents/sub-agent-calendar.json
{
  "name": "Sub-Agent Calendar - TalosPrimes v3",
  "nodes": [
    {
      "id": "1056",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "name": "Workflow Trigger",
      "parameters": {}
    },
    {
      "id": "1059",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        0
      ],
      "name": "Agent Calendar",
      "parameters": {
        "options": {
          "systemMessage": "Tu es le spécialiste Google Calendar pour TalosPrimes.\n\nOutils :\n- creer_evenement : créer un rendez-vous\n- lister_evenements : voir les événements à venir\n- modifier_evenement : modifier un événement existant\n- supprimer_evenement : annuler un événement\n\nRÈGLES :\n- Les dates doivent être au format ISO 8601 (ex: 2026-03-10T14:00:00+01:00)\n- Toujours inclure le fuseau horaire Europe/Paris\n- Pour \"demain à 14h\" → calcule la date exacte\n- Pour \"lundi prochain\" → calcule la date du prochain lundi",
          "maxIterations": 5
        },
        "text": "={{ $json.chatInput || $json.query || $json.message || '' }}"
      }
    },
    {
      "id": "1057",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": "gpt-4o-2024-11-20",
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "MmpYHYAt746xfTrB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "1058",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        600,
        200
      ],
      "name": "Simple Memory",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default' }}",
        "contextWindowLength": 15
      }
    },
    {
      "id": "1060",
      "type": "@n8n/n8n-nodes-langchain.toolCalendar",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "name": "creer_evenement",
      "parameters": {
        "calendarId": "c_dfd5d30e99497e6887043e53e206d2fb28848056bd4725c491682ceb0f05e093@group.calendar.google.com",
        "operation": "create"
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1098OxGMJM5eG3PU",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "id": "1061",
      "type": "@n8n/n8n-nodes-langchain.toolCalendar",
      "typeVersion": 1.1,
      "position": [
        400,
        400
      ],
      "name": "lister_evenements",
      "parameters": {
        "calendarId": "c_dfd5d30e99497e6887043e53e206d2fb28848056bd4725c491682ceb0f05e093@group.calendar.google.com",
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1098OxGMJM5eG3PU",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "id": "1062",
      "type": "@n8n/n8n-nodes-langchain.toolCalendar",
      "typeVersion": 1.1,
      "position": [
        600,
        400
      ],
      "name": "modifier_evenement",
      "parameters": {
        "calendarId": "c_dfd5d30e99497e6887043e53e206d2fb28848056bd4725c491682ceb0f05e093@group.calendar.google.com",
        "operation": "update"
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1098OxGMJM5eG3PU",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "id": "1063",
      "type": "@n8n/n8n-nodes-langchain.toolCalendar",
      "typeVersion": 1.1,
      "position": [
        800,
        400
      ],
      "name": "supprimer_evenement",
      "parameters": {
        "calendarId": "c_dfd5d30e99497e6887043e53e206d2fb28848056bd4725c491682ceb0f05e093@group.calendar.google.com",
        "operation": "delete"
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1098OxGMJM5eG3PU",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Agent Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Calendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent Calendar",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "creer_evenement": {
      "ai_tool": [
        [
          {
            "node": "Agent Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "lister_evenements": {
      "ai_tool": [
        [
          {
            "node": "Agent Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "modifier_evenement": {
      "ai_tool": [
        [
          {
            "node": "Agent Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supprimer_evenement": {
      "ai_tool": [
        [
          {
            "node": "Agent Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de410a44-fec6-4dc9-93d0-31d86b0c35d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "talosprimes-v3"
  },
  "tags": [
    {
      "name": "TalosPrimes-v3"
    },
    {
      "name": "sub-agent"
    }
  ]
}