n8n_workflows/leads/lead-inscription.json
{
  "name": "Inscription - Formulaire Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inscription",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Inscription",
      "name": "01. Webhook - Réception",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// Validation des données\nconst raw = $input.first().json;\nconst payload = raw?.body || raw?.json || raw;\nconst data = payload?.data || payload;\n\nconst nom = String(data?.nom || '').trim();\nconst prenom = String(data?.prenom || '').trim();\nconst email = String(data?.email || '').trim().toLowerCase();\nconst telephone = String(data?.telephone || '').trim();\nconst tenantId = String(data?.tenantId || payload?.tenantId || '').trim();\n\nconst errors = [];\nif (!nom) errors.push('Le nom est requis');\nif (!prenom) errors.push('Le prénom est requis');\nif (!email) errors.push('L\\'email est requis');\nelse if (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) errors.push('Format d\\'email invalide');\nif (!telephone) errors.push('Le téléphone est requis');\nif (!tenantId) errors.push('tenantId requis');\n\nif (errors.length > 0) throw new Error(errors.join(', '));\n\nreturn { json: { nom, prenom, email, telephone, tenantId, source: 'formulaire_inscription' } };"
      },
      "id": "Code_Validation",
      "name": "02. Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "HTTP_SaveLead",
      "name": "03. API - Sauvegarder Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "TalosPrimes API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Préparer données et créer notification lead créé\nconst validationData = $('02. Validation').first().json;\nconst saveResponse = $input.first().json;\nconst leadData = saveResponse?.data?.lead || saveResponse?.data || saveResponse;\n\nreturn {\n  json: {\n    nom: validationData.nom,\n    prenom: validationData.prenom,\n    email: validationData.email,\n    telephone: validationData.telephone,\n    tenantId: validationData.tenantId,\n    leadId: leadData?.id || '',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "Code_PrepareData",
      "name": "04. Préparer Données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "// Notification: Lead créé\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    type: 'lead_inscription',\n    titre: '📋 Nouveau lead créé',\n    message: `Un nouveau lead a été créé : ${data.prenom} ${data.nom} (${data.email})`,\n    donnees: {\n      tenantId: data.tenantId,\n      leadId: data.leadId,\n      nom: data.nom,\n      prenom: data.prenom,\n      email: data.email,\n      telephone: data.telephone\n    }\n  }\n};"
      },
      "id": "Code_NotificationLead",
      "name": "05. Notification - Lead Créé",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/notifications",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "HTTP_NotificationLead",
      "name": "06. API - Créer Notification Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "TalosPrimes API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Conserver données pour la suite\nconst data = $('04. Préparer Données').first().json;\nreturn { json: data };"
      },
      "id": "Code_Continue",
      "name": "07. Continuer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "// Préparer Email Client\nconst data = $input.first().json;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; margin: 0; padding: 0; background: #f5f5f5; }\n    .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: #ffffff; padding: 40px 30px; text-align: center; }\n    .header h1 { font-size: 28px; font-weight: 600; margin: 0; }\n    .content { padding: 40px 30px; }\n    .greeting { font-size: 18px; font-weight: 600; color: #1a1a1a; margin-bottom: 20px; }\n    .info-card { background: #f7fafc; border-left: 4px solid #667eea; padding: 20px; margin: 25px 0; border-radius: 4px; }\n    .info-item { display: flex; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid #e2e8f0; }\n    .info-item:last-child { border-bottom: none; }\n    .info-label { font-weight: 600; color: #4a5568; }\n    .info-value { color: #2d3748; }\n    .highlight { background: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%); border-left: 4px solid #f59e0b; padding: 20px; margin: 25px 0; border-radius: 4px; }\n    .highlight p { margin: 0; color: #92400e; }\n    .footer { background: #f7fafc; padding: 30px; text-align: center; border-top: 1px solid #e2e8f0; font-size: 12px; color: #718096; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>TalosPrimes</h1>\n    </div>\n    <div class=\"content\">\n      <div class=\"greeting\">Bonjour ${data.prenom} ${data.nom},</div>\n      <p style=\"color: #4a5568; margin: 20px 0;\">Nous avons bien reçu votre demande d'inscription sur <strong>TalosPrimes</strong>.</p>\n      <div class=\"info-card\">\n        <div class=\"info-item\"><span class=\"info-label\">Nom :</span><span class=\"info-value\">${data.nom}</span></div>\n        <div class=\"info-item\"><span class=\"info-label\">Prénom :</span><span class=\"info-value\">${data.prenom}</span></div>\n        <div class=\"info-item\"><span class=\"info-label\">Email :</span><span class=\"info-value\">${data.email}</span></div>\n        <div class=\"info-item\"><span class=\"info-label\">Téléphone :</span><span class=\"info-value\">${data.telephone}</span></div>\n      </div>\n      <div class=\"highlight\">\n        <p>Notre équipe va examiner votre demande et vous recontactera dans un délai de <strong>24 à 48 heures</strong>.</p>\n      </div>\n      <p style=\"color: #4a5568; margin-top: 30px;\">Cordialement,<br><strong>L'équipe TalosPrimes</strong></p>\n    </div>\n    <div class=\"footer\">\n      <p><strong>TalosPrimes</strong> - Plateforme SaaS de gestion d'entreprise</p>\n      <p>Cet email a été envoyé automatiquement.</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst text = `Bonjour ${data.prenom} ${data.nom},\n\nNous avons bien reçu votre demande d'inscription sur TalosPrimes.\n\nVos informations :\n- Nom : ${data.nom}\n- Prénom : ${data.prenom}\n- Email : ${data.email}\n- Téléphone : ${data.telephone}\n\nNotre équipe va examiner votre demande et vous recontactera dans un délai de 24 à 48 heures.\n\nCordialement,\nL'équipe TalosPrimes`;\n\nreturn {\n  json: {\n    to: data.email,\n    subject: \"Confirmation de votre demande d'inscription - TalosPrimes\",\n    html: html,\n    text: text,\n    tenantId: data.tenantId,\n    leadId: data.leadId\n  }\n};"
      },
      "id": "Code_FormatEmailClient",
      "name": "08. Formatage Email Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"TalosPrimes <noreply@talosprimes.com>\",\n  \"to\": [\"{{ $json.to }}\"],\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": {{ JSON.stringify($json.html) }},\n  \"text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "HTTP_ResendClient",
      "name": "09. Envoyer Email Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 400],
      "credentials": {
        "headerAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Notification: Email client envoyé\nconst emailData = $('08. Formatage Email Client').first().json;\n\nreturn {\n  json: {\n    type: 'lead_inscription_email',\n    titre: '📧 Email client envoyé',\n    message: `Email de confirmation envoyé à ${emailData.to}`,\n    donnees: {\n      tenantId: emailData.tenantId,\n      leadId: emailData.leadId,\n      email: emailData.to\n    }\n  }\n};"
      },
      "id": "Code_NotificationEmail",
      "name": "10. Notification - Email Envoyé",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/notifications",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "HTTP_NotificationEmail",
      "name": "11. API - Créer Notification Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "TalosPrimes API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Conserver données pour SMS\nconst data = $('04. Préparer Données').first().json;\nreturn { json: data };"
      },
      "id": "Code_ContinueSMS",
      "name": "12. Continuer pour SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 500]
    },
    {
      "parameters": {
        "jsCode": "// Préparer SMS\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    to: data.telephone,\n    message: `Bonjour ${data.prenom} ${data.nom}, votre demande d'inscription TalosPrimes a été reçue. Vous serez recontacté dans les 24 à 48 heures. Merci !`,\n    tenantId: data.tenantId,\n    leadId: data.leadId\n  }\n};"
      },
      "id": "Code_FormatSMS",
      "name": "13. Formatage SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 500]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "",
        "to": "={{ $json.to }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "Twilio_SMS",
      "name": "14. Envoyer SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2660, 500],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Notification: SMS envoyé\nconst smsData = $('13. Formatage SMS').first().json;\n\nreturn {\n  json: {\n    type: 'lead_inscription_sms',\n    titre: '📱 SMS envoyé',\n    message: `SMS de confirmation envoyé à ${smsData.to}`,\n    donnees: {\n      tenantId: smsData.tenantId,\n      leadId: smsData.leadId,\n      telephone: smsData.to\n    }\n  }\n};"
      },
      "id": "Code_NotificationSMS",
      "name": "15. Notification - SMS Envoyé",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/notifications",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "HTTP_NotificationSMS",
      "name": "16. API - Créer Notification SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3100, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "TalosPrimes API Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Votre demande a été prise en compte. Vous serez recontacté dans 24 à 48 heures.\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "Respond_Success",
      "name": "17. Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3320, 400]
    },
    {
      "parameters": {
        "jsCode": "// Notification d'erreur\nconst error = $input.first().json;\nconst validationData = $('02. Validation').first()?.json || {};\n\nreturn {\n  json: {\n    type: 'lead_inscription_error',\n    titre: '🚨 Erreur workflow inscription',\n    message: `Erreur lors de l'inscription : ${error.message || error.error?.message || 'Erreur inconnue'}`,\n    donnees: {\n      tenantId: validationData.tenantId || '',\n      error: error.message || error.error?.message || 'Erreur inconnue',\n      executionId: $execution.id,\n      nom: validationData.nom || 'N/A',\n      prenom: validationData.prenom || 'N/A',\n      email: validationData.email || 'N/A'\n    }\n  }\n};"
      },
      "id": "Code_NotificationError",
      "name": "ERROR. Notification Erreur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/notifications",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "HTTP_NotificationError",
      "name": "ERROR. API - Notification Erreur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "TalosPrimes API Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Une erreur s'est produite. Notre équipe a été notifiée.\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "Respond_Error",
      "name": "ERROR. Réponse Erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 800]
    }
  ],
  "connections": {
    "01. Webhook - Réception": {
      "main": [[{ "node": "02. Validation", "type": "main", "index": 0 }]]
    },
    "02. Validation": {
      "main": [[{ "node": "03. API - Sauvegarder Lead", "type": "main", "index": 0 }]],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "03. API - Sauvegarder Lead": {
      "main": [[{ "node": "04. Préparer Données", "type": "main", "index": 0 }]],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "04. Préparer Données": {
      "main": [
        [
          { "node": "05. Notification - Lead Créé", "type": "main", "index": 0 },
          { "node": "07. Continuer", "type": "main", "index": 0 }
        ]
      ],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "05. Notification - Lead Créé": {
      "main": [[{ "node": "06. API - Créer Notification Lead", "type": "main", "index": 0 }]],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "06. API - Créer Notification Lead": {
      "main": [[{ "node": "07. Continuer", "type": "main", "index": 0 }]],
      "error": []
    },
    "07. Continuer": {
      "main": [[{ "node": "08. Formatage Email Client", "type": "main", "index": 0 }]],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "08. Formatage Email Client": {
      "main": [
        [
          { "node": "09. Envoyer Email Client", "type": "main", "index": 0 },
          { "node": "10. Notification - Email Envoyé", "type": "main", "index": 0 }
        ]
      ],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "09. Envoyer Email Client": {
      "main": [[{ "node": "10. Notification - Email Envoyé", "type": "main", "index": 0 }]],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "10. Notification - Email Envoyé": {
      "main": [[{ "node": "11. API - Créer Notification Email", "type": "main", "index": 0 }]],
      "error": []
    },
    "11. API - Créer Notification Email": {
      "main": [[{ "node": "12. Continuer pour SMS", "type": "main", "index": 0 }]],
      "error": []
    },
    "12. Continuer pour SMS": {
      "main": [[{ "node": "13. Formatage SMS", "type": "main", "index": 0 }]],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "13. Formatage SMS": {
      "main": [[{ "node": "14. Envoyer SMS", "type": "main", "index": 0 }]],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "14. Envoyer SMS": {
      "main": [[{ "node": "15. Notification - SMS Envoyé", "type": "main", "index": 0 }]],
      "error": [[{ "node": "ERROR. Notification Erreur", "type": "main", "index": 0 }]]
    },
    "15. Notification - SMS Envoyé": {
      "main": [[{ "node": "16. API - Créer Notification SMS", "type": "main", "index": 0 }]],
      "error": []
    },
    "16. API - Créer Notification SMS": {
      "main": [[{ "node": "17. Réponse Succès", "type": "main", "index": 0 }]],
      "error": []
    },
    "ERROR. Notification Erreur": {
      "main": [[{ "node": "ERROR. API - Notification Erreur", "type": "main", "index": 0 }]]
    },
    "ERROR. API - Notification Erreur": {
      "main": [[{ "node": "ERROR. Réponse Erreur", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-09T00:00:00.000Z",
  "versionId": "1"
}
