n8n_workflows/leads/lead-create.json
{
  "name": "Leads - Create (lead_create) → API TalosPrimes → Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead_create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_LeadCreate",
      "name": "Webhook - lead_create",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "// n8n Webhook output met le payload dans $json.body\n// Payload backend attendu (dans body): { event, tenantId, timestamp, data, metadata }\nconst raw = $input.first().json;\nconst payload = (raw && typeof raw === 'object' && 'body' in raw) ? raw.body : raw;\nconst data = (payload && typeof payload === 'object' && 'data' in payload) ? payload.data : payload;\n\nconst nom = String(data?.nom ?? '').trim();\nconst prenom = String(data?.prenom ?? '').trim();\nconst email = String(data?.email ?? '').trim();\nconst telephone = String(data?.telephone ?? '').trim();\nconst source = String(data?.source ?? 'admin').trim() || 'admin';\nconst notes = data?.notes ?? undefined;\n\nif (!nom || !prenom || !email || !telephone) {\n  throw new Error('Champs requis manquants (nom, prenom, email, telephone)');\n}\n\nreturn [{ json: { nom, prenom, email, telephone, source, notes } }];\n"
      },
      "id": "Code_Normalize",
      "name": "Normaliser payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "HTTP_SaveLead",
      "name": "API TalosPrimes - Save Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [780, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "TalosPrimes API Auth"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}",
        "responseCode": 200,
        "options": {}
      },
      "id": "Respond_LeadCreate",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook - lead_create": {
      "main": [
        [
          {
            "node": "Normaliser payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliser payload": {
      "main": [
        [
          {
            "node": "API TalosPrimes - Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API TalosPrimes - Save Lead": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1"
}


