n8n_workflows/leads/lead-entretien.json
{
  "name": "Leads - Entretien (lead_entretien) → Get Lead → Send Email → Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead_entretien",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Entretien",
      "name": "Webhook - lead_entretien",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parser le payload du webhook\nconst raw = $input.first().json;\nconst payload = (raw && typeof raw === 'object' && 'body' in raw) ? raw.body : raw;\nconst data = (payload && typeof payload === 'object' && 'data' in payload) ? payload.data : payload;\n\nconst leadId = data?.id || data?.leadId ? String(data.id || data.leadId) : '';\nconst dateEntretien = data?.dateEntretien || data?.date || '';\nconst heureEntretien = data?.heureEntretien || data?.heure || '';\nconst typeEntretien = data?.typeEntretien || data?.type || 'téléphonique';\n\nif (!leadId) throw new Error('ID du lead requis');\n\nreturn [{ json: { leadId, dateEntretien, heureEntretien, typeEntretien } }];\n"
      },
      "id": "Code_Parse",
      "name": "Parser payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.talosprimes.com/api/leads/{{$json.leadId}}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "HTTP_GetLead",
      "name": "API TalosPrimes - Get Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "TalosPrimes API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraire les données du lead depuis la réponse API\nconst response = $input.first().json;\n// La réponse API est: { success: true, data: { lead: {...} } }\nconst leadData = response.data?.lead || response.data || response;\nconst parsed = $('Parser payload').first().json;\n\nconst leadId = leadData.id || leadData.leadId || parsed.leadId;\nconst nom = leadData.nom || '';\nconst prenom = leadData.prenom || '';\nconst email = leadData.email || '';\nconst telephone = leadData.telephone || '';\nconst dateEntretien = parsed.dateEntretien || '';\nconst heureEntretien = parsed.heureEntretien || '';\nconst typeEntretien = parsed.typeEntretien || 'téléphonique';\n\nif (!leadId) throw new Error('ID du lead introuvable');\nif (!email) throw new Error('Email du lead introuvable');\n\n// Générer un lien de planification (à personnaliser selon votre système)\nconst lienPlanification = `https://talosprimes.com/planifier/${leadId}`;\n\n// Formater la date et l'heure si fournies\nlet dateHeureFormatee = '';\nif (dateEntretien && heureEntretien) {\n  const date = new Date(`${dateEntretien}T${heureEntretien}`);\n  dateHeureFormatee = date.toLocaleString('fr-FR', { \n    weekday: 'long', \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n}\n\nreturn [{ json: { leadId, nom, prenom, email, telephone, dateEntretien, heureEntretien, typeEntretien, dateHeureFormatee, lienPlanification } }];\n"
      },
      "id": "Code_Prepare",
      "name": "Préparer données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formater l'email entretien pour le lead\nconst data = $input.first().json;\n\n// Afficher le bouton seulement pour visioconférence\nconst showButton = data.typeEntretien === 'visioconférence' && data.lienPlanification;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background: #f4f4f4; }\n    .container { max-width: 600px; margin: 20px auto; background: #fff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #10b981 0%, #059669 100%); color: white; padding: 40px 30px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; font-weight: 600; }\n    .content { padding: 40px 30px; }\n    .greeting { font-size: 20px; font-weight: 600; color: #1f2937; margin-bottom: 20px; }\n    .welcome-box { background: linear-gradient(135deg, #d1fae5 0%, #a7f3d0 100%); padding: 20px; border-radius: 8px; margin: 25px 0; text-align: center; }\n    .welcome-box p { margin: 0; color: #059669; font-weight: 500; }\n    .info-box { background-color: #f0fdf4; border-left: 4px solid #10b981; padding: 20px; margin: 25px 0; border-radius: 6px; }\n    .button { display: inline-block; padding: 14px 32px; background: linear-gradient(135deg, #10b981 0%, #059669 100%); color: white; text-decoration: none; border-radius: 8px; margin: 25px 0; font-weight: 600; box-shadow: 0 4px 6px rgba(16, 185, 129, 0.3); transition: transform 0.2s; }\n    .button:hover { transform: translateY(-2px); }\n    .footer { background: #f9fafb; padding: 25px; text-align: center; color: #6b7280; font-size: 13px; border-top: 1px solid #e5e7eb; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>TalosPrimes</h1>\n      <p style=\"margin: 10px 0 0 0; opacity: 0.95;\">Gestion d'entreprise automatisée</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"greeting\">Bonjour ${data.prenom} ${data.nom} 👋</div>\n      <div class=\"welcome-box\">\n        <p>Bienvenue chez TalosPrimes !</p>\n      </div>\n      <p style=\"color: #374151; margin: 20px 0;\">Nous avons le plaisir de vous proposer un <strong>entretien ${data.typeEntretien}</strong> pour discuter de vos besoins et vous présenter nos solutions.</p>\n      ${data.dateHeureFormatee ? `<div class=\"info-box\"><strong style=\"color: #059669;\">📅 Date et heure proposées :</strong><br><span style=\"color: #1f2937; font-size: 16px;\">${data.dateHeureFormatee}</span></div>` : ''}\n      ${showButton ? `<p style=\"text-align: center;\"><a href=\"${data.lienPlanification}\" class=\"button\">🎥 Rejoindre l'entretien</a></p>` : ''}\n      ${!data.dateHeureFormatee && !showButton ? `<p style=\"color: #6b7280; margin: 20px 0;\">Nous vous contacterons prochainement pour convenir d'un créneau qui vous convient.</p>` : ''}\n      <p style=\"color: #374151; margin: 30px 0 20px 0;\">Nous restons à votre disposition pour toute question.</p>\n      <p style=\"color: #374151; margin: 20px 0;\">Cordialement,<br><strong>L'équipe TalosPrimes</strong></p>\n    </div>\n    <div class=\"footer\">\n      <p><strong>TalosPrimes</strong> - Plateforme SaaS de gestion d'entreprise</p>\n      <p>Cet email a été envoyé automatiquement.</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst text = `Bonjour ${data.prenom} ${data.nom},\n\nBienvenue chez TalosPrimes !\n\nNous avons le plaisir de vous proposer un entretien ${data.typeEntretien} pour discuter de vos besoins et vous présenter nos solutions.\n\n${data.dateHeureFormatee ? `Date et heure proposées : ${data.dateHeureFormatee}` : ''}\n${showButton ? `Lien de planification : ${data.lienPlanification}` : ''}\n${!data.dateHeureFormatee && !showButton ? 'Nous vous contacterons prochainement pour convenir d\\'un créneau qui vous convient.' : ''}\n\nNous restons à votre disposition pour toute question.\n\nCordialement,\nL'équipe TalosPrimes`;\n\nreturn {\n  json: {\n    from: \"TalosPrimes <contact@talosprimes.com>\",\n    to: [data.email],\n    subject: \"Bienvenue chez TalosPrimes - Planification d'entretien\",\n    html: html,\n    text: text\n  }\n};"
      },
      "id": "Code_FormatEmailLead",
      "name": "Formater Email Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "headerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"to\": {{ JSON.stringify($json.to) }},\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": {{ JSON.stringify($json.html) }},\n  \"text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "Resend_Email",
      "name": "Resend - Email Entretien (Lead)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 200],
      "credentials": {
        "headerAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formater l'email récapitulatif pour l'équipe\nconst data = $input.first().json;\nconst now = new Date();\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background: #f4f4f4; }\n    .container { max-width: 600px; margin: 20px auto; background: #fff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #10b981 0%, #059669 100%); color: white; padding: 30px; text-align: center; }\n    .content { padding: 30px; }\n    .info-box { background-color: #f0fdf4; border-left: 4px solid #10b981; padding: 20px; margin: 20px 0; border-radius: 6px; }\n    .info-row { margin: 12px 0; padding: 8px 0; border-bottom: 1px solid #bbf7d0; }\n    .info-row:last-child { border-bottom: none; }\n    .label { font-weight: 600; color: #059669; display: inline-block; min-width: 140px; }\n    .value { color: #1f2937; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2 style=\"margin: 0;\">📞 Entretien planifié</h2>\n    </div>\n    <div class=\"content\">\n      <div class=\"info-box\">\n        <div class=\"info-row\"><span class=\"label\">Client :</span> <span class=\"value\">${data.prenom} ${data.nom}</span></div>\n        <div class=\"info-row\"><span class=\"label\">Email :</span> <span class=\"value\">${data.email}</span></div>\n        <div class=\"info-row\"><span class=\"label\">Téléphone :</span> <span class=\"value\">${data.telephone}</span></div>\n        <div class=\"info-row\"><span class=\"label\">Type d'entretien :</span> <span class=\"value\">${data.typeEntretien}</span></div>\n        ${data.dateHeureFormatee ? `<div class=\"info-row\"><span class=\"label\">Date et heure :</span> <span class=\"value\">${data.dateHeureFormatee}</span></div>` : ''}\n        <div class=\"info-row\"><span class=\"label\">Date :</span> <span class=\"value\">${now.toLocaleString('fr-FR')}</span></div>\n        ${data.lienPlanification ? `<div class=\"info-row\"><span class=\"label\">Lien planification :</span> <span class=\"value\"><a href=\"${data.lienPlanification}\" style=\"color: #059669;\">${data.lienPlanification}</a></span></div>` : ''}\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst text = `Récapitulatif - Entretien planifié\n\nClient : ${data.prenom} ${data.nom}\nEmail : ${data.email}\nTéléphone : ${data.telephone}\n\nType d'entretien : ${data.typeEntretien}\n${data.dateHeureFormatee ? `Date et heure : ${data.dateHeureFormatee}` : 'Date/heure non spécifiées'}\n\nEntretien envoyé le : ${now.toLocaleString('fr-FR')}\n${data.lienPlanification ? `Lien planification : ${data.lienPlanification}` : ''}`;\n\nreturn {\n  json: {\n    from: \"TalosPrimes <contact@talosprimes.com>\",\n    to: [\"contact@talosprimes.com\"],\n    subject: `📞 Entretien planifié - ${data.prenom} ${data.nom}`,\n    html: html,\n    text: text\n  }\n};"
      },
      "id": "Code_FormatEmailTeam",
      "name": "Formater Email Équipe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "headerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.from }}\",\n  \"to\": {{ JSON.stringify($json.to) }},\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": {{ JSON.stringify($json.html) }},\n  \"text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "Resend_Email_Team",
      "name": "Resend - Email Récapitulatif (Équipe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 400],
      "credentials": {
        "headerAuth": {
          "id": "REPLACE_WITH_RESEND_CREDENTIAL_ID",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "Merge_Emails",
      "name": "Merge - Emails envoyés",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "responseBody": "={{ { success: true, message: 'Email d\\'entretien envoyé avec succès', leadId: $('Préparer données').first().json.leadId } }}",
        "responseCode": 200,
        "options": {}
      },
      "id": "Respond_Entretien",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1980, 300]
    }
  ],
  "connections": {
    "Webhook - lead_entretien": {
      "main": [
        [
          {
            "node": "Parser payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser payload": {
      "main": [
        [
          {
            "node": "API TalosPrimes - Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API TalosPrimes - Get Lead": {
      "main": [
        [
          {
            "node": "Préparer données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer données": {
      "main": [
        [
          {
            "node": "Formater Email Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Formater Email Équipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Email Lead": {
      "main": [
        [
          {
            "node": "Resend - Email Entretien (Lead)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend - Email Entretien (Lead)": {
      "main": [
        [
          {
            "node": "Merge - Emails envoyés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Email Équipe": {
      "main": [
        [
          {
            "node": "Resend - Email Récapitulatif (Équipe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend - Email Récapitulatif (Équipe)": {
      "main": [
        [
          {
            "node": "Merge - Emails envoyés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Emails envoyés": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1"
}