n8n_workflows/talosprimes/agent-telephonique/questionnaire-create.json
{
  "name": "questionnaire-create",
  "nodes": [
    {
      "parameters": {
        "path": "questionnaire-create",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse et valide le body\nvar body = $input.first().json.body || $input.first().json;\n\nvar tenantId = String(body.tenantId || '').replace(/[^a-f0-9-]/gi, '');\nvar leadId = String(body.leadId || '').replace(/[^a-f0-9-]/gi, '');\nvar channel = ['telephone', 'sms', 'web'].includes(body.channel) ? body.channel : 'telephone';\nvar status = ['en_cours', 'complete', 'abandonne'].includes(body.status) ? body.status : 'en_cours';\n\n// Questions: array de {question, answer, order}\nvar questions = [];\ntry {\n  var raw = body.questions || [];\n  if (typeof raw === 'string') raw = JSON.parse(raw);\n  for (var i = 0; i < raw.length; i++) {\n    questions.push({\n      question: String(raw[i].question || '').substring(0, 500),\n      answer: raw[i].answer ? String(raw[i].answer).substring(0, 1000) : null,\n      order: raw[i].order || (i + 1)\n    });\n  }\n} catch(e) {}\n\nvar completedAt = status === 'complete' ? new Date().toISOString() : null;\n\nreturn [{ json: { tenantId, leadId, channel, status, questions, completedAt } }];"
      },
      "name": "02. Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.tenantId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "leftValue": "={{ $json.leadId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "03. Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWithCode": 400,
        "responseBody": "={{ JSON.stringify({ success: false, error: 'tenantId et leadId sont requis' }) }}"
      },
      "name": "04. Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (function() {\n  var d = $json;\n  var id = require('crypto').randomUUID();\n  var questionsJson = JSON.stringify(d.questions || []).replace(/'/g, \"''\");\n  var completedAt = d.completedAt ? \"'\" + d.completedAt + \"'\" : 'NULL';\n  return \"INSERT INTO questionnaires (id, tenant_id, lead_id, questions, status, channel, completed_at, created_at, updated_at) \"\n    + \"VALUES ('\" + id + \"', '\" + d.tenantId + \"', '\" + d.leadId + \"', '\" + questionsJson + \"'::jsonb, '\" + d.status + \"', '\" + d.channel + \"', \" + completedAt + \", NOW(), NOW()) \"\n    + \"RETURNING id, tenant_id, lead_id, status, channel, created_at\";\n})() }}",
        "options": {}
      },
      "name": "05. Insert Questionnaire",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [910, 300],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var inserted = $input.first().json;\nreturn [{ json: {\n  success: true,\n  questionnaireId: inserted.id,\n  status: inserted.status,\n  channel: inserted.channel,\n  message: 'Questionnaire créé avec succès'\n} }];"
      },
      "name": "06. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}"
      },
      "name": "07. Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [[{ "node": "02. Parse Input", "type": "main", "index": 0 }]]
    },
    "02. Parse Input": {
      "main": [[{ "node": "03. Validate", "type": "main", "index": 0 }]]
    },
    "03. Validate": {
      "main": [
        [{ "node": "05. Insert Questionnaire", "type": "main", "index": 0 }],
        [{ "node": "04. Error Response", "type": "main", "index": 0 }]
      ]
    },
    "05. Insert Questionnaire": {
      "main": [[{ "node": "06. Format Response", "type": "main", "index": 0 }]]
    },
    "06. Format Response": {
      "main": [[{ "node": "07. Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
