n8n_workflows/talosprimes/agent-telephonique/sms-send.json
{
  "name": "sms-send",
  "nodes": [
    {
      "parameters": {
        "path": "sms-send",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  id: require('crypto').randomUUID(),\n  tenantId: body.tenantId,\n  leadId: body.leadId || null,\n  phoneNumber: body.phoneNumber,\n  message: body.message,\n  templateId: body.templateId || null,\n  campaignId: body.campaignId || null,\n  sendAt: body.sendAt || new Date().toISOString()\n} }];"
      },
      "name": "Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        250
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "762e8917-9b6e-48d3-a088-aebd6a65ffb0",
              "leftValue": "={{ $json.tenantId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "0ba190f9-3770-49af-826d-0f7d8641d030",
              "leftValue": "={{ $json.phoneNumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "e37f8659-abbc-4ed5-bb6d-d25790f0ebc6",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "respondWithCode": 400,
        "responseBody": "={{ { success: false, error: 'Missing required fields: tenantId, phoneNumber, message' } }}"
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  smsId: $json.id,\n  phoneNumber: $json.phoneNumber,\n  message: $json.message,\n  status: 'queued',\n  sendAt: $json.sendAt,\n  success: true,\n  message: 'SMS queued for sending successfully'\n} }];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        250
      ]
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        250
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parser",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "If",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Format Response",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ],
        [
          {
            "node": "Respond Error",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
