n8n_workflows/talosprimes/agent-telephonique/sms-log-create.json
{
  "name": "sms-log-create",
  "nodes": [
    {
      "parameters": {
        "path": "sms-log-create",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst _wb = (raw && raw.body && typeof raw.body === \"object\") ? raw.body : raw;\nconst body = (_wb && _wb.data && typeof _wb.data === \"object\") ? { ..._wb.data, tenantId: _wb.data.tenantId || _wb.tenantId } : _wb;\nreturn {\n  id: require('crypto').randomUUID(),\n  tenantId: body.tenantId,\n  leadId: body.leadId || null,\n  phoneNumber: body.phoneNumber,\n  message: body.message,\n  status: body.status || 'sent',\n  direction: body.direction || 'outbound',\n  templateId: body.templateId || null,\n  campaignId: body.campaignId || null,\n  sentAt: body.sentAt || new Date().toISOString(),\n  deliveredAt: body.deliveredAt || null,\n  failureReason: body.failureReason || null\n};"
      },
      "name": "Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        250
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "notEmpty"
            },
            {
              "value1": "={{ $json.phoneNumber }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "respondWithCode": 400,
        "responseBody": "{{ { error: 'Missing required fields: tenantId, phoneNumber', success: false } }}"
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        150
      ]
    },
    {
      "parameters": {
        "host": "{{ $env.DB_HOST }}",
        "database": "{{ $env.DB_NAME }}",
        "user": "{{ $env.DB_USER }}",
        "password": "{{ $env.DB_PASSWORD }}",
        "port": 5432,
        "operation": "executeQuery",
        "query": "INSERT INTO sms_logs (id, tenant_id, lead_id, phone_number, message, status, direction, template_id, campaign_id, sent_at, delivered_at, failure_reason, created_at, updated_at) VALUES ('{{ $json.id }}', '{{ $json.tenantId }}', {{ $json.leadId ? \"'\" + $json.leadId + \"'\" : 'NULL' }}, '{{ $json.phoneNumber }}', '{{ $json.message }}', '{{ $json.status }}', '{{ $json.direction }}', {{ $json.templateId ? \"'\" + $json.templateId + \"'\" : 'NULL' }}, {{ $json.campaignId ? \"'\" + $json.campaignId + \"'\" : 'NULL' }}, '{{ $json.sentAt }}', {{ $json.deliveredAt ? \"'\" + $json.deliveredAt + \"'\" : 'NULL' }}, {{ $json.failureReason ? \"'\" + $json.failureReason + \"'\" : 'NULL' }}, NOW(), NOW())"
      },
      "name": "Postgres Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        850,
        250
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  smsLogId: $json.id,\n  phoneNumber: $json.phoneNumber,\n  status: $json.status,\n  sentAt: $json.sentAt,\n  success: true,\n  message: 'SMS log created successfully'\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        250
      ]
    },
    {
      "parameters": {
        "responseBody": "{{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        250
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parser",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "If",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres Insert",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ],
        [
          {
            "node": "Respond Error",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Postgres Insert": {
      "main": [
        [
          {
            "node": "Format Response",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    }
  }
}
