n8n_workflows/talosprimes/agent-telephonique/twilio-config-get.json
{
  "name": "twilio-config-get",
  "nodes": [
    {
      "parameters": {
        "path": "twilio-config-get",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.body;\nreturn {\n  tenantId: body.tenantId\n};"
      },
      "name": "Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        250
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "respondWithCode": 400,
        "responseBody": "={{ JSON.stringify({success: false, error: 'Missing required field: tenantId'}) }}"
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tenant_id, account_sid, auth_token, phone_number, is_active, created_at, updated_at FROM twilio_configs WHERE tenant_id = $1",
        "queryParameters": "={{ [$json.tenantId] }}"
      },
      "name": "Postgres Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        850,
        250
      ],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nif (results.length === 0) {\n  return { twilio_config: null, success: true, message: 'No Twilio config found' };\n}\nreturn {\n  twilio_config: results[0].json,\n  success: true,\n  message: 'Twilio config retrieved successfully'\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        250
      ]
    },
    {
      "parameters": {
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        250
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parser",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "If",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres Query",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ],
        [
          {
            "node": "Respond Error",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Postgres Query": {
      "main": [
        [
          {
            "node": "Format Response",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "branch": 0,
            "index": 0,
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {}
}