n8n_workflows/talosprimes/newsletter/newsletter-dashboard.json
{
  "name": "newsletter-dashboard",
  "nodes": [
    {
      "parameters": {
        "path": "newsletter/dashboard",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "var raw=$input.first().json;\nfunction pj(x){if(typeof x!=='string')return x;try{return JSON.parse(x)}catch(e){return null}}\nfunction isO(v){return v!==null&&typeof v==='object'&&!Array.isArray(v)}\nfunction g(o,k1,k2){if(!isO(o))return null;var v=o[k1];if(v!=null&&v!=='')return v;if(k2){v=o[k2];if(v!=null&&v!=='')return v}return null}\nvar payload=isO(raw)?raw:{};\nif(isO(raw)&&raw.body!==undefined)payload=typeof raw.body==='string'?pj(raw.body):raw.body;\nif(!isO(payload))payload={};\nvar data=isO(payload.data)?payload.data:payload;\nif(!isO(data))data=payload;\nvar tenantId=g(payload,'tenantId')||g(data,'tenantId')||g(raw,'tenantId');\nif(!tenantId)return [{json:{_error:true,message:'tenantId requis'}}];\nreturn [{json:{tenantId}}];"
      },
      "id": "parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ String($json._error || '') }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{ $json.message }}\"}"
      },
      "id": "respond-err",
      "name": "04. Repondre erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 480]
    },
    {
      "parameters": {
        "jsCode": "var p = $('02. Parser').first().json;\nvar tid = p.tenantId;\nvar query = `SELECT json_build_object(\n  'campaigns', json_build_object(\n    'total', (SELECT COUNT(*) FROM email_campaigns WHERE tenant_id = '${tid}'),\n    'brouillon', (SELECT COUNT(*) FROM email_campaigns WHERE tenant_id = '${tid}' AND status = 'brouillon'),\n    'planifiee', (SELECT COUNT(*) FROM email_campaigns WHERE tenant_id = '${tid}' AND status = 'planifiee'),\n    'envoyee', (SELECT COUNT(*) FROM email_campaigns WHERE tenant_id = '${tid}' AND status = 'envoyee'),\n    'total_envoyes', (SELECT COALESCE(SUM(total_envoyes), 0) FROM email_campaigns WHERE tenant_id = '${tid}'),\n    'total_ouverts', (SELECT COALESCE(SUM(total_ouverts), 0) FROM email_campaigns WHERE tenant_id = '${tid}'),\n    'total_cliques', (SELECT COALESCE(SUM(total_cliques), 0) FROM email_campaigns WHERE tenant_id = '${tid}'),\n    'total_bounces', (SELECT COALESCE(SUM(total_bounces), 0) FROM email_campaigns WHERE tenant_id = '${tid}'),\n    'total_desabonnes', (SELECT COALESCE(SUM(total_desabonnes), 0) FROM email_campaigns WHERE tenant_id = '${tid}')\n  ),\n  'subscribers', json_build_object(\n    'total', (SELECT COUNT(*) FROM subscribers WHERE tenant_id = '${tid}'),\n    'active', (SELECT COUNT(*) FROM subscribers WHERE tenant_id = '${tid}' AND status = 'active'),\n    'unsubscribed', (SELECT COUNT(*) FROM subscribers WHERE tenant_id = '${tid}' AND status = 'unsubscribed'),\n    'bounced', (SELECT COUNT(*) FROM subscribers WHERE tenant_id = '${tid}' AND status = 'bounced'),\n    'new_last_30_days', (SELECT COUNT(*) FROM subscribers WHERE tenant_id = '${tid}' AND created_at >= NOW() - INTERVAL '30 days'),\n    'total_lists', (SELECT COUNT(*) FROM subscriber_lists WHERE tenant_id = '${tid}')\n  ),\n  'sms', json_build_object(\n    'total', (SELECT COUNT(*) FROM sms_campaigns WHERE tenant_id = '${tid}'),\n    'total_envoyes', (SELECT COALESCE(SUM(total_envoyes), 0) FROM sms_campaigns WHERE tenant_id = '${tid}'),\n    'total_delivered', (SELECT COALESCE(SUM(total_delivered), 0) FROM sms_campaigns WHERE tenant_id = '${tid}'),\n    'total_failed', (SELECT COALESCE(SUM(total_failed), 0) FROM sms_campaigns WHERE tenant_id = '${tid}')\n  ),\n  'templates', json_build_object(\n    'total', (SELECT COUNT(*) FROM email_templates WHERE tenant_id = '${tid}')\n  ),\n  'recent_campaigns', (SELECT COALESCE(json_agg(row_to_json(sub)), '[]'::json) FROM (SELECT id, nom, sujet, status, scheduled_at, sent_at, total_envoyes, total_ouverts, total_cliques FROM email_campaigns WHERE tenant_id = '${tid}' ORDER BY created_at DESC LIMIT 5) sub),\n  'avg_open_rate', (SELECT CASE WHEN COALESCE(SUM(total_envoyes), 0) > 0 THEN ROUND(COALESCE(SUM(total_ouverts), 0)::numeric / SUM(total_envoyes)::numeric * 100, 1) ELSE 0 END FROM email_campaigns WHERE tenant_id = '${tid}' AND status = 'envoyee'),\n  'avg_click_rate', (SELECT CASE WHEN COALESCE(SUM(total_envoyes), 0) > 0 THEN ROUND(COALESCE(SUM(total_cliques), 0)::numeric / SUM(total_envoyes)::numeric * 100, 1) ELSE 0 END FROM email_campaigns WHERE tenant_id = '${tid}' AND status = 'envoyee')\n) AS dashboard`;\nreturn [{json:{query}}];"
      },
      "id": "build-query",
      "name": "05. Construire requete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('05. Construire requete').first().json.query }}"
      },
      "id": "pg-dashboard",
      "name": "06. SELECT dashboard",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1080, 300],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var items = $input.all();\nif (!items || items.length === 0) {\n  return [{json:{dashboard:{}}}];\n}\nvar row = $input.first().json;\nvar dashboard = row.dashboard || {};\nif (typeof dashboard === 'string') dashboard = JSON.parse(dashboard);\nreturn [{json:{dashboard}}];"
      },
      "id": "format",
      "name": "07. Formater reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "respond-ok",
      "name": "08. Repondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 300]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [[{ "node": "02. Parser", "type": "main", "index": 0 }]]
    },
    "02. Parser": {
      "main": [[{ "node": "03. Valide ?", "type": "main", "index": 0 }]]
    },
    "03. Valide ?": {
      "main": [
        [{ "node": "05. Construire requete", "type": "main", "index": 0 }],
        [{ "node": "04. Repondre erreur", "type": "main", "index": 0 }]
      ]
    },
    "05. Construire requete": {
      "main": [[{ "node": "06. SELECT dashboard", "type": "main", "index": 0 }]]
    },
    "06. SELECT dashboard": {
      "main": [[{ "node": "07. Formater reponse", "type": "main", "index": 0 }]]
    },
    "07. Formater reponse": {
      "main": [[{ "node": "08. Repondre", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
