n8n_workflows/talosprimes/newsletter/newsletter-analytics.json
{
  "name": "Newsletter Analytics",
  "nodes": [
    {
      "parameters": {
        "path": "newsletter/analytics",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 200]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst tenantId = body.tenantId;\n\nfunction esc(v) {\n  return v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\nconst query1 = `SELECT COUNT(*) as total_sent, COALESCE(SUM(envoyes), 0) as total_envoyes, COALESCE(SUM(ouverts), 0) as total_ouverts, COALESCE(SUM(cliques), 0) as total_cliques, COALESCE(SUM(bounces), 0) as total_bounces, COALESCE(SUM(desabonnes), 0) as total_desabonnes FROM newsletter_campaigns WHERE tenant_id = ${esc(tenantId)}`;\nconst query2 = `SELECT name, subject, (CAST(ouverts as FLOAT) / NULLIF(envoyes, 0) * 100) as open_rate, (CAST(cliques as FLOAT) / NULLIF(envoyes, 0) * 100) as click_rate FROM newsletter_campaigns WHERE tenant_id = ${esc(tenantId)} ORDER BY open_rate DESC NULLS LAST LIMIT 5`;\nconst query3 = `SELECT DATE_TRUNC('month', created_at)::DATE as month, COUNT(*) as campaign_count, COALESCE(SUM(envoyes), 0) as total_envoyes FROM newsletter_campaigns WHERE tenant_id = ${esc(tenantId)} AND created_at >= NOW() - INTERVAL '6 months' GROUP BY DATE_TRUNC('month', created_at) ORDER BY month DESC`;\nconst query4 = `SELECT COUNT(*) as count FROM subscribers WHERE tenant_id = ${esc(tenantId)} AND status = 'active'`;\n\nreturn { queries: [query1, query2, query3, query4] };"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": ""},
          "conditions": [{"id": "check", "leftValue": "={{ $('02. Parser').first().json.queries.length }}", "operator": {"type": "number", "operation": ">"}, "value": 0}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "respondWithOptions": {"responseType": "json"},
        "responseBody": "{ \"success\": false, \"error\": \"Validation failed\" }"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('02. Parser').first().json.queries[0] }}"
      },
      "id": "05. Query Aggregate Stats",
      "name": "05. Query Aggregate Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {"name": "Supabase Postgres", "id": "OGqj65ZoFRileCck"}
      },
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('02. Parser').first().json.queries[1] }}"
      },
      "id": "06. Query Best Campaigns",
      "name": "06. Query Best Campaigns",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {"name": "Supabase Postgres", "id": "OGqj65ZoFRileCck"}
      },
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('02. Parser').first().json.queries[2] }}"
      },
      "id": "07. Query Monthly Sends",
      "name": "07. Query Monthly Sends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {"name": "Supabase Postgres", "id": "OGqj65ZoFRileCck"}
      },
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('02. Parser').first().json.queries[3] }}"
      },
      "id": "08. Query Active Subscribers",
      "name": "08. Query Active Subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {"name": "Supabase Postgres", "id": "OGqj65ZoFRileCck"}
      },
      "position": [1300, 300]
    },
    {
      "parameters": {
        "jsCode": "const aggregateData = $('05. Query Aggregate Stats').first().json || [];\nconst bestCampaignsData = $('06. Query Best Campaigns').first().json || [];\nconst monthlySendsData = $('07. Query Monthly Sends').first().json || [];\nconst activeSubscribersData = $('08. Query Active Subscribers').first().json || [];\n\nconst aggregateStats = (Array.isArray(aggregateData) && aggregateData.length > 0) ? aggregateData[0] : {};\n\nconst totalSent = parseInt(aggregateStats.total_sent) || 0;\nconst totalEnvoyes = parseInt(aggregateStats.total_envoyes) || 0;\nconst totalOuverts = parseInt(aggregateStats.total_ouverts) || 0;\nconst totalCliques = parseInt(aggregateStats.total_cliques) || 0;\n\nconst avgOpenRate = totalEnvoyes > 0 ? (totalOuverts / totalEnvoyes * 100).toFixed(2) : 0;\nconst avgClickRate = totalEnvoyes > 0 ? (totalCliques / totalEnvoyes * 100).toFixed(2) : 0;\n\nconst bestCampaigns = Array.isArray(bestCampaignsData) ? bestCampaignsData.map(row => ({\n  name: row.name,\n  subject: row.subject,\n  openRate: parseFloat(row.open_rate || 0).toFixed(2),\n  clickRate: parseFloat(row.click_rate || 0).toFixed(2)\n})) : [];\n\nconst monthlySends = Array.isArray(monthlySendsData) ? monthlySendsData.map(row => ({\n  month: row.month,\n  campaignCount: parseInt(row.campaign_count) || 0,\n  totalEnvoyes: parseInt(row.total_envoyes) || 0\n})) : [];\n\nconst totalActiveSubscribers = (Array.isArray(activeSubscribersData) && activeSubscribersData.length > 0) ? parseInt(activeSubscribersData[0].count) || 0 : 0;\n\nconst formatted = {\n  analytics: {\n    totalSent: totalSent,\n    totalEnvoyes: totalEnvoyes,\n    totalOuverts: totalOuverts,\n    totalCliques: totalCliques,\n    avgOpenRate: parseFloat(avgOpenRate),\n    avgClickRate: parseFloat(avgClickRate),\n    bestCampaigns: bestCampaigns,\n    monthlySends: monthlySends,\n    totalActiveSubscribers: totalActiveSubscribers\n  }\n};\n\nreturn formatted;"
      },
      "id": "09. Format Response",
      "name": "09. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "10. Respond",
      "name": "10. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1700, 300]
    }
  ],
  "connections": {
    "01. Webhook": {"main": [[{"node": "02. Parser", "type": "main", "index": 0}]]},
    "02. Parser": {"main": [[{"node": "03. Valide ?", "type": "main", "index": 0}]]},
    "03. Valide ?": {"main": [
      [{"node": "05. Query Aggregate Stats", "type": "main", "index": 0}],
      [{"node": "04. Respond Error", "type": "main", "index": 0}]
    ]},
    "05. Query Aggregate Stats": {"main": [[{"node": "06. Query Best Campaigns", "type": "main", "index": 0}]]},
    "06. Query Best Campaigns": {"main": [[{"node": "07. Query Monthly Sends", "type": "main", "index": 0}]]},
    "07. Query Monthly Sends": {"main": [[{"node": "08. Query Active Subscribers", "type": "main", "index": 0}]]},
    "08. Query Active Subscribers": {"main": [[{"node": "09. Format Response", "type": "main", "index": 0}]]},
    "09. Format Response": {"main": [[{"node": "10. Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "active": true
}
