n8n_workflows/talosprimes/newsletter/newsletter-campaigns-stats.json
{
  "name": "newsletter-campaigns-stats",
  "nodes": [
    {
      "parameters": {
        "path": "newsletter/campaigns-stats",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nvar tenantId = body.tenantId;\n\nvar totalCampaignsQuery = `SELECT COUNT(*) as total FROM email_campaigns WHERE tenant_id = $1`;\nvar byStatusQuery = `SELECT status, COUNT(*) as count FROM email_campaigns WHERE tenant_id = $1 GROUP BY status`;\nvar totalSubscribersQuery = `SELECT COUNT(*) as total FROM subscriber_accounts WHERE tenant_id = $1 AND is_active = true`;\nvar avgRateQuery = `SELECT AVG(CASE WHEN total_envoyes > 0 THEN (total_ouverts::float / total_envoyes::float) * 100 ELSE 0 END) as avg_open_rate, AVG(CASE WHEN total_envoyes > 0 THEN (total_cliques::float / total_envoyes::float) * 100 ELSE 0 END) as avg_click_rate FROM email_campaigns WHERE tenant_id = $1 AND status = 'envoyee' AND total_envoyes > 0`;\nvar recentQuery = `SELECT id, tenant_id AS \\\"tenantId\\\", nom, sujet, status, sent_at AS \\\"sentAt\\\", total_envoyes AS \\\"totalEnvoyes\\\", total_ouverts AS \\\"totalOuverts\\\", total_cliques AS \\\"totalCliques\\\" FROM email_campaigns WHERE tenant_id = $1 AND status = 'envoyee' ORDER BY sent_at DESC LIMIT 5`;\n\nvar params = [tenantId];\n\nreturn {\n  totalCampaignsQuery: totalCampaignsQuery,\n  byStatusQuery: byStatusQuery,\n  totalSubscribersQuery: totalSubscribersQuery,\n  avgRateQuery: avgRateQuery,\n  recentQuery: recentQuery,\n  params: params\n};"
      },
      "name": "Parser Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "{{ $node[\"Parser Code\"].json.totalCampaignsQuery }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "name": "Validation If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseBody": "{{ {\"error\": \"Invalid request parameters\"} }}"
      },
      "name": "Error Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $node[\"Parser Code\"].json.totalCampaignsQuery }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "name": "Postgres Total Campaigns",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $node[\"Parser Code\"].json.byStatusQuery }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "name": "Postgres By Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $node[\"Parser Code\"].json.totalSubscribersQuery }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "name": "Postgres Total Subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $node[\"Parser Code\"].json.avgRateQuery }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "name": "Postgres Avg Rates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $node[\"Parser Code\"].json.recentQuery }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "name": "Postgres Recent Campaigns",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1650, 350]
    },
    {
      "parameters": {
        "jsCode": "var totalCampaigns = $node[\"Postgres Total Campaigns\"].json[0]?.total || 0;\nvar byStatusResult = $node[\"Postgres By Status\"].json || [];\nvar totalSubscribers = $node[\"Postgres Total Subscribers\"].json[0]?.total || 0;\nvar avgRates = $node[\"Postgres Avg Rates\"].json[0] || {};\nvar recentCampaigns = $node[\"Postgres Recent Campaigns\"].json || [];\n\nvar byStatus = {};\nbyStatusResult.forEach(row => {\n  byStatus[row.status] = row.count;\n});\n\nvar avgOpenRate = avgRates.avg_open_rate ? Math.round(avgRates.avg_open_rate * 100) / 100 : 0;\nvar avgClickRate = avgRates.avg_click_rate ? Math.round(avgRates.avg_click_rate * 100) / 100 : 0;\n\nreturn {\n  stats: {\n    totalCampaigns: totalCampaigns,\n    byStatus: byStatus,\n    totalSubscribers: totalSubscribers,\n    avgOpenRate: avgOpenRate,\n    avgClickRate: avgClickRate,\n    recentCampaigns: recentCampaigns\n  }\n};"
      },
      "name": "Format Response Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parser Code", "branch": 0, "type": "main"}]]
    },
    "Parser Code": {
      "main": [[{"node": "Validation If", "branch": 0, "type": "main"}]]
    },
    "Validation If": {
      "main": [
        [{"node": "Postgres Total Campaigns", "branch": 0, "type": "main"}],
        [{"node": "Error Respond", "branch": 0, "type": "main"}]
      ]
    },
    "Postgres Total Campaigns": {
      "main": [[{"node": "Postgres By Status", "branch": 0, "type": "main"}]]
    },
    "Postgres By Status": {
      "main": [[{"node": "Postgres Total Subscribers", "branch": 0, "type": "main"}]]
    },
    "Postgres Total Subscribers": {
      "main": [[{"node": "Postgres Avg Rates", "branch": 0, "type": "main"}]]
    },
    "Postgres Avg Rates": {
      "main": [[{"node": "Postgres Recent Campaigns", "branch": 0, "type": "main"}]]
    },
    "Postgres Recent Campaigns": {
      "main": [[{"node": "Format Response Code", "branch": 0, "type": "main"}]]
    },
    "Format Response Code": {
      "main": [[{"node": "Respond", "branch": 0, "type": "main"}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
