n8n_workflows/talosprimes/ai-agent-tools/sw-creer-devis.json
{
  "name": "SW - Créer Devis",
  "nodes": [
    {
      "id": "5c8a3d7e-9f1a-4b2c-8d3e-1a5f6b7c8d9e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "7a2f1e3c-5b4d-6e7f-8a9b-0c1d2e3f4a5b",
      "name": "Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "leftValue": "={{ $json.client_final_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "leftValue": "={{ $json.lignes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "9d4e2f1a-3b5c-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Erreur Validation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        500
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "err-devis-01",
              "name": "error",
              "value": "Champs requis manquants: tenant_id, client_final_id, lignes",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "6b3a2c1f-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
      "name": "Parse Lignes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0].json;\n\nlet lignes = item.lignes;\nif (typeof lignes === 'string') {\n  try { lignes = JSON.parse(lignes); } catch(e) { lignes = []; }\n}\nif (!Array.isArray(lignes)) lignes = [lignes];\n\nlet montant_ht = 0;\nconst parsed = lignes.map((l, i) => {\n  const qty = Number(l.quantite) || 1;\n  const prix = Number(l.prix_unitaire_ht) || 0;\n  const total = Math.round(qty * prix * 100) / 100;\n  montant_ht += total;\n  return {\n    designation: l.designation || l.description || '',\n    quantite: qty,\n    prix_unitaire_ht: prix,\n    total_ht: total,\n    ordre: i + 1\n  };\n});\n\nmontant_ht = Math.round(montant_ht * 100) / 100;\nconst tva = Math.round(montant_ht * 20) / 100;\nconst montant_ttc = Math.round((montant_ht + tva) * 100) / 100;\n\nreturn [{\n  json: {\n    tenant_id: item.tenant_id,\n    client_final_id: item.client_final_id,\n    montant_ht,\n    tva,\n    montant_ttc,\n    lignes_json: JSON.stringify(parsed)\n  }\n}];"
      }
    },
    {
      "id": "8c4b3d2e-1f5a-6b7c-8d9e-0a1b2c3d4e5f",
      "name": "Get Next Numero",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(CAST(SUBSTRING(numero FROM 5) AS INTEGER)), 0) + 1 as next_num FROM devis WHERE tenant_id = '{{ $json.tenant_id }}'"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "id": "5a6b7c8d-9e0f-1a2b-3c4d-5e6f7a8b9c0d",
      "name": "Insert Devis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO devis (id, tenant_id, numero, client_final_id, montant_ht, tva, montant_ttc, statut, created_at) VALUES (gen_random_uuid(), '{{ $json.tenant_id }}', 'DEV-' || LPAD({{ $json.next_num }}::text, 4, '0'), '{{ $json.client_final_id }}', {{ $json.montant_ht }}, {{ $json.tva }}, {{ $json.montant_ttc }}, 'brouillon', NOW()) RETURNING *"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "id": "7d8e9f0a-1b2c-3d4e-5f6a-7b8c9d0e1f2a",
      "name": "Insert Lignes Devis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO devis_lines (id, devis_id, designation, quantite, prix_unitaire_ht, total_ht, ordre)\nSELECT gen_random_uuid(), '{{ $json.id }}'::uuid, x.designation, x.quantite, x.prix_unitaire_ht, x.total_ht, x.ordre\nFROM json_to_recordset($${{ $('Parse Lignes').item.json.lignes_json }}$$::json) AS x(designation text, quantite int, prix_unitaire_ht decimal, total_ht decimal, ordre int)\nRETURNING *"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation": {
      "main": [
        [
          {
            "node": "Parse Lignes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erreur Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lignes": {
      "main": [
        [
          {
            "node": "Get Next Numero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Numero": {
      "main": [
        [
          {
            "node": "Insert Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Devis": {
      "main": [
        [
          {
            "node": "Insert Lignes Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "talosprimes"
    },
    {
      "name": "sub-workflow"
    }
  ],
  "meta": {
    "description": "Crée un devis avec auto-numérotation DEV-XXXX et lignes d'articles"
  }
}
