n8n_workflows/talosprimes/article-codes/article-code-updated.json
{
  "name": "article-code-updated",
  "nodes": [
    {
      "parameters": {
        "path": "article-code-updated",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "var raw=$input.first().json;\nfunction pj(x){if(typeof x!=='string')return x;try{return JSON.parse(x)}catch(e){return null}}\nfunction isO(v){return v!==null&&typeof v==='object'&&!Array.isArray(v)}\nfunction g(o,k1,k2){if(!isO(o))return null;var v=o[k1];if(v!=null&&v!=='')return v;if(k2){v=o[k2];if(v!=null&&v!=='')return v}return null}\nvar payload=isO(raw)?raw:{};\nif(isO(raw)&&raw.body!==undefined)payload=typeof raw.body==='string'?pj(raw.body):raw.body;\nif(!isO(payload))payload={};\nvar data=isO(payload.data)?payload.data:payload;\nif(!isO(data))data=payload;\nvar tenantId=g(data,'tenantId','tenant_id')||g(payload,'tenantId','tenant_id')||g(raw,'tenantId');\nvar articleCodeId=g(data,'articleCodeId','article_code_id')||g(payload,'articleCodeId','article_code_id');\nif(!tenantId||!articleCodeId)return [{json:{_error:true,message:'tenantId et articleCodeId requis'}}];\nvar body={tenantId,articleCodeId};\nvar cd=g(data,'code')||g(payload,'code');if(cd)body.code=cd;\nvar dg=g(data,'designation')||g(payload,'designation');if(dg)body.designation=dg;\nvar px=g(data,'prixUnitaireHt','prix_unitaire_ht')||g(payload,'prixUnitaireHt','prix_unitaire_ht');if(px!=null&&px!==''){body.prixUnitaireHt=Number(px)}\nvar tv=g(data,'tvaTaux','tva_taux')||g(payload,'tvaTaux','tva_taux');if(tv!=null&&tv!==''){body.tvaTaux=Number(tv)}\nvar un=g(data,'unite')||g(payload,'unite');if(un)body.unite=un;\nvar ac=g(data,'actif')||g(payload,'actif');if(ac!=null){body.actif=(ac===true||ac==='true'||ac===1||ac==='1')}\nreturn [{json:body}];"
      },
      "id": "parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "1157aebc-e8ef-4bcf-a71e-87c3d790e0ed",
              "leftValue": "={{ String($json._error || '') }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{ $json.message }}\"}"
      },
      "id": "respond-err",
      "name": "04. Repondre erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT (SELECT id FROM article_codes WHERE id = '\" + $json.articleCodeId + \"' AND tenant_id = '\" + $json.tenantId + \"') AS existing_id\" }}"
      },
      "id": "pg-check",
      "name": "05. Verifier existence",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        860,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "a5508fe1-ce8d-45e3-8dad-4e39904725b1",
              "leftValue": "={{ $json.existing_id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-exists",
      "name": "06. Existe ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":false,\"error\":\"Code article non trouve\"}"
      },
      "id": "respond-404",
      "name": "07. Repondre 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "var p = $('02. Parser').first().json;\nvar designation = (p.designation || '').replace(/'/g, \"''\");\nvar code = (p.code || '').replace(/'/g, \"''\");\nvar query = `UPDATE article_codes SET code = '${code}', designation = '${designation}', prix_unitaire_ht = ${p.prixUnitaireHt || 0}, tva_taux = ${p.tvaTaux || 20}, unite = '${p.unite || 'unite'}', actif = ${p.actif !== false}, updated_at = NOW() WHERE id = '${p.articleCodeId}'::uuid AND tenant_id = '${p.tenantId}'::uuid RETURNING *`;\nreturn [{json:{query}}];"
      },
      "id": "build-update",
      "name": "08. Construire UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "pg-update",
      "name": "09. Executer UPDATE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT (SELECT row_to_json(sub) FROM (SELECT id, tenant_id, code, designation, prix_unitaire_ht, tva_taux, unite, actif, created_at, updated_at FROM article_codes WHERE id = '\" + $('02. Parser').first().json.articleCodeId + \"' AND tenant_id = '\" + $('02. Parser').first().json.tenantId + \"') sub) AS article\" }}"
      },
      "id": "pg-fetch",
      "name": "10. Recuperer article",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1740,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var row=$input.first().json;\nvar article=row.article;\nif(!article)return [{json:{success:true,message:'Code article mis a jour (non recupere)'}}];\nvar parsed=typeof article==='string'?JSON.parse(article):article;\nreturn [{json:{success:true,message:'Code article mis a jour',data:{article:parsed}}}];"
      },
      "id": "format",
      "name": "11. Formater",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-ok",
      "name": "12. Repondre succes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2180,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Verifier existence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Repondre erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Verifier existence": {
      "main": [
        [
          {
            "node": "06. Existe ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Existe ?": {
      "main": [
        [
          {
            "node": "08. Construire UPDATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "07. Repondre 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Construire UPDATE": {
      "main": [
        [
          {
            "node": "09. Executer UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Executer UPDATE": {
      "main": [
        [
          {
            "node": "10. Recuperer article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Recuperer article": {
      "main": [
        [
          {
            "node": "11. Formater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Formater": {
      "main": [
        [
          {
            "node": "12. Repondre succes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
