n8n_workflows/talosprimes/notifications/notification-deleted.json
{
  "name": "notification-deleted",
  "nodes": [
    {
      "parameters": {
        "path": "notification-deleted",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nif (!body.tenantId || !body.id) {\n  throw new Error('tenantId and id are required');\n}\n\nreturn [{ json: {\n  tenantId: body.tenantId,\n  id: body.id\n} }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Validation failed\"\n}"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM notifications WHERE id = $1 AND tenant_id = $2 RETURNING id",
        "queryParameters": "={{ [$json.id, $json.tenantId] }}"
      },
      "id": "05. Delete Notification",
      "name": "05. Delete Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const deleted = $('05. Delete Notification').all().map(item => item.json).filter(d => d.id);\n\nif (deleted.length === 0) {\n  throw new Error('Notification not found');\n}\n\nreturn [{ json: {\n  success: true,\n  message: 'Notification deleted successfully',\n  notificationId: deleted[0].id\n} }];"
      },
      "id": "06. Format Response",
      "name": "06. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "07. Respond",
      "name": "07. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Delete Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Delete Notification": {
      "main": [
        [
          {
            "node": "06. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Format Response": {
      "main": [
        [
          {
            "node": "07. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}