n8n_workflows/talosprimes/conformite/compta-facturx-generer.json
{
  "name": "compta-facturx-generer",
  "nodes": [
    {
      "parameters": {
        "path": "compta-facturx-generer",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.all()[0].json.body;\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nif (!uuidRegex.test(body.tenantId)) {\n  throw new Error('Invalid tenantId format');\n}\n\nif (!uuidRegex.test(body.factureId)) {\n  throw new Error('Invalid factureId format');\n}\n\nconst profils = ['MINIMUM', 'BASIC', 'EN16931'];\nconst profil = body.profil || 'MINIMUM';\nif (!profils.includes(profil)) {\n  throw new Error('Invalid profil: must be MINIMUM, BASIC, or EN16931');\n}\n\nreturn {\n  tenantId: body.tenantId,\n  factureId: body.factureId,\n  profil: profil\n};"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value2": "",
              "operation": "notEmpty",
              "value1": "={{ $json.tenantId }}"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWithCode": 400,
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Invalid tenantId or factureId\"\n}"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT f.*, c.nom, c.siret, c.adresse, c.code_postal, c.ville, c.pays, c.numero_tva FROM factures f LEFT JOIN clients c ON f.client_id = c.id WHERE f.id = '{{ $json.factureId }}' AND f.tenant_id = '{{ $json.tenantId }}'",
        "options": {}
      },
      "credentials": {
        "postgres": "OGqj65ZoFRileCck"
      },
      "id": "05. Get Facture",
      "name": "05. Get Facture",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM lignes_facture WHERE facture_id = '{{ $json.factureId }}' ORDER BY ordre",
        "options": {}
      },
      "credentials": {
        "postgres": "OGqj65ZoFRileCck"
      },
      "id": "06. Get Lignes",
      "name": "06. Get Lignes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        900,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nom_entreprise, siret, numero_tva, adresse, code_postal, ville, pays, email FROM tenants WHERE id = '{{ $json.tenantId }}'",
        "options": {}
      },
      "credentials": {
        "postgres": "OGqj65ZoFRileCck"
      },
      "id": "07. Get Emetteur",
      "name": "07. Get Emetteur",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const facture = $input.all()[0]?.json?.[0] || {};\nconst lignes = $input.all()[1]?.json || [];\nconst emetteur = $input.all()[2]?.json?.[0] || {};\n\nconst xmlDeclaration = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>';\nconst namespace = 'xmlns=\"urn:un:unece:uncefact:data:standard:CrossIndustryInvoice:100\"';\n\nlet lignesXml = '';\nlignes.forEach((ligne, idx) => {\n  lignesXml += `\n    <IncludedSupplyChainTradeLineItem>\n      <AssociatedDocumentLineDocument>\n        <LineID>${idx + 1}</LineID>\n      </AssociatedDocumentLineDocument>\n      <SpecifiedTradeProduct>\n        <Name>${ligne.description || 'Product ' + (idx + 1)}</Name>\n      </SpecifiedTradeProduct>\n      <SpecifiedLineTradeAgreement>\n        <GrossPriceProductPrice>\n          <ChargeAmount>${ligne.prix_unitaire}</ChargeAmount>\n        </GrossPriceProductPrice>\n      </SpecifiedLineTradeAgreement>\n      <SpecifiedLineTradeSettlement>\n        <ApplicableTradeTax>\n          <TypeCode>VAT</TypeCode>\n          <RateApplicablePercent>${ligne.taux_tva || 20}</RateApplicablePercent>\n        </ApplicableTradeTax>\n        <SpecifiedTradeSettlementLineMonetarySummation>\n          <LineTotalAmount>${ligne.montant_ht}</LineTotalAmount>\n        </SpecifiedTradeSettlementLineMonetarySummation>\n      </SpecifiedLineTradeSettlement>\n    </IncludedSupplyChainTradeLineItem>`;\n});\n\nconst xml = `${xmlDeclaration}\n<CrossIndustryInvoice ${namespace}>\n  <ExchangedDocumentContext>\n    <GuidelineSpecifiedDocumentContextParameter>\n      <ID>${$json.profil === 'MINIMUM' ? 'urn:cen.eu:en16931:profiles:invoice:05:minimal' : \n           $json.profil === 'BASIC' ? 'urn:cen.eu:en16931:profiles:invoice:05:basic' : \n           'urn:cen.eu:en16931:profiles:invoice:05:compliant'}</ID>\n    </GuidelineSpecifiedDocumentContextParameter>\n  </ExchangedDocumentContext>\n  <ExchangedDocument>\n    <ID>${facture.numero_facture}</ID>\n    <TypeCode>380</TypeCode>\n    <IssueDateTime>\n      <DateTimeString format=\"102\">${new Date(facture.date_facture).toISOString().split('T')[0].replace(/-/g, '')}</DateTimeString>\n    </IssueDateTime>\n  </ExchangedDocument>\n  <SupplyChainTradeTransaction>\n    <ApplicableHeaderTradeAgreement>\n      <SellerTradeParty>\n        <Name>${emetteur.nom_entreprise}</Name>\n        <SpecifiedLegalOrganization>\n          <ID schemeID=\"0002\">${emetteur.siret}</ID>\n        </SpecifiedLegalOrganization>\n        <URIUniversalCommunication>\n          <URIID schemeID=\"EM\">${emetteur.email}</URIID>\n        </URIUniversalCommunication>\n      </SellerTradeParty>\n      <BuyerTradeParty>\n        <Name>${facture.nom}</Name>\n      </BuyerTradeParty>\n    </ApplicableHeaderTradeAgreement>\n    <ApplicableHeaderTradeSettlement>\n      <InvoiceCurrencyCode>${facture.devise || 'EUR'}</InvoiceCurrencyCode>\n      <SpecifiedTradeSettlementHeaderMonetarySummation>\n        <DuePayableAmount>${facture.montant_ttc}</DuePayableAmount>\n      </SpecifiedTradeSettlementHeaderMonetarySummation>\n    </ApplicableHeaderTradeSettlement>\n    <IncludedSupplyChainTradeLineItem>${lignesXml}\n    </IncludedSupplyChainTradeLineItem>\n  </SupplyChainTradeTransaction>\n</CrossIndustryInvoice>`;\n\nreturn {\n  ...($json),\n  xmlContent: xml.trim(),\n  facture: facture,\n  emetteur: emetteur,\n  lignesCount: lignes.length\n};"
      },
      "id": "08. Build XML CII",
      "name": "08. Build XML CII",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO factures_electroniques (id, tenant_id, facture_id, format, profil, xml_content, statut, date_generation, metadata)\nVALUES (gen_random_uuid(), '{{ $json.tenantId }}', '{{ $json.factureId }}', 'Factur-X', '{{ $json.profil }}', '{{ $json.xmlContent }}', 'generee', NOW(), '{\"lignesCount\": {{ $json.lignesCount }}}'::jsonb)\nRETURNING id, date_generation;",
        "options": {}
      },
      "credentials": {
        "postgres": "OGqj65ZoFRileCck"
      },
      "id": "09. Save",
      "name": "09. Save",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.all()[0]?.json?.[0] || {};\n\nreturn {\n  success: true,\n  message: 'Factur-X générée avec succès',\n  facturxId: result.id,\n  factureNumero: $json.facture?.numero_facture,\n  profil: $json.profil,\n  format: 'Factur-X (CII)',\n  dateGeneration: result.date_generation,\n  xmlPreview: $json.xmlContent.substring(0, 200) + '...'\n};"
      },
      "id": "10. Format Response",
      "name": "10. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "11. Respond",
      "name": "11. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1900,
        200
      ]
    },
    {
      "parameters": {
        "text": "🇫🇷 Factur-X - Facturation Électronique\n\nOrdonnance n°2021-1190 du 15/09/2021\nObligatoire réception: sept 2026\nObligatoire émission: sept 2027\n\nFormat: PDF/A-3 + XML CII (Cross-Industry Invoice)\nProfils:\n- MINIMUM: champs essentiels\n- BASIC: champs etendus\n- EN16931: compliant standard europeen"
      },
      "id": "Sticky Note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        50,
        450
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "branch": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "branch": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get Facture",
            "branch": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "branch": 0
          }
        ]
      ]
    },
    "05. Get Facture": {
      "main": [
        [
          {
            "node": "06. Get Lignes",
            "branch": 0
          }
        ]
      ]
    },
    "06. Get Lignes": {
      "main": [
        [
          {
            "node": "07. Get Emetteur",
            "branch": 0
          }
        ]
      ]
    },
    "07. Get Emetteur": {
      "main": [
        [
          {
            "node": "08. Build XML CII",
            "branch": 0
          }
        ]
      ]
    },
    "08. Build XML CII": {
      "main": [
        [
          {
            "node": "09. Save",
            "branch": 0
          }
        ]
      ]
    },
    "09. Save": {
      "main": [
        [
          {
            "node": "10. Format Response",
            "branch": 0
          }
        ]
      ]
    },
    "10. Format Response": {
      "main": [
        [
          {
            "node": "11. Respond",
            "branch": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}