n8n_workflows/talosprimes/conformite/compta-das2-get.json
{
  "name": "compta-das2-get",
  "nodes": [
    {
      "parameters": {
        "path": "compta-das2-get",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nif (!body.tenantId || !uuidRegex.test(body.tenantId)) {\n  throw new Error('Invalid or missing tenantId');\n}\nif (!body.das2Id || !uuidRegex.test(body.das2Id)) {\n  throw new Error('Invalid or missing das2Id');\n}\n\nreturn [{ json: {\n  tenantId: body.tenantId,\n  das2Id: body.das2Id\n} }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "3a2bcfbb-4f62-4291-a055-195f32e8a043",
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "responseBody": "={\"success\": false, \"message\": \"Invalid tenantId or das2Id\"}",
        "respondWith": "json"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT * FROM declarations_das2 WHERE id = '\" + $json.das2Id + \"' AND tenant_id = '\" + $json.tenantId + \"'\" }}"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "id": "05. Get Declaration",
      "name": "05. Get Declaration",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT id, declaration_das2_id, siret, nom, adresse, montant FROM das2_beneficiaires WHERE declaration_das2_id = '\" + $json.id + \"'\" }}"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "id": "06. Get Beneficiaires",
      "name": "06. Get Beneficiaires",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        900,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: true,\n  declaration: $node[\"05. Get Declaration\"].json[0],\n  beneficiaires: $input.all()[0].json\n};"
      },
      "id": "07. Format Response",
      "name": "07. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "08. Respond",
      "name": "08. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "text": "🔍 Détail déclaration DAS2\nAffiche la déclaration et la liste\nde tous les bénéficiaires avec montants",
        "height": 200,
        "width": 280
      },
      "id": "stickyNote_compta_das2_get",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        400
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get Declaration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get Declaration": {
      "main": [
        [
          {
            "node": "06. Get Beneficiaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Get Beneficiaires": {
      "main": [
        [
          {
            "node": "07. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Format Response": {
      "main": [
        [
          {
            "node": "08. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "compta-das2-get"
}