n8n_workflows/talosprimes/conformite/compta-ereporting-liste.json
{
  "name": "compta-ereporting-liste",
  "nodes": [
    {
      "parameters": {
        "path": "compta-ereporting-liste",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nif (!body.tenantId || !uuidRegex.test(body.tenantId)) {\n  throw new Error('Invalid or missing tenantId');\n}\n\nreturn [{ json: {\n  tenantId: body.tenantId,\n  type: body.type || null,\n  statut: body.statut || null,\n  page: body.page || 1,\n  limit: body.limit || 20\n} }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "9bd43985-2dad-4558-8c61-1f8b3cef9ff9",
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "responseBody": "={\"success\": false, \"message\": \"Invalid tenantId\"}",
        "respondWith": "json"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT id, tenant_id, type, periode_debut, periode_fin, nombre_transactions, montant_total_ht, montant_total_tva, montant_total_ttc, statut, date_generation FROM e_reportings WHERE tenant_id = '\" + $json.tenantId + \"' AND ('\" + $json.type + \"'::text IS NULL OR type = '\" + $json.type + \"') AND ('\" + $json.statut + \"'::text IS NULL OR statut = '\" + $json.statut + \"') ORDER BY date_generation DESC LIMIT '\" + $json.limit + \"' OFFSET '\" + $json.limit + \"'\" }}"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "id": "05. Get List",
      "name": "05. Get List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: true,\n  page: $node[\"02. Parser\"].json.page,\n  limit: $node[\"02. Parser\"].json.limit,\n  data: $input.all()[0].json\n};"
      },
      "id": "06. Format Response",
      "name": "06. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "07. Respond",
      "name": "07. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "text": "📋 Liste E-Reportings générés\nAffiche tous les e-reportings\ngénérés avec pagination\nFiltre par type et statut optionnel",
        "height": 200,
        "width": 280
      },
      "id": "stickyNote_compta_ereporting_liste",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        400
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get List": {
      "main": [
        [
          {
            "node": "06. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Format Response": {
      "main": [
        [
          {
            "node": "07. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "compta-ereporting-liste"
}