n8n_workflows/talosprimes/conformite/compta-das2-transmettre.json
{
  "name": "compta-das2-transmettre",
  "nodes": [
    {
      "parameters": {
        "path": "compta-das2-transmettre",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nif (!body.tenantId || !uuidRegex.test(body.tenantId)) {\n  throw new Error('Invalid or missing tenantId');\n}\nif (!body.das2Id || !uuidRegex.test(body.das2Id)) {\n  throw new Error('Invalid or missing das2Id');\n}\n\nreturn [{ json: {\n  tenantId: body.tenantId,\n  das2Id: body.das2Id\n} }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "b7b47da3-0199-4475-bbe9-9de58e0bd0d7",
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "responseBody": "={\"success\": false, \"message\": \"Invalid tenantId or das2Id\"}",
        "respondWith": "json"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT * FROM declarations_das2 WHERE id = '\" + $json.das2Id + \"' AND tenant_id = '\" + $json.tenantId + \"'\" }}"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "id": "05. Get Record",
      "name": "05. Get Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Prepare TD-RCM/EFI payload for DGFiP transmission\nconst record = $input.all()[0].json[0];\nconst payload = {\n  annee_fiscale: record.annee_fiscale,\n  nombre_beneficiaires: record.nombre_beneficiaires,\n  montant_total: record.montant_total,\n  format: 'TD-RCM',\n  destination: 'EFI-TDFC',\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  payload: payload,\n  das2Id: record.id,\n  tenantId: record.tenant_id\n};"
      },
      "id": "06. Prepare Payload",
      "name": "06. Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE declarations_das2 SET statut = 'transmise', date_transmission = NOW() WHERE id = '\" + $json.das2Id + \"' RETURNING *\" }}"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "id": "07. Update Status",
      "name": "07. Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO pistes_audit (id, tenant_id, action, entite, entite_id, donnees, date_action) VALUES (gen_random_uuid(), '\" + $json.tenantId + \"', 'TRANSMISSION_DAS2', 'declarations_das2', '\" + $json.das2Id + \"', '\" + $json.payload) + \"', NOW())\" }}"
      },
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      },
      "id": "08. Log Audit",
      "name": "08. Log Audit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1300,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: true,\n  message: 'DAS2 transmitted successfully',\n  data: $node[\"07. Update Status\"].json\n};"
      },
      "id": "09. Format Response",
      "name": "09. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "10. Respond",
      "name": "10. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "text": "📤 Transmission DAS2 à la DGFiP\nTransmet via le portail EFI ou EDI-TDFC\nFormat: TD-RCM\nMaj statut 'transmise' + log audit",
        "height": 200,
        "width": 280
      },
      "id": "stickyNote_compta_das2_transmettre",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        400
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get Record": {
      "main": [
        [
          {
            "node": "06. Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Prepare Payload": {
      "main": [
        [
          {
            "node": "07. Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Update Status": {
      "main": [
        [
          {
            "node": "08. Log Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Log Audit": {
      "main": [
        [
          {
            "node": "09. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Format Response": {
      "main": [
        [
          {
            "node": "10. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "compta-das2-transmettre"
}