n8n_workflows/talosprimes/conformite/compta-archive-creer.json
{
  "name": "compta-archive-creer",
  "nodes": [
    {
      "parameters": {
        "path": "compta-archive-creer",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nif (!uuidRegex.test(body.tenantId)) {\n  throw new Error('Invalid tenantId format');\n}\n\nif (!body.typeDocument || !body.referenceDocument || body.anneeFiscale === undefined || !body.dureeConservation) {\n  throw new Error('Missing required fields');\n}\n\nreturn [{ json: {\n  tenantId: body.tenantId,\n  typeDocument: body.typeDocument,\n  referenceDocument: body.referenceDocument,\n  anneeFiscale: body.anneeFiscale,\n  dureeConservation: body.dureeConservation,\n  cheminStockage: body.cheminStockage || null,\n  tailleOctets: body.tailleOctets || 0\n} }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value2": "",
              "operation": "notEmpty",
              "value1": "={{ $json.tenantId }}"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Invalid or missing required fields\"\n}",
        "respondWith": "json"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst timestamp = new Date().toISOString();\nconst data = $json.typeDocument + $json.referenceDocument + $json.anneeFiscale + timestamp;\nconst hash = crypto.createHash('sha256').update(data).digest('hex');\n\nreturn {\n  ...($json),\n  hashIntegrite: hash,\n  timestamp: timestamp\n};"
      },
      "id": "05. Build Hash",
      "name": "05. Build Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const dateArchivage = new Date();\nconst dateExpiration = new Date(dateArchivage);\ndateExpiration.setFullYear(dateExpiration.getFullYear() + $json.dureeConservation);\n\nreturn {\n  ...($json),\n  dateArchivage: dateArchivage.toISOString().split('T')[0],\n  dateExpiration: dateExpiration.toISOString().split('T')[0]\n};"
      },
      "id": "06. Calc Expiration",
      "name": "06. Calc Expiration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO archives_comptables (id, tenant_id, type_document, reference_document, annee_fiscale, date_archivage, duree_conservation, date_expiration, hash_integrite, statut, chemin_stockage, taille_octets, metadata, created_at)\nVALUES (gen_random_uuid(), '{{ $json.tenantId }}', '{{ $json.typeDocument }}', '{{ $json.referenceDocument }}', {{ $json.anneeFiscale }}, '{{ $json.dateArchivage }}'::date, {{ $json.dureeConservation }}, '{{ $json.dateExpiration }}'::date, '{{ $json.hashIntegrite }}', 'actif', '{{ $json.cheminStockage }}', {{ $json.tailleOctets }}, '{}', NOW())\nRETURNING id, created_at;\" }}",
        "options": {}
      },
      "credentials": {
        "postgres": "OGqj65ZoFRileCck"
      },
      "id": "07. Insert",
      "name": "07. Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.all()[0]?.json?.[0] || {};\n\nreturn {\n  success: true,\n  message: 'Archive créée avec succès',\n  archiveId: result.id,\n  dateArchivage: $json.dateArchivage,\n  dateExpiration: $json.dateExpiration,\n  hashIntegrite: $json.hashIntegrite\n};"
      },
      "id": "08. Format Response",
      "name": "08. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      },
      "id": "09. Respond",
      "name": "09. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "text": "📦 Création archive légale\n\nArchive un document comptable avec:\n- Hash d'intégrité SHA256\n- Durée de conservation légale\n- Date d'expiration calculée\n\nConforme NF Z42-013 (archivage électronique)\nStatut initial: 'actif'"
      },
      "id": "Sticky Note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        50,
        450
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "branch": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "branch": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Build Hash",
            "branch": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "branch": 0
          }
        ]
      ]
    },
    "05. Build Hash": {
      "main": [
        [
          {
            "node": "06. Calc Expiration",
            "branch": 0
          }
        ]
      ]
    },
    "06. Calc Expiration": {
      "main": [
        [
          {
            "node": "07. Insert",
            "branch": 0
          }
        ]
      ]
    },
    "07. Insert": {
      "main": [
        [
          {
            "node": "08. Format Response",
            "branch": 0
          }
        ]
      ]
    },
    "08. Format Response": {
      "main": [
        [
          {
            "node": "09. Respond",
            "branch": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "compta-archive-creer"
}