n8n_workflows/talosprimes/automations/templates/email-watch.json
{
  "name": "[{{ CLIENT_NAME }}] Email - Surveillance nouveaux messages",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "options": {}
      },
      "id": "imap-trigger",
      "name": "01. Nouveau email recu",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": {
        "imap": {
          "name": "Email IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\n\nconst from = email.from?.text || email.from || '';\nconst to = email.to?.text || email.to || '';\nconst subject = email.subject || '(sans objet)';\nconst date = email.date || new Date().toISOString();\nconst textPlain = (email.text || '').substring(0, 1000);\nconst hasAttachments = (email.attachments || []).length > 0;\n\nreturn [{ json: {\n  from,\n  to,\n  subject,\n  date,\n  textPlain,\n  hasAttachments,\n  tenantId: '{{ TENANT_ID }}',\n  action: 'received'\n} }];"
      },
      "id": "process",
      "name": "02. Traiter email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nouvel email recu :\nDe: {{ $json.from }}\nA: {{ $json.to }}\nSujet: {{ $json.subject }}\nDate: {{ $json.date }}\nContenu: {{ $json.textPlain }}\nPieces jointes: {{ $json.hasAttachments ? 'Oui' : 'Non' }}\nTenant ID: {{ $json.tenantId }}\n\nIMPORTANT: Pour tous les appels aux outils, utilise exactement ce tenantId: {{ $json.tenantId }}\n\nAnalyse cet email et decide de l'action a effectuer selon tes instructions. A la fin, retourne OBLIGATOIREMENT ton analyse au format JSON comme indique dans tes instructions.",
        "options": {
          "systemMessage": "Tu es un agent IA specialise dans la gestion automatique des emails pour le client {{ CLIENT_NAME }}.\n\n═══ TON ROLE ═══\nTu recois les emails entrants et tu dois :\n1. CLASSIFIER l'email (categorie + priorite + intention)\n2. DECIDER de l'action : repondre automatiquement OU mettre en file d'attente pour validation humaine\n3. Si reponse auto : utilise l'outil envoyer_email pour repondre\n4. TOUJOURS terminer par un bloc JSON structure (voir FORMAT DE SORTIE)\n\n═══ CLASSIFICATION ═══\nCategories possibles :\n- prospect : demande d'information, premier contact\n- client : email d'un client existant\n- support : demande d'aide, probleme technique\n- facturation : question sur facture, paiement, devis\n- spam : publicite, newsletter non souhaitee\n- notification : email automatique (confirmation, alerte)\n- urgent : demande urgente necessitant une reponse rapide\n- autre : tout ce qui ne rentre pas dans les categories ci-dessus\n\nPriorites : haute, moyenne, basse\n\nIntentions : demande_info, reclamation, remerciement, confirmation, relance, candidature, partenariat, autre\n\n═══ REGLES DE REPONSE AUTOMATIQUE ═══\nTu PEUX repondre automatiquement (confiance >= 0.8) pour :\n- Accuses de reception (\"Nous avons bien recu votre email...\")\n- Reponses FAQ simples (horaires, coordonnees, services proposes)\n- Remerciements polis\n\nTu DOIS mettre en file d'attente (confiance < 0.8) pour :\n- Demandes commerciales specifiques (devis, tarifs personnalises)\n- Reclamations ou plaintes\n- Questions techniques complexes\n- Tout email ambigu ou necessitant un contexte metier\n\nSpams et newsletters : ignorer (ne pas repondre, ne pas mettre en file)\n\n═══ FORMAT DE REPONSE EMAIL ═══\nQuand tu reponds automatiquement via envoyer_email, utilise du HTML professionnel :\n<div style=\"font-family: 'Segoe UI', Arial, sans-serif; color: #333; line-height: 1.6; max-width: 600px;\">\n  <p>Bonjour,</p>\n  <p>[Corps du message]</p>\n  <p style=\"margin-top: 30px;\">Cordialement,<br><strong>{{ CLIENT_NAME }}</strong></p>\n</div>\n\n═══ WORKFLOW ═══\n1. Analyse l'email recu\n2. Si reponse automatique necessaire (confiance >= 0.8) : utilise envoyer_email\n3. TOUJOURS terminer par le bloc JSON de classification (meme pour les spams)\n\n═══ FORMAT DE SORTIE OBLIGATOIRE ═══\nA la fin de ton analyse, tu DOIS retourner ce bloc JSON (entre ```json et ```) :\n```json\n{\n  \"classification\": {\n    \"categorie\": \"prospect|client|support|facturation|spam|notification|urgent|autre\",\n    \"priorite\": \"haute|moyenne|basse\",\n    \"intention\": \"demande_info|reclamation|remerciement|confirmation|relance|candidature|partenariat|autre\",\n    \"confiance\": 0.85\n  },\n  \"action\": \"auto_reply|queued|ignored\",\n  \"replySubject\": \"Sujet de la reponse ou null\",\n  \"replyBody\": \"Corps texte de la reponse ou null\",\n  \"replyHtml\": \"Corps HTML de la reponse ou null\",\n  \"replyConfidence\": 0.85,\n  \"replyAction\": \"sent_agent|queue_human|none\"\n}\n```\nValeurs de replyAction :\n- sent_agent : tu as envoye la reponse via envoyer_email\n- queue_human : email mis en file d'attente pour validation humaine\n- none : email ignore (spam, notification)\n\nIMPORTANT : Ce JSON sera utilise pour sauvegarder automatiquement le log. Tu n'as PAS besoin d'appeler une API pour sauvegarder, le systeme s'en charge.\n\n═══ IMPORTANT ═══\n- Le bloc JSON final est OBLIGATOIRE pour chaque email traite\n- Ne reponds JAMAIS aux spams ou newsletters\n- Sois professionnel et courtois dans tes reponses\n- Si tu doutes, mets en file d'attente plutot que de repondre mal"
        }
      },
      "id": "ai-agent",
      "name": "03. Agent IA Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [540, 520],
      "credentials": {
        "openAiApi": {
          "id": "MmpYHYAt746xfTrB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=email-{{ $json.from || 'unknown' }}",
        "contextWindowLength": 20
      },
      "id": "memory",
      "name": "Memory Email",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [840, 520]
    },
    {
      "id": "tool-lire-emails",
      "name": "lire_emails",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [540, 720],
      "parameters": {
        "toolDescription": "Lire les derniers emails de la boite de reception IMAP. POST. Body JSON :\n{\"limit\":5,\"folder\":\"INBOX\"}\nRetourne la liste des emails recents avec from, to, subject, date, textPlain.",
        "method": "POST",
        "url": "https://n8n.talosprimes.com/webhook/client/{{ CLIENT_CODE }}/email-read",
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "jsonBody": "={{ JSON.stringify({limit: Number($fromAI(\"limit\", \"Nombre d'emails a lire, defaut 5\")) || 5, folder: $fromAI(\"folder\", \"Dossier IMAP a lire, defaut INBOX\")}) }}"
      }
    },
    {
      "id": "tool-envoyer-email",
      "name": "envoyer_email",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [790, 720],
      "parameters": {
        "toolDescription": "Envoyer un email via SMTP. POST. Body JSON obligatoire :\n{\"to\":\"destinataire@email.com\",\"subject\":\"Sujet de l'email\",\"text\":\"Corps du message en texte\",\"html\":\"<div>Corps HTML optionnel</div>\"}\nLes champs to et subject sont obligatoires.",
        "method": "POST",
        "url": "https://n8n.talosprimes.com/webhook/client/{{ CLIENT_CODE }}/email-send",
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "jsonBody": "={{ JSON.stringify({to: $fromAI(\"to\", \"Adresse email du destinataire\"), subject: $fromAI(\"subject\", \"Sujet de l'email\"), text: $fromAI(\"text\", \"Corps du message en texte brut\"), html: $fromAI(\"html\", \"Corps du message en HTML professionnel\")}) }}"
      }
    },
    {
      "parameters": {
        "jsCode": "// Recuperer la sortie de l'agent IA\nconst agentOutput = $input.first().json;\nconst text = agentOutput.output || agentOutput.text || JSON.stringify(agentOutput);\n\n// Recuperer les donnees email depuis le node 02\nconst emailData = $('02. Traiter email').first().json;\n\n// Extraire le bloc JSON de la sortie de l'agent\nlet agentData = {};\n\n// Chercher un bloc ```json ... ```\nconst jsonBlockMatch = text.match(/```json\\s*([\\s\\S]*?)\\s*```/);\nif (jsonBlockMatch) {\n  try {\n    agentData = JSON.parse(jsonBlockMatch[1]);\n  } catch (e) {\n    console.warn('[04. Resultat] Erreur parse JSON block:', e.message);\n  }\n}\n\n// Si pas de bloc JSON, chercher un objet JSON brut dans le texte\nif (Object.keys(agentData).length === 0) {\n  const rawJsonMatch = text.match(/\\{[\\s\\S]*\"classification\"[\\s\\S]*\\}/);\n  if (rawJsonMatch) {\n    try {\n      agentData = JSON.parse(rawJsonMatch[0]);\n    } catch (e) {\n      console.warn('[04. Resultat] Erreur parse raw JSON:', e.message);\n    }\n  }\n}\n\n// Construire le payload pour l'API ingest\nconst payload = {\n  tenantId: emailData.tenantId,\n  emailId: null,\n  threadId: null,\n  fromAddress: emailData.from || '',\n  toAddress: emailData.to || '',\n  subject: emailData.subject || '(sans objet)',\n  bodyPreview: (emailData.textPlain || '').substring(0, 500),\n  hasAttachments: emailData.hasAttachments || false,\n  provider: 'imap',\n  classification: agentData.classification || { categorie: 'autre', priorite: 'moyenne', intention: 'autre', confiance: 0 },\n  action: agentData.action || 'classified',\n  replySubject: agentData.replySubject || null,\n  replyBody: agentData.replyBody || null,\n  replyHtml: agentData.replyHtml || null,\n  replyConfidence: Number(agentData.replyConfidence) || 0,\n  replyAction: agentData.replyAction || 'queue_human'\n};\n\nconsole.log('[04. Resultat] Payload prepare:', JSON.stringify(payload).substring(0, 300));\n\nreturn [{ json: payload }];"
      },
      "id": "result",
      "name": "04. Resultat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/email-agent/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-talosprimes-n8n-secret", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "save-log",
      "name": "05. Sauvegarder Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "01. Nouveau email recu": { "main": [[{ "node": "02. Traiter email", "type": "main", "index": 0 }]] },
    "02. Traiter email": { "main": [[{ "node": "03. Agent IA Email", "type": "main", "index": 0 }]] },
    "03. Agent IA Email": { "main": [[{ "node": "04. Resultat", "type": "main", "index": 0 }]] },
    "04. Resultat": { "main": [[{ "node": "05. Sauvegarder Log", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "03. Agent IA Email", "type": "ai_languageModel", "index": 0 }]] },
    "Memory Email": { "ai_memory": [[{ "node": "03. Agent IA Email", "type": "ai_memory", "index": 0 }]] },
    "lire_emails": { "ai_tool": [[{ "node": "03. Agent IA Email", "type": "ai_tool", "index": 0 }]] },
    "envoyer_email": { "ai_tool": [[{ "node": "03. Agent IA Email", "type": "ai_tool", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "talosprimes" }, { "name": "auto-email" }, { "name": "ai-agent" }]
}
