n8n_workflows/talosprimes/automations/templates/email-read.json
{
  "name": "[{{ CLIENT_NAME }}] Email - Lecture boite de reception",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client/{{ CLIENT_CODE }}/email-read",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst limit = Number(body.limit) || 10;\nconst folder = body.folder || 'INBOX';\n\nreturn [{ json: { limit, folder } }];"
      },
      "id": "params",
      "name": "02. Parametres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "mailbox": "={{ $json.folder }}",
        "options": {}
      },
      "id": "imap",
      "name": "03. Lire emails IMAP",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [690, 300],
      "credentials": {
        "imap": {
          "name": "Email IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all().map(item => {\n  const e = item.json;\n  return {\n    id: e.messageId || e.id || null,\n    from: e.from?.text || e.from || '',\n    to: e.to?.text || e.to || '',\n    subject: e.subject || '(sans objet)',\n    date: e.date || null,\n    textPlain: (e.text || '').substring(0, 500),\n    hasAttachments: (e.attachments || []).length > 0,\n    attachmentCount: (e.attachments || []).length\n  };\n});\n\nreturn [{ json: {\n  success: true,\n  data: {\n    emails,\n    count: emails.length\n  }\n} }];"
      },
      "id": "format",
      "name": "04. Formater",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond",
      "name": "05. Repondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "01. Webhook": { "main": [[{ "node": "02. Parametres", "type": "main", "index": 0 }]] },
    "02. Parametres": { "main": [[{ "node": "03. Lire emails IMAP", "type": "main", "index": 0 }]] },
    "03. Lire emails IMAP": { "main": [[{ "node": "04. Formater", "type": "main", "index": 0 }]] },
    "04. Formater": { "main": [[{ "node": "05. Repondre", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "talosprimes" }, { "name": "auto-email" }]
}
