n8n_workflows/talosprimes/automations/templates/email-watch.json
{
  "name": "[{{ CLIENT_NAME }}] Email - Surveillance nouveaux messages",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "options": {}
      },
      "id": "imap-trigger",
      "name": "01. Nouveau email recu",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": {
        "imap": {
          "name": "Email IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\n\nconst from = email.from?.text || email.from || '';\nconst to = email.to?.text || email.to || '';\nconst subject = email.subject || '(sans objet)';\nconst date = email.date || new Date().toISOString();\nconst textPlain = (email.text || '').substring(0, 1000);\nconst hasAttachments = (email.attachments || []).length > 0;\n\nreturn [{ json: {\n  from,\n  to,\n  subject,\n  date,\n  textPlain,\n  hasAttachments,\n  action: 'received'\n} }];"
      },
      "id": "process",
      "name": "02. Traiter email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst tenantId = '{{ TENANT_ID }}';\n\nconsole.log(`[Email recu] De: ${data.from} | Sujet: ${data.subject}`);\n\nreturn [{ json: { ...data, tenantId, provider: 'imap', timestamp: new Date().toISOString() } }];"
      },
      "id": "add-tenant",
      "name": "03. Ajouter tenantId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'http://localhost:5678' }}/webhook/automations/email-ai-process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 90000 }
      },
      "id": "call-orchestrator",
      "name": "04. Envoyer a l'agent IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log(`[Agent IA] Resultat: ${JSON.stringify(result.data || result)}`);\nreturn [{ json: result }];"
      },
      "id": "log-result",
      "name": "05. Logger resultat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "01. Nouveau email recu": { "main": [[{ "node": "02. Traiter email", "type": "main", "index": 0 }]] },
    "02. Traiter email": { "main": [[{ "node": "03. Ajouter tenantId", "type": "main", "index": 0 }]] },
    "03. Ajouter tenantId": { "main": [[{ "node": "04. Envoyer a l'agent IA", "type": "main", "index": 0 }]] },
    "04. Envoyer a l'agent IA": { "main": [[{ "node": "05. Logger resultat", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "talosprimes" }, { "name": "auto-email" }]
}
