n8n_workflows/talosprimes/automations/templates/gmail-send.json
{
  "name": "[TalosPrimes] Email - Envoi (multi-tenant)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automations/email-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst tenantId = body.tenantId;\nconst to = body.to;\nconst subject = body.subject;\nconst message = body.message || body.text || '';\nconst html = body.html || '';\nconst cc = body.cc || '';\nconst bcc = body.bcc || '';\n\nif (!tenantId || !to || !subject) {\n  return [{ json: { success: false, error: 'tenantId, to et subject requis' } }];\n}\n\nreturn [{ json: { tenantId, to, subject, message, html, cc, bcc, valid: true } }];"
      },
      "id": "validate",
      "name": "02. Valider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ap.config FROM automation_purchases ap JOIN automation_catalog ac ON ac.id = ap.automation_id WHERE ap.tenant_id = '{{ $json.tenantId }}'::uuid AND ac.categorie = 'email' AND ap.status = 'active' LIMIT 1",
        "options": {}
      },
      "id": "get-config",
      "name": "03. Config client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "credentials": { "postgres": { "name": "Supabase Postgres" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('02. Valider').first().json;\nconst configRow = $input.first().json;\nconst config = configRow?.config || {};\nconst fromName = config.fromName || 'TalosPrimes';\nconst fromEmail = config.email || '';\nconst signature = config.signature || '';\nconst fullMessage = signature ? data.message + '\\n\\n' + signature : data.message;\n\n// Generer le HTML professionnel a partir du texte brut\nconst textContent = data.message || '';\nconst paragraphs = textContent.split(/\\n\\n|\\n/).filter(p => p.trim()).map(p => '<p style=\"margin:0 0 16px;font-size:15px;color:#2d3748;line-height:1.7;\">' + p.trim() + '</p>').join('');\n\nconst htmlEmail = '<div style=\"margin:0;padding:0;background-color:#f4f6f9;font-family:Segoe UI,Roboto,Arial,sans-serif;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f6f9;padding:30px 0;\"><tr><td align=\"center\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background-color:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\"><tr><td style=\"background:linear-gradient(135deg,#1a1a2e 0%,#16213e 50%,#0f3460 100%);padding:28px 40px;text-align:center;\"><h1 style=\"margin:0;font-size:24px;font-weight:700;color:#ffffff;letter-spacing:1px;\">' + fromName + '</h1><p style=\"margin:4px 0 0;font-size:12px;color:#8b9cc7;letter-spacing:2px;text-transform:uppercase;\">Gestion d\\'entreprise intelligente</p></td></tr><tr><td style=\"padding:36px 40px 28px;\">' + paragraphs + '</td></tr><tr><td style=\"padding:0 40px 30px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-top:1px solid #e8ecf1;padding-top:24px;\"><p style=\"margin:0 0 4px;font-size:14px;font-weight:600;color:#1a1a2e;\">L\\'equipe ' + fromName + '</p><p style=\"margin:0;font-size:12px;color:#6b7c93;\">' + (fromEmail || 'direction@talosprimes.com') + ' | talosprimes.com</p></td></tr></table></td></tr><tr><td style=\"background-color:#f8f9fb;padding:16px 40px;text-align:center;border-top:1px solid #e8ecf1;\"><p style=\"margin:0;font-size:11px;color:#9ba8b7;\">Ce message a ete envoye automatiquement. Pour toute question, repondez directement a cet email.</p></td></tr></table></td></tr></table></div>';\n\n// Si l'appelant a deja fourni du HTML custom, l'utiliser; sinon generer depuis le texte\nconst finalHtml = data.html || htmlEmail;\n\nreturn [{ json: { ...data, fromName, fromEmail, signature, fullMessage, htmlBody: finalHtml, config } }];"
      },
      "id": "prepare",
      "name": "04. Preparer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {
          "ccList": "={{ $json.cc }}",
          "bccList": "={{ $json.bcc }}",
          "appendAttribution": false
        }
      },
      "id": "gmail-send",
      "name": "05. Envoyer Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1130, 300],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('04. Preparer').first().json;\nconst result = $input.first().json;\n\nreturn [{ json: {\n  success: true,\n  data: {\n    message: 'Email envoye avec succes',\n    messageId: result.id || null,\n    to: data.to,\n    subject: data.subject\n  }\n} }];"
      },
      "id": "result",
      "name": "06. Resultat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": {} },
      "id": "respond",
      "name": "07. Repondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "01. Webhook": { "main": [[{ "node": "02. Valider", "type": "main", "index": 0 }]] },
    "02. Valider": { "main": [[{ "node": "03. Config client", "type": "main", "index": 0 }]] },
    "03. Config client": { "main": [[{ "node": "04. Preparer", "type": "main", "index": 0 }]] },
    "04. Preparer": { "main": [[{ "node": "05. Envoyer Gmail", "type": "main", "index": 0 }]] },
    "05. Envoyer Gmail": { "main": [[{ "node": "06. Resultat", "type": "main", "index": 0 }]] },
    "06. Resultat": { "main": [[{ "node": "07. Repondre", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "talosprimes" }, { "name": "auto-email" }]
}
