n8n_workflows/talosprimes/automations/automation-categories-delete.json
{
  "name": "[TalosPrimes] Automations - Categories Supprimer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automations/categories-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE automation_categories\nSET actif = false, updated_at = NOW()\nWHERE id = '{{ $json.body.id }}'::uuid\nRETURNING id, code, label",
        "options": {}
      },
      "id": "db-delete",
      "name": "02. Desactiver Category",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nreturn [{ json: { success: true, data: { message: 'Catégorie désactivée : ' + (row.label || row.id) } } }];"
      },
      "id": "format",
      "name": "03. Formater reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "04. Repondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "01. Webhook": { "main": [[{ "node": "02. Desactiver Category", "type": "main", "index": 0 }]] },
    "02. Desactiver Category": { "main": [[{ "node": "03. Formater reponse", "type": "main", "index": 0 }]] },
    "03. Formater reponse": { "main": [[{ "node": "04. Repondre", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "talosprimes" }, { "name": "automations" }, { "name": "categories" }]
}
