n8n_workflows/talosprimes/automations/automation-activate.json
{
  "name": "[TalosPrimes] Activation Automatisation Client",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automations/activate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst tenantId = body.tenantId;\nconst automationId = body.automationId;\nconst config = body.config || {};\n\nif (!tenantId || !automationId) {\n  return [{ json: { success: false, error: 'tenantId et automationId requis' } }];\n}\n\nreturn [{ json: { tenantId, automationId, config, valid: true } }];"
      },
      "id": "validate",
      "name": "02. Valider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ac.code, ac.nom, ac.setup_price, ac.monthly_price, t.nom_entreprise AS tenant_name FROM automation_catalog ac, tenants t WHERE ac.id = '{{ $json.automationId }}'::uuid AND t.id = '{{ $json.tenantId }}'::uuid",
        "options": {}
      },
      "id": "lookup",
      "name": "03. Chercher infos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const info = $input.first().json;\nconst data = $('02. Valider').first().json;\n\nif (!info || !info.code) {\n  return [{ json: { success: false, error: 'Automatisation ou tenant introuvable' } }];\n}\n\nreturn [{ json: {\n  tenantId: data.tenantId,\n  automationId: data.automationId,\n  code: info.code,\n  nom: info.nom,\n  tenantName: info.tenant_name,\n  setupPrice: Number(info.setup_price) || 0,\n  monthlyPrice: Number(info.monthly_price) || 0,\n  config: data.config\n} }];"
      },
      "id": "prepare",
      "name": "04. Preparer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO automation_purchases (tenant_id, automation_id, status, n8n_folder_id, n8n_folder_name, n8n_workflow_ids, setup_price_paid, monthly_price, config, activated_at, created_at, updated_at) VALUES ('{{ $json.tenantId }}'::uuid, '{{ $json.automationId }}'::uuid, 'active', 'tag:{{ $json.tenantName }}', 'client:{{ $json.tenantName }}', '[]'::jsonb, {{ $json.setupPrice }}, {{ $json.monthlyPrice }}, '{{ JSON.stringify($json.config) }}'::jsonb, NOW(), NOW(), NOW()) ON CONFLICT (tenant_id, automation_id) DO UPDATE SET status = 'active', setup_price_paid = EXCLUDED.setup_price_paid, monthly_price = EXCLUDED.monthly_price, config = EXCLUDED.config, activated_at = NOW(), suspended_at = NULL, cancelled_at = NULL, updated_at = NOW() RETURNING id, status",
        "options": {}
      },
      "id": "upsert",
      "name": "05. Enregistrer achat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 300],
      "credentials": { "postgres": { "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const purchase = $input.first().json;\nconst data = $('04. Preparer').first().json;\n\nreturn [{ json: {\n  success: true,\n  workflowId: null,\n  workflowName: data.nom,\n  workflowIds: [],\n  folderId: null,\n  folderName: 'client:' + data.tenantName,\n  purchaseId: purchase.id,\n  purchaseStatus: purchase.status,\n  message: 'Automatisation ' + data.nom + ' activee pour ' + data.tenantName\n} }];"
      },
      "id": "result",
      "name": "06. Resultat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond",
      "name": "07. Repondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [[{ "node": "02. Valider", "type": "main", "index": 0 }]]
    },
    "02. Valider": {
      "main": [[{ "node": "03. Chercher infos", "type": "main", "index": 0 }]]
    },
    "03. Chercher infos": {
      "main": [[{ "node": "04. Preparer", "type": "main", "index": 0 }]]
    },
    "04. Preparer": {
      "main": [[{ "node": "05. Enregistrer achat", "type": "main", "index": 0 }]]
    },
    "05. Enregistrer achat": {
      "main": [[{ "node": "06. Resultat", "type": "main", "index": 0 }]]
    },
    "06. Resultat": {
      "main": [[{ "node": "07. Repondre", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "talosprimes" }, { "name": "automations" }]
}
