n8n_workflows/talosprimes/abonnements/subscription-suspended.json
{
  "name": "Abonnements - Suspension pour impayé",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subscription-suspended",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-suspend",
      "name": "01. Webhook - Suspension",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "webhookId": "subscription-suspended"
    },
    {
      "parameters": {
        "jsCode": "// Parser le payload du webhook\nconst raw = $input.item.json;\nconst payload = raw?.body || raw?.json || raw;\nconst data = payload?.data || payload;\n\n// Extraire les données\nconst subscriptionId = data?.subscriptionId || data?.id || '';\nconst tenantId = payload?.tenantId || data?.tenantId || '';\nconst reason = data?.reason || 'Paiement en retard';\n\nif (!subscriptionId) {\n  throw new Error('ID de l\\'abonnement requis');\n}\n\nif (!tenantId) {\n  throw new Error('Tenant ID requis');\n}\n\nreturn {\n  json: {\n    subscriptionId,\n    tenantId,\n    reason,\n    suspendDate: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-payload",
      "name": "02. Parser payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  cs.*,\n  cf.email,\n  cf.nom,\n  cf.prenom,\n  cf.raison_sociale,\n  cf.id as client_id\nFROM client_subscriptions cs\nJOIN client_finals cf ON cs.client_final_id = cf.id\nWHERE cs.id = $1::uuid;",
        "alwaysOutputData": true,
        "options": {
          "queryBatching": "independently",
          "queryParameters": "={{ JSON.stringify([$json.subscriptionId]) }}"
        }
      },
      "id": "get-subscription",
      "name": "03. Récupérer abonnement",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        400
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account",
          "id": "OGqj65ZoFRileCck"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[0]?.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-subscription",
      "name": "04. Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Préparer les données pour la suspension\nconst subscriptionData = $input.item.json[0];\nconst parseData = $node['02. Parser payload'].json;\n\nreturn {\n  json: {\n    subscription: subscriptionData,\n    tenantId: parseData.tenantId,\n    reason: parseData.reason,\n    clientId: subscriptionData.client_id,\n    clientEmail: subscriptionData.email,\n    clientName: subscriptionData.nom || subscriptionData.prenom || subscriptionData.raison_sociale || 'Client',\n    idAbonnementStripe: subscriptionData.id_abonnement_stripe,\n    planName: subscriptionData.nom_plan\n  }\n};"
      },
      "id": "prepare-suspend",
      "name": "05. Préparer suspension",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.idAbonnementStripe }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-stripe-id",
      "name": "06. Vérifier Stripe ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $json.idAbonnementStripe }}",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keyValue",
        "keyValue": {
          "parameters": [
            {
              "name": "pause_collection[behavior]",
              "value": "mark_uncollectible"
            }
          ]
        },
        "options": {},
        "genericAuthType": "stripeApi"
      },
      "id": "pause-stripe-subscription",
      "name": "07. Mettre en pause Stripe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        180
      ],
      "credentials": {
        "stripeApi": {
          "id": "hTgbVXtv3dG8wSJ4",
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATEclient_subscriptions\nSET \n  statut = 'suspendu',\n  updated_at = NOW()\nWHERE id = $1::uuid\nRETURNING *;",
        "alwaysOutputData": true,
        "options": {
          "queryBatching": "independently",
          "queryParameters": "={{ JSON.stringify([$json.subscription.id]) }}"
        }
      },
      "id": "suspend-subscription",
      "name": "08. Suspendre abonnement",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account",
          "id": "OGqj65ZoFRileCck"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECTCOUNT(*) as active_count\nFROM client_subscriptions\nWHERE client_final_id = $1::uuid\nAND statut != 'suspendu'\nAND statut != 'annule';",
        "alwaysOutputData": true,
        "options": {
          "queryBatching": "independently",
          "queryParameters": "={{ JSON.stringify([$json.clientId]) }}"
        }
      },
      "id": "check-active-subscriptions",
      "name": "09. Vérifier autres abonnements actifs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account",
          "id": "OGqj65ZoFRileCck"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[0]?.active_count }}",
              "operation": "equals",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-active-subscriptions",
      "name": "10. Abonnements actifs restants ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATEclient_finals\nSET \n  statut = 'suspendu',\n  updated_at = NOW()\nWHERE id = $1::uuid\nRETURNING *;",
        "alwaysOutputData": true,
        "options": {
          "queryBatching": "independently",
          "queryParameters": "={{ JSON.stringify([$json.clientId]) }}"
        }
      },
      "id": "suspend-client",
      "name": "11. Suspendre le client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2440,
        180
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account",
          "id": "OGqj65ZoFRileCck"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Préparer l'email de notification de suspension\nconst data = $node['05. Préparer suspension'].json;\n\nconst clientName = data.clientName || 'Client';\nconst clientEmail = data.clientEmail;\nconst planName = data.planName;\nconst reason = data.reason;\n\nconst htmlTemplate = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #ffc107; color: #333; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n    .warning-box { background: #fff3cd; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #ffc107; }\n    .action-box { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; text-align: center; }\n    .button { display: inline-block; padding: 12px 30px; background: #667eea; color: white; text-decoration: none; border-radius: 5px; margin: 10px 0; }\n    .footer { text-align: center; margin-top: 30px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Votre abonnement a été suspendu</h1>\n    </div>\n    <div class=\"content\">\n      <p>Bonjour ${clientName},</p>\n      <p>Nous vous informons que votre abonnement TalosPrimes a été temporairement suspendu.</p>\n      <div class=\"warning-box\">\n        <h3>Raison de la suspension :</h3>\n        <p>${reason}</p>\n      </div>\n      <p><strong>Votre accès aux services TalosPrimes est temporairement désactivé.</strong></p>\n      <div class=\"action-box\">\n        <h3>Comment réactiver votre abonnement ?</h3>\n        <p>Pour réactiver votre abonnement, veuillez :</p>\n        <ul style=\"text-align: left; display: inline-block;\">\n          <li>Régulariser votre paiement</li>\n          <li>Contacter notre support si nécessaire</li>\n        </ul>\n        <p>\n          <a href=\"https://talosprimes.com/support\" class=\"button\">Contacter le support</a>\n        </p>\n      </div>\n      <p>Si vous pensez qu'il s'agit d'une erreur, n'hésitez pas à nous contacter.</p>\n      <p>Cordialement,<br>L'équipe TalosPrimes</p>\n    </div>\n    <div class=\"footer\">\n      <p>Cet email a été envoyé automatiquement.</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    toEmail: clientEmail,\n    htmlBody: htmlTemplate,\n    subject: 'Votre abonnement TalosPrimes a été suspendu'\n  }\n};"
      },
      "id": "prepare-email",
      "name": "12. Préparer email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@talosprimes.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.htmlBody }}"
      },
      "id": "send-email",
      "name": "13. Envoyer email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2880,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "hepAQJGA9ubd1NF4",
          "name": "SMTP TalosPrimes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nvar query = \"INSERT INTO notifications (id, tenant_id, titre, message, type, lu, created_at) VALUES (gen_random_uuid(), $1, $2, $3, $4, false, NOW())\";\nvar params = [d.tenantId, d.clientName, d.reason];\nreturn [{json: {query, params}}];"
      },
      "id": "build-notification",
      "name": "14. Construire notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "$1",
        "alwaysOutputData": true,
        "options": {
          "queryBatching": "independently",
          "queryParameters": "={{ JSON.stringify([$('14. Construire notification').first().json.query]) }}"
        }
      },
      "id": "insert-notification",
      "name": "14b. INSERT notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3100,
        350
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres account",
          "id": "OGqj65ZoFRileCck"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Abonnement suspendu avec succès', data: { subscription: $node['08. Suspendre abonnement'].json[0], clientSuspended: $node['10. Abonnements actifs restants ?'].json?.clientSuspended || false } }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "15. Répondre succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3320,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Abonnement non trouvé' }) }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Répondre erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Erreur lors de la mise en pause Stripe', details: $json }) }}",
        "options": {}
      },
      "id": "respond-stripe-error",
      "name": "Répondre erreur Stripe",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        450
      ]
    }
  ],
  "connections": {
    "01. Webhook - Suspension": {
      "main": [
        [
          {
            "node": "02. Parser payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser payload": {
      "main": [
        [
          {
            "node": "03. Récupérer abonnement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Récupérer abonnement": {
      "main": [
        [
          {
            "node": "04. Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04. Validation": {
      "main": [
        [
          {
            "node": "05. Préparer suspension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Répondre erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Préparer suspension": {
      "main": [
        [
          {
            "node": "06. Vérifier Stripe ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Vérifier Stripe ID": {
      "main": [
        [
          {
            "node": "07. Mettre en pause Stripe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08. Suspendre abonnement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Mettre en pause Stripe": {
      "main": [
        [
          {
            "node": "08. Suspendre abonnement",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Répondre erreur Stripe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Suspendre abonnement": {
      "main": [
        [
          {
            "node": "09. Vérifier autres abonnements actifs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Vérifier autres abonnements actifs": {
      "main": [
        [
          {
            "node": "10. Abonnements actifs restants ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Abonnements actifs restants ?": {
      "main": [
        [
          {
            "node": "11. Suspendre le client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12. Préparer email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Suspendre le client": {
      "main": [
        [
          {
            "node": "12. Préparer email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Préparer email": {
      "main": [
        [
          {
            "node": "13. Envoyer email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Envoyer email": {
      "main": [
        [
          {
            "node": "14. Construire notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Construire notification": {
      "main": [
        [
          {
            "node": "14b. INSERT notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14b. INSERT notification": {
      "main": [
        [
          {
            "node": "15. Répondre succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "_comment": "Updated 2026-02-21. Converted: Postgres credential OGqj65ZoFRileCck, HTTP notifications→direct Postgres INSERT, emailFormat fix. Tested OK."
}