n8n_workflows/talosprimes/client-spaces/client-space-get.json
{
  "name": "client-space-get",
  "nodes": [
    {
      "parameters": {
        "path": "client-space-get",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw=$input.first().json;\nfunction pj(x){if(typeof x!=='string')return x;try{return JSON.parse(x)}catch(e){return null}}\nfunction isO(v){return v!==null&&typeof v==='object'&&!Array.isArray(v)}\nfunction g(o,k1,k2){if(!isO(o))return null;var v=o[k1];if(v!=null&&v!=='')return v;if(k2){v=o[k2];if(v!=null&&v!=='')return v}return null}\nlet payload=isO(raw)?raw:{};\nif(isO(raw)&&raw.body!==undefined)payload=typeof raw.body==='string'?pj(raw.body):raw.body;\nif(!isO(payload))payload={};\nlet data=isO(payload.data)?payload.data:payload;\nif(!isO(data))data=payload;\nconst tenantId=g(payload,'tenantId','tenant_id')||g(data,'tenantId','tenant_id')||g(raw,'tenantId','tenant_id');\nconst clientSpaceId=g(payload,'clientSpaceId','client_space_id')||g(data,'clientSpaceId','client_space_id')||g(payload,'id')||g(data,'id');\nif(!tenantId||!clientSpaceId)return [{json:{_error:true,message:'tenantId et clientSpaceId requis'}}];\nreturn [{json:{tenantId,clientSpaceId}}];"
      },
      "id": "parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json._error || '') }}",
              "operation": "notEqual",
              "value2": "true"
            }
          ]
        }
      },
      "id": "if-valid",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{ $json.message }}\"}"
      },
      "id": "respond-err",
      "name": "04. Repondre erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('02. Parser').first().json;\nvar query = \"SELECT cs.*, cf.nom, cf.prenom, cf.email as client_email, cf.raison_sociale FROM client_spaces cs LEFT JOIN client_finals cf ON cs.client_final_id = cf.id WHERE cs.tenant_id = $1::uuid ORDER BY cs.created_at DESC\";\nvar params = [p.tenantId];\nreturn [{json: {query, params}}];"
      },
      "id": "build-query",
      "name": "05. Construire requete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "$1",
        "options": {
          "queryParameters": "={{ JSON.stringify([$('05. Construire requete').first().json.query]) }}"
        }
      },
      "id": "pg-get",
      "name": "06. SELECT client_space",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1080,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();\nif(!items||items.length===0||!items[0].json?.id){\n  return [{json:{space:null}}];\n}\nreturn [{json:{space:items[0].json}}];"
      },
      "id": "format",
      "name": "07. Formater reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-ok",
      "name": "08. Repondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1520,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Construire requete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Repondre erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Construire requete": {
      "main": [
        [
          {
            "node": "06. SELECT client_space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. SELECT client_space": {
      "main": [
        [
          {
            "node": "07. Formater reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Formater reponse": {
      "main": [
        [
          {
            "node": "08. Repondre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "_comment": "Updated 2026-02-21. Postgres credential: OGqj65ZoFRileCck. Tested OK."
}