n8n_workflows/talosprimes/leads/lead-update-status.json
{
  "name": "Leads - Update Status (lead_update_status) → API TalosPrimes → Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead_update_status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_LeadUpdateStatus",
      "name": "Webhook - lead_update_status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst payload = (raw && typeof raw === 'object' && 'body' in raw) ? raw.body : raw;\nconst data = (payload && typeof payload === 'object' && 'data' in payload) ? payload.data : (payload ?? {});\n\nconst id = data?.id ? String(data.id) : '';\nconst statut = data?.statut ? String(data.statut) : '';\nif (!id) throw new Error('ID requis');\nif (!statut) throw new Error('Statut requis');\nreturn [{ json: { id, statut } }];\n"
      },
      "id": "Code_Parse",
      "name": "Parser payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.talosprimes.com/api/leads/{{$json.id}}/statut",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { statut: $json.statut } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "HTTP_Update",
      "name": "API TalosPrimes - Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AuJmz6W8aeutvysV",
          "name": "TalosPrimes API Auth"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}",
        "responseCode": 200
      },
      "id": "Respond_LeadUpdateStatus",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1020,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - lead_update_status": {
      "main": [
        [
          {
            "node": "Parser payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser payload": {
      "main": [
        [
          {
            "node": "API TalosPrimes - Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API TalosPrimes - Update Status": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1"
}