n8n_workflows/talosprimes/leads/leads-list.json
{
  "name": "Leads - List (leads_list) → Postgres Direct → Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads_list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_LeadsList",
      "name": "Webhook - leads_list",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parser le payload avec validation whitelist (anti-injection SQL)\nconst raw = $input.first().json;\nconst payload = (raw && typeof raw === 'object' && 'body' in raw) ? raw.body : raw;\nconst tenantId = String(payload?.tenantId || '').trim();\nconst data = (payload && typeof payload === 'object' && 'data' in payload) ? payload.data : (payload ?? {});\n\n// Validation UUID du tenantId\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\nif (!tenantId || !UUID_RE.test(tenantId)) throw new Error('Tenant ID requis et doit être un UUID valide');\n\n// Whitelist des valeurs autorisées\nconst VALID_SOURCES = ['site_web', 'telephone', 'email', 'recommandation', 'salon', 'publicite', 'reseaux_sociaux', 'autre', 'telephone_ia'];\nconst VALID_STATUTS = ['nouveau', 'contacte', 'converti', 'abandonne'];\n\nconst rawSource = data?.source ? String(data.source).trim().toLowerCase() : null;\nconst rawStatut = data?.statut ? String(data.statut).trim().toLowerCase() : null;\nconst rawLimit = data?.limit ? parseInt(String(data.limit), 10) : 100;\n\nconst source = rawSource && VALID_SOURCES.includes(rawSource) ? rawSource : null;\nconst statut = rawStatut && VALID_STATUTS.includes(rawStatut) ? rawStatut : null;\nconst limit = (Number.isFinite(rawLimit) && rawLimit > 0 && rawLimit <= 500) ? rawLimit : 100;\n\n// Construire la requête paramétrisée dynamiquement\nconst conditions = [];\nconst params = [];\nlet paramIdx = 1;\n\nconditions.push(`tenant_id = $${paramIdx}`);\nparams.push(tenantId);\nparamIdx++;\n\nif (source) {\n  conditions.push(`source = $${paramIdx}`);\n  params.push(source);\n  paramIdx++;\n}\nif (statut) {\n  conditions.push(`statut = $${paramIdx}`);\n  params.push(statut);\n  paramIdx++;\n}\n\nconst whereClause = conditions.join(' AND ');\nparams.push(limit);\n\nconst query = `SELECT id, tenant_id, nom, prenom, email, telephone, statut, source, notes, date_contact, created_at, updated_at\nFROM leads\nWHERE ${whereClause}\nORDER BY created_at DESC\nLIMIT $${paramIdx}`;\n\nreturn [{ json: { query, params: JSON.stringify(params) } }];"
      },
      "id": "Code_Parse",
      "name": "Parser filtres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "queryParameters": "={{ $json.params }}"
      },
      "id": "Postgres_Select",
      "name": "Postgres - SELECT leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        740,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formater la réponse: { leads: [...] }\nconst items = $input.all();\n// Si aucun résultat ou item vide (alwaysOutputData), retourner un tableau vide\nif (!items || items.length === 0 || !items[0].json?.id) {\n  return [{ json: { leads: [] } }];\n}\n\nconst leads = items.map(item => {\n  const lead = item.json;\n  return {\n    id: lead.id,\n    nom: lead.nom,\n    prenom: lead.prenom,\n    email: lead.email,\n    telephone: lead.telephone,\n    statut: lead.statut,\n    source: lead.source,\n    notes: lead.notes ?? null,\n    dateContact: lead.date_contact ?? null,\n    createdAt: lead.created_at,\n    updatedAt: lead.updated_at\n  };\n});\n\n// Retourner directement { leads } pour que le backend puisse lire result.data?.leads\nreturn [{ json: { leads } }];"
      },
      "id": "Code_Format",
      "name": "Formater réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "Respond_LeadsList",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1180,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - leads_list": {
      "main": [
        [
          {
            "node": "Parser filtres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser filtres": {
      "main": [
        [
          {
            "node": "Postgres - SELECT leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - SELECT leads": {
      "main": [
        [
          {
            "node": "Formater réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater réponse": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1"
}