n8n_workflows/talosprimes/leads/lead-questionnaire.json
{
  "name": "Leads - Questionnaire",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead_questionnaire",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Questionnaire",
      "name": "01. Webhook - Réception",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parser le payload\nconst raw = $input.first().json;\nconst payload = raw?.body || raw?.json || raw;\n// Le backend envoie { event, tenantId, timestamp, data: { id, ... } }\nconst tenantId = String(payload?.tenantId || '').trim();\nconst data = payload?.data || payload;\nconst leadId = String(data?.id || data?.leadId || '').trim();\n\nif (!leadId) throw new Error('ID du lead requis');\nif (!tenantId) throw new Error('tenantId requis');\n\nreturn { json: { leadId, tenantId } };"
      },
      "id": "Code_Parse",
      "name": "02. Parser Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.talosprimes.com/api/leads/{{$json.leadId}}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "headers": {
            "entries": [
              {
                "name": "x-talosprimes-n8n-secret",
                "value": "={{ $env.TALOSPRIMES_N8N_SECRET }}"
              }
            ]
          }
        }
      },
      "id": "HTTP_GetLead",
      "name": "03. API - Get Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Préparer données\nconst response = $input.first().json;\nconst parsed = $('02. Parser Payload').first().json;\nconst leadData = response.data?.lead || response.data || response;\n\nconst leadId = leadData.id || parsed.leadId;\nconst nom = leadData.nom || '';\nconst prenom = leadData.prenom || '';\nconst email = leadData.email || '';\nconst telephone = leadData.telephone || '';\nconst tenantId = parsed.tenantId;\n\nif (!leadId) throw new Error('ID du lead introuvable');\nif (!email) throw new Error('Email du lead introuvable');\n\nconst questionnaireUrl = `https://talosprimes.com/questionnaire/${leadId}`;\n\nreturn { json: { leadId, nom, prenom, email, telephone, tenantId, questionnaireUrl } };"
      },
      "id": "Code_Prepare",
      "name": "04. Préparer Données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.talosprimes.com/api/leads/{{$json.leadId}}/statut",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { statut: 'contacte' } }}",
        "options": {
          "timeout": 15000,
          "headers": {
            "entries": [
              {
                "name": "x-talosprimes-n8n-secret",
                "value": "={{ $env.TALOSPRIMES_N8N_SECRET }}"
              }
            ]
          }
        }
      },
      "id": "HTTP_UpdateStatus",
      "name": "05. API - Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Notification: Statut mis à jour\nconst data = $('04. Préparer Données').first().json;\n\nreturn {\n  json: {\n    type: 'lead_questionnaire_status',\n    titre: '✅ Statut lead mis à jour',\n    message: `Le statut du lead ${data.prenom} ${data.nom} a été mis à jour à 'contacte'`,\n    donnees: {\n      tenantId: data.tenantId,\n      leadId: data.leadId,\n      statut: 'contacte'\n    }\n  }\n};"
      },
      "id": "Code_NotificationStatus",
      "name": "06. Notification - Statut",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/notifications",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "headers": {
            "entries": [
              {
                "name": "x-talosprimes-n8n-secret",
                "value": "={{ $env.TALOSPRIMES_N8N_SECRET }}"
              }
            ]
          }
        }
      },
      "id": "HTTP_NotificationStatus",
      "name": "07. API - Notification Statut",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Conserver données pour email\nconst data = $('04. Préparer Données').first().json;\nreturn { json: data };"
      },
      "id": "Code_Continue",
      "name": "08. Continuer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formater Email Client\nconst data = $input.first().json;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background: #f4f4f4; }\n    .container { max-width: 600px; margin: 20px auto; background: #fff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #4f46e5 0%, #7c3aed 100%); color: white; padding: 40px 30px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; font-weight: 600; }\n    .content { padding: 40px 30px; }\n    .greeting { font-size: 20px; font-weight: 600; color: #1f2937; margin-bottom: 20px; }\n    .welcome-box { background: linear-gradient(135deg, #e0e7ff 0%, #f3e8ff 100%); padding: 20px; border-radius: 8px; margin: 25px 0; text-align: center; }\n    .welcome-box p { margin: 0; color: #4f46e5; font-weight: 500; }\n    .button { display: inline-block; padding: 14px 32px; background: linear-gradient(135deg, #4f46e5 0%, #7c3aed 100%); color: white; text-decoration: none; border-radius: 8px; margin: 25px 0; font-weight: 600; box-shadow: 0 4px 6px rgba(79, 70, 229, 0.3); transition: transform 0.2s; }\n    .button:hover { transform: translateY(-2px); }\n    .info-text { color: #6b7280; margin: 20px 0; }\n    .footer { background: #f9fafb; padding: 25px; text-align: center; color: #6b7280; font-size: 13px; border-top: 1px solid #e5e7eb; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>TalosPrimes</h1>\n      <p style=\"margin: 10px 0 0 0; opacity: 0.95;\">Gestion d'entreprise automatisée</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"greeting\">Bonjour ${data.prenom} ${data.nom} 👋</div>\n      <div class=\"welcome-box\">\n        <p>Bienvenue chez TalosPrimes !</p>\n      </div>\n      <p style=\"color: #374151; margin: 20px 0;\">Merci pour votre intérêt pour <strong>TalosPrimes</strong> ! Nous sommes ravis de vous accompagner dans votre projet.</p>\n      <p style=\"color: #374151; margin: 20px 0;\">Pour mieux comprendre vos besoins et vous proposer la solution la plus adaptée, nous vous invitons à remplir ce questionnaire :</p>\n      <p style=\"text-align: center;\">\n        <a href=\"${data.questionnaireUrl}\" class=\"button\">📝 Remplir le questionnaire</a>\n      </p>\n      <p class=\"info-text\">Ce questionnaire ne prendra que quelques minutes et nous permettra de personnaliser notre offre selon vos besoins spécifiques.</p>\n      <p style=\"color: #374151; margin: 30px 0 20px 0;\">Cordialement,<br><strong>L'équipe TalosPrimes</strong></p>\n    </div>\n    <div class=\"footer\">\n      <p><strong>TalosPrimes</strong> - Plateforme SaaS de gestion d'entreprise</p>\n      <p>Cet email a été envoyé automatiquement.</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconst text = `Bonjour ${data.prenom} ${data.nom},\n\nBienvenue chez TalosPrimes !\n\nMerci pour votre intérêt pour TalosPrimes ! Nous sommes ravis de vous accompagner dans votre projet.\n\nPour mieux comprendre vos besoins et vous proposer la solution la plus adaptée, nous vous invitons à remplir ce questionnaire :\n\n${data.questionnaireUrl}\n\nCe questionnaire ne prendra que quelques minutes et nous permettra de personnaliser notre offre selon vos besoins spécifiques.\n\nCordialement,\nL'équipe TalosPrimes`;\n\nreturn {\n  json: {\n    from: \"TalosPrimes <contact@talosprimes.com>\",\n    to: [data.email],\n    subject: \"Bienvenue chez TalosPrimes - Questionnaire personnalisé\",\n    html: html,\n    text: text\n  }\n};"
      },
      "id": "Code_FormatEmail",
      "name": "09. Formatage Email Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.from || 'TalosPrimes <noreply@talosprimes.com>' }}",
        "toEmail": "={{ Array.isArray($json.to) ? $json.to[0] : $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "HTTP_Resend",
      "name": "10. SMTP - Email Client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2000,
        400
      ],
      "credentials": {
        "smtp": {
          "id": "hepAQJGA9ubd1NF4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Notification: Email envoyé\nconst data = $('09. Formatage Email Client').first().json;\nconst leadData = $('04. Préparer Données').first().json;\n\nreturn {\n  json: {\n    type: 'lead_questionnaire_email',\n    titre: '📧 Email questionnaire envoyé',\n    message: `Email questionnaire envoyé à ${data.to[0]} pour ${leadData.prenom} ${leadData.nom}`,\n    donnees: {\n      tenantId: leadData.tenantId,\n      leadId: leadData.leadId,\n      email: data.to[0]\n    }\n  }\n};"
      },
      "id": "Code_NotificationEmail",
      "name": "11. Notification - Email Envoyé",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/notifications",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "headers": {
            "entries": [
              {
                "name": "x-talosprimes-n8n-secret",
                "value": "={{ $env.TALOSPRIMES_N8N_SECRET }}"
              }
            ]
          }
        }
      },
      "id": "HTTP_NotificationEmail",
      "name": "12. API - Notification Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Questionnaire envoyé avec succès\",\n  \"leadId\": \"{{ $('04. Préparer Données').first().json.leadId }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "Respond_Success",
      "name": "13. Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Notification d'erreur\nconst error = $input.first().json;\nconst parsed = $('02. Parser Payload').first()?.json || {};\n\nreturn {\n  json: {\n    type: 'lead_questionnaire_error',\n    titre: '🚨 Erreur workflow questionnaire',\n    message: `Erreur : ${error.message || error.error?.message || 'Erreur inconnue'}`,\n    donnees: {\n      tenantId: parsed.tenantId || '',\n      error: error.message || error.error?.message || 'Erreur inconnue',\n      executionId: $execution.id\n    }\n  }\n};"
      },
      "id": "Code_NotificationError",
      "name": "ERROR. Notification Erreur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.talosprimes.com/api/notifications",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "headers": {
            "entries": [
              {
                "name": "x-talosprimes-n8n-secret",
                "value": "={{ $env.TALOSPRIMES_N8N_SECRET }}"
              }
            ]
          }
        }
      },
      "id": "HTTP_NotificationError",
      "name": "ERROR. API - Notification Erreur",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Une erreur s'est produite. Notre équipe a été notifiée.\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "Respond_Error",
      "name": "ERROR. Réponse Erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        800
      ]
    }
  ],
  "connections": {
    "01. Webhook - Réception": {
      "main": [
        [
          {
            "node": "02. Parser Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser Payload": {
      "main": [
        [
          {
            "node": "03. API - Get Lead",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "ERROR. Notification Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. API - Get Lead": {
      "main": [
        [
          {
            "node": "04. Préparer Données",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "ERROR. Notification Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04. Préparer Données": {
      "main": [
        [
          {
            "node": "05. API - Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "ERROR. Notification Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. API - Update Status": {
      "main": [
        [
          {
            "node": "06. Notification - Statut",
            "type": "main",
            "index": 0
          },
          {
            "node": "08. Continuer",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "ERROR. Notification Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Notification - Statut": {
      "main": [
        [
          {
            "node": "07. API - Notification Statut",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": []
    },
    "07. API - Notification Statut": {
      "main": [
        [
          {
            "node": "08. Continuer",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": []
    },
    "08. Continuer": {
      "main": [
        [
          {
            "node": "09. Formatage Email Client",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "ERROR. Notification Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Formatage Email Client": {
      "main": [
        [
          {
            "node": "10. SMTP - Email Client",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "ERROR. Notification Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. SMTP - Email Client": {
      "main": [
        [
          {
            "node": "11. Notification - Email Envoyé",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "ERROR. Notification Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Notification - Email Envoyé": {
      "main": [
        [
          {
            "node": "12. API - Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": []
    },
    "12. API - Notification Email": {
      "main": [
        [
          {
            "node": "13. Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": []
    },
    "ERROR. Notification Erreur": {
      "main": [
        [
          {
            "node": "ERROR. API - Notification Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERROR. API - Notification Erreur": {
      "main": [
        [
          {
            "node": "ERROR. Réponse Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-09T00:00:00.000Z",
  "versionId": "1"
}