n8n_workflows/talosprimes/bons-commande/bdc-deleted.json
{
  "name": "bdc-deleted",
  "nodes": [
    {
      "parameters": {
        "path": "bdc-deleted",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 200]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nif (!body.tenantId || !body.bdcId) {\n  throw new Error('tenantId and bdcId are required');\n}\n\nreturn [{ json: { tenantId: body.tenantId, bdcId: body.bdcId } }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Validation failed\" }"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM bon_commande_lines WHERE bon_commande_id = '{{ $json.bdcId }}'"
      },
      "id": "05. Delete Lines",
      "name": "05. Delete Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM bon_commandes WHERE id = '{{ $('02. Parser').first().json.bdcId }}' AND tenant_id = '{{ $('02. Parser').first().json.tenantId }}' AND statut != 'facture' RETURNING id, numero_bdc"
      },
      "id": "06. Delete BdC",
      "name": "06. Delete BdC",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $('06. Delete BdC').first().json;\n\nif (!result || !result.id) {\n  return [{ json: { deleted: false, error: 'Bon de commande not found or already invoiced' } }];\n}\n\nreturn [{ json: { deleted: true, id: result.id, numero_bdc: result.numero_bdc } }];"
      },
      "id": "07. Format Response",
      "name": "07. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "08. Respond",
      "name": "08. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [[{ "node": "02. Parser", "type": "main", "index": 0 }]]
    },
    "02. Parser": {
      "main": [[{ "node": "03. Valide ?", "type": "main", "index": 0 }]]
    },
    "03. Valide ?": {
      "main": [
        [{ "node": "05. Delete Lines", "type": "main", "index": 0 }],
        [{ "node": "04. Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "05. Delete Lines": {
      "main": [[{ "node": "06. Delete BdC", "type": "main", "index": 0 }]]
    },
    "06. Delete BdC": {
      "main": [[{ "node": "07. Format Response", "type": "main", "index": 0 }]]
    },
    "07. Format Response": {
      "main": [[{ "node": "08. Respond", "type": "main", "index": 0 }]]
    }
  }
}