n8n_workflows/talosprimes/bons-commande/bdc-convert-to-invoice.json
{
  "name": "bdc-convert-to-invoice",
  "nodes": [
    {
      "parameters": {
        "path": "bdc-convert-to-invoice",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.body;\n\nif (!payload.tenantId || !payload.bdcId) {\n  throw new Error('tenantId and bdcId are required');\n}\n\nreturn {\n  tenantId: payload.tenantId,\n  bdcId: payload.bdcId\n};"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Validation failed\"\n}"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM bons_commande WHERE id = '{{ $json.bdcId }}' AND tenant_id = '{{ $json.tenantId }}'"
      },
      "id": "05. Get Bon",
      "name": "05. Get Bon",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const bon = $('05. Get Bon').first().json;\n\nif (!bon) {\n  throw new Error('Bon de commande not found');\n}\n\nif (bon.statut === 'facture' || bon.statut === 'annule') {\n  throw new Error('Cannot convert bon with statut: ' + bon.statut);\n}\n\nreturn {\n  bonValid: true\n};"
      },
      "id": "06. Validate Bon",
      "name": "06. Validate Bon",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT COALESCE(MAX(CAST(SUBSTRING(numero_facture, -6) AS INTEGER)), 0) + 1 as next_num FROM invoices WHERE tenant_id = '{{ $json.tenantId }}' AND numero_facture LIKE 'INV-' || TO_CHAR(CURRENT_DATE, 'YYYY') || '-%'"
      },
      "id": "07. Get Next Numero",
      "name": "07. Get Next Numero",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const nextNum = $('07. Get Next Numero').first().json.next_num;\nconst year = new Date().getFullYear();\nconst numeroFacture = `INV-${year}-${String(nextNum).padStart(6, '0')}`;\n\nreturn {\n  numeroFacture: numeroFacture\n};"
      },
      "id": "08. Generate Numero",
      "name": "08. Generate Numero",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO invoices (id, type, tenant_id, client_final_id, numero_facture, date_facture, date_echeance, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut, created_at, updated_at) SELECT gen_random_uuid(), 'standard', tenant_id, client_final_id, '{{ $('08. Generate Numero').first().json.numeroFacture }}', date_bdc, date_validite, montant_ht, montant_ttc, tva_taux, description, mode_paiement, 'brouillon', NOW(), NOW() FROM bons_commande WHERE id = '{{ $json.bdcId }}' RETURNING *"
      },
      "id": "09. Create Invoice",
      "name": "09. Create Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const invoice = $('09. Create Invoice').first().json;\nconst invoiceId = invoice.id;\n\nreturn {\n  invoiceId: invoiceId\n};"
      },
      "id": "10. Get Invoice ID",
      "name": "10. Get Invoice ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO invoice_lines (id, invoice_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre) SELECT gen_random_uuid(), '{{ $('10. Get Invoice ID').first().json.invoiceId }}', code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre FROM bon_commande_lines WHERE bon_commande_id = '{{ $json.bdcId }}' ORDER BY ordre"
      },
      "id": "11. Create Invoice Lines",
      "name": "11. Create Invoice Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE bons_commande SET statut = 'facture', invoice_id = '{{ $('10. Get Invoice ID').first().json.invoiceId }}', updated_at = NOW() WHERE id = '{{ $json.bdcId }}' RETURNING *"
      },
      "id": "12. Update Bon Status",
      "name": "12. Update Bon Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, tenant_id, client_final_id, numero_facture, date_facture, date_echeance, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut, created_at, updated_at FROM invoices WHERE id = '{{ $('10. Get Invoice ID').first().json.invoiceId }}'"
      },
      "id": "13. Get Invoice",
      "name": "13. Get Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID"
        }
      },
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const invoice = $('13. Get Invoice').first().json;\nconst bon = $('12. Update Bon Status').first().json;\n\nreturn {\n  success: true,\n  data: {\n    invoice: invoice,\n    bon: bon\n  }\n};"
      },
      "id": "14. Format Response",
      "name": "14. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        300
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "15. Respond",
      "name": "15. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2700,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get Bon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get Bon": {
      "main": [
        [
          {
            "node": "06. Validate Bon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Validate Bon": {
      "main": [
        [
          {
            "node": "07. Get Next Numero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Get Next Numero": {
      "main": [
        [
          {
            "node": "08. Generate Numero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Generate Numero": {
      "main": [
        [
          {
            "node": "09. Create Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Create Invoice": {
      "main": [
        [
          {
            "node": "10. Get Invoice ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Get Invoice ID": {
      "main": [
        [
          {
            "node": "11. Create Invoice Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Create Invoice Lines": {
      "main": [
        [
          {
            "node": "12. Update Bon Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Update Bon Status": {
      "main": [
        [
          {
            "node": "13. Get Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Get Invoice": {
      "main": [
        [
          {
            "node": "14. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Format Response": {
      "main": [
        [
          {
            "node": "15. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}