n8n_workflows/talosprimes/bons-commande/bdc-convert-to-invoice.json
{
  "name": "bdc-convert-to-invoice",
  "nodes": [
    {
      "parameters": {
        "path": "bdc-convert-to-invoice",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\n\nif (!body.tenantId || !body.bdcId) {\n  throw new Error('tenantId and bdcId are required');\n}\n\nreturn [{ json: { tenantId: body.tenantId, bdcId: body.bdcId } }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "2746e5a1-ed4e-4d6f-a20b-13cfdcd83f3e",
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Validation failed\" }"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT id, tenant_id, client_final_id, numero_bdc, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut FROM bons_commande WHERE id = '\" + $json.bdcId + \"' AND tenant_id = '\" + $json.tenantId + \"' AND statut IN ('brouillon', 'valide')\" }}"
      },
      "id": "05. Get BdC",
      "name": "05. Get BdC",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        700,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT COALESCE(MAX(CAST(SUBSTRING(numero_facture FROM 'INV-[0-9]{4}-([0-9]+)') AS INTEGER)), 0) + 1 as next_num FROM invoices WHERE tenant_id = '\" + $('02. Parser').first().json.tenantId + \"' AND numero_facture LIKE 'INV-' || EXTRACT(YEAR FROM NOW())::text || '-%'\" }}"
      },
      "id": "06. Get Next Invoice Number",
      "name": "06. Get Next Invoice Number",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        900,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var bdc = $('05. Get BdC').first().json;\nvar nextNum = $('06. Get Next Invoice Number').first().json.next_num || 1;\n\nif (!bdc || !bdc.id) {\n  throw new Error('Bon de commande not found or not in valid status');\n}\n\nfunction esc(v) { return v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; }\nfunction num(v) { var n = parseFloat(v); return isNaN(n) ? '0' : String(n); }\n\nvar year = new Date().getFullYear();\nvar numeroFacture = 'INV-' + year + '-' + String(nextNum).padStart(6, '0');\nvar now = new Date().toISOString();\nvar echeance = new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString();\n\nvar insertQuery = \"INSERT INTO invoices (id, type, tenant_id, client_final_id, numero_facture, date_facture, date_echeance, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut, created_at, updated_at) VALUES (gen_random_uuid(), 'facture_client_final', \" + esc(bdc.tenant_id) + \"::uuid, \" + (bdc.client_final_id ? esc(bdc.client_final_id) + \"::uuid\" : \"NULL\") + \", \" + esc(numeroFacture) + \", \" + esc(now) + \"::timestamptz, \" + esc(echeance) + \"::timestamptz, \" + num(bdc.montant_ht) + \", \" + num(bdc.montant_ttc) + \", \" + num(bdc.tva_taux || 20) + \", \" + esc(bdc.description ? 'BDC ' + bdc.numero_bdc + ' - ' + bdc.description : 'Depuis BDC ' + bdc.numero_bdc) + \", \" + esc(bdc.mode_paiement) + \", 'brouillon', NOW(), NOW()) RETURNING id, tenant_id, client_final_id, type, numero_facture, date_facture, date_echeance, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut, created_at, updated_at\";\n\nvar updateQuery = \"UPDATE bons_commande SET statut = 'facture', updated_at = NOW() WHERE id = \" + esc(bdc.id) + \" RETURNING id, numero_bdc, statut\";\n\nreturn [{ json: {\n  bdcId: bdc.id,\n  tenantId: bdc.tenant_id,\n  clientFinalId: bdc.client_final_id,\n  numeroBdc: bdc.numero_bdc,\n  numeroFacture: numeroFacture,\n  dateFacture: now,\n  dateEcheance: echeance,\n  montantHt: bdc.montant_ht,\n  montantTtc: bdc.montant_ttc,\n  tvaTaux: bdc.tva_taux,\n  description: bdc.description,\n  modePaiement: bdc.mode_paiement,\n  insertQuery: insertQuery,\n  updateQuery: updateQuery\n} }];"
      },
      "id": "07. Prepare Invoice Data",
      "name": "07. Prepare Invoice Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.insertQuery }}"
      },
      "id": "08. Create Invoice",
      "name": "08. Create Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1300,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT id, bon_commande_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre FROM bon_commande_lines WHERE bon_commande_id = '\" + $('07. Prepare Invoice Data').first().json.bdcId + \"' ORDER BY ordre ASC\" }}"
      },
      "id": "09. Get BdC Lines",
      "name": "09. Get BdC Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1500,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var invoice = $('08. Create Invoice').first().json;\nvar rawLines = [];\ntry { rawLines = $('09. Get BdC Lines').all().map(function(item) { return item.json; }); } catch(e) { rawLines = []; }\n\nfunction esc(v) { return v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; }\nfunction num(v) { var n = parseFloat(v); return isNaN(n) ? '0' : String(n); }\n\nif (rawLines.length === 0) {\n  return [{ json: { invoiceId: invoice.id, hasLines: false, query: 'SELECT 1' } }];\n}\n\nvar values = rawLines.map(function(item, i) {\n  var q = num(item.quantite || 0);\n  var p = num(item.prix_unitaire_ht || 0);\n  var t = num(item.total_ht || (parseFloat(q) * parseFloat(p)));\n  return '(gen_random_uuid(), ' + esc(invoice.id) + '::uuid, ' + esc(item.code_article || null) + ', ' + esc(item.designation || '') + ', ' + q + ', ' + p + ', ' + t + ', ' + i + ')';\n}).join(', ');\n\nvar query = 'INSERT INTO invoice_lines (id, invoice_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre) VALUES ' + values + ' RETURNING id, invoice_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre';\n\nreturn [{ json: { invoiceId: invoice.id, hasLines: true, query: query } }];"
      },
      "id": "10. Prepare Lines",
      "name": "10. Prepare Lines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "11. Create Invoice Lines",
      "name": "11. Create Invoice Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1900,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('07. Prepare Invoice Data').first().json.updateQuery }}"
      },
      "id": "12. Update BdC",
      "name": "12. Update BdC",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        2100,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var invoice = $('08. Create Invoice').first().json;\nvar bdc = $('12. Update BdC').first().json;\n\nreturn [{ json: {\n  success: true,\n  invoice_id: invoice.id,\n  numero_facture: invoice.numero_facture,\n  bdc_id: bdc.id,\n  numero_bdc: bdc.numero_bdc,\n  bdc_statut: bdc.statut\n} }];"
      },
      "id": "13. Format Response",
      "name": "13. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "14. Respond",
      "name": "14. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2500,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get BdC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get BdC": {
      "main": [
        [
          {
            "node": "06. Get Next Invoice Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Get Next Invoice Number": {
      "main": [
        [
          {
            "node": "07. Prepare Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Prepare Invoice Data": {
      "main": [
        [
          {
            "node": "08. Create Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Create Invoice": {
      "main": [
        [
          {
            "node": "09. Get BdC Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Get BdC Lines": {
      "main": [
        [
          {
            "node": "10. Prepare Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Prepare Lines": {
      "main": [
        [
          {
            "node": "11. Create Invoice Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Create Invoice Lines": {
      "main": [
        [
          {
            "node": "12. Update BdC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Update BdC": {
      "main": [
        [
          {
            "node": "13. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Format Response": {
      "main": [
        [
          {
            "node": "14. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
