n8n_workflows/talosprimes/factures/invoice-paid.json
{
  "name": "invoice-paid",
  "nodes": [
    {
      "parameters": {
        "path": "invoice-paid",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw=$input.first().json;\nfunction pj(x){if(typeof x!=='string')return x;try{return JSON.parse(x)}catch(e){return null}}\nfunction isO(v){return v!==null&&typeof v==='object'&&!Array.isArray(v)}\nfunction g(o,k1,k2){if(!isO(o))return null;if(o[k1]!=null&&o[k1]!=='')return o[k1];if(k2&&o[k2]!=null&&o[k2]!=='')return o[k2];return null}\nconst payload=(raw&&typeof raw==='object'&&raw.data&&typeof raw.data==='object')?{...raw.data,tenantId:raw.data.tenantId||raw.tenantId}:raw;\nconst data=isO(payload)?payload:{};\nconst invoiceId=g(data,'invoiceId','invoice_id');\nconst tenantId=g(data,'tenantId','tenant_id')||g(raw,'tenantId');\nconst referencePayment=g(data,'referencePayment','reference_payment')||'';\nif(!invoiceId||!tenantId)return [{json:{_error:true,message:'invoiceId et tenantId requis'}}];\nreturn [{json:{invoiceId,tenantId,referencePayment}}];"
      },
      "id": "parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json._error === true }}", "value2": true }] }
      },
      "id": "if-valid",
      "name": "03. Payload valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{ $json.message }}\"}"
      },
      "id": "respond-invalid",
      "name": "04. Repondre invalide",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT (SELECT id FROM invoices WHERE id = '\" + ($json.invoiceId || '').replace(/'/g, \"''\") + \"' AND tenant_id = '\" + ($json.tenantId || '').replace(/'/g, \"''\") + \"' LIMIT 1) AS existing_id\" }}"
      },
      "id": "pg-verify",
      "name": "05. Verifier facture existe",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [860, 300],
      "credentials": { "postgres": { "name": "Postgres" } }
    },
    {
      "parameters": {
        "conditions": { "string": [{ "value1": "={{ $json.existing_id }}", "operation": "isNotEmpty" }] }
      },
      "id": "if-found",
      "name": "06. Facture trouvee ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":false,\"error\":\"Facture non trouvee\",\"statusCode\":404}"
      },
      "id": "respond-404",
      "name": "07. Repondre 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE invoices SET statut = 'payee', id_externe_paiement = '\" + ($('02. Parser').first().json.referencePayment || '').replace(/'/g, \"''\") + \"', updated_at = NOW() WHERE id = '\" + ($('02. Parser').first().json.invoiceId || '').replace(/'/g, \"''\") + \"' AND tenant_id = '\" + ($('02. Parser').first().json.tenantId || '').replace(/'/g, \"''\") + \"'\" }}"
      },
      "id": "pg-update",
      "name": "08. UPDATE payee",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1300, 300],
      "credentials": { "postgres": { "name": "Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT (SELECT row_to_json(sub) FROM (SELECT id, tenant_id, client_final_id, numero_facture, date_facture, date_echeance, montant_ht, montant_ttc, tva_taux, statut, id_externe_paiement, created_at FROM invoices WHERE id = '\" + ($('02. Parser').first().json.invoiceId || '').replace(/'/g, \"''\") + \"' AND tenant_id = '\" + ($('02. Parser').first().json.tenantId || '').replace(/'/g, \"''\") + \"') sub) AS invoice\" }}"
      },
      "id": "pg-fetch",
      "name": "09. Recuperer mise a jour",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1520, 300],
      "credentials": { "postgres": { "name": "Postgres" } }
    },
    {
      "parameters": {
        "jsCode": "const row=$input.first().json;\nconst inv=row.invoice;\nif(!inv)return [{json:{success:true,message:'Paiement enregistre (facture non recuperee)'}}];\nconst parsed=typeof inv==='string'?JSON.parse(inv):inv;\nreturn [{json:{success:true,message:'Paiement enregistre',invoice:parsed}}];"
      },
      "id": "format",
      "name": "10. Formater",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-ok",
      "name": "11. Repondre succes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1960, 300]
    }
  ],
  "connections": {
    "01. Webhook": { "main": [[{ "node": "02. Parser", "type": "main", "index": 0 }]] },
    "02. Parser": { "main": [[{ "node": "03. Payload valide ?", "type": "main", "index": 0 }]] },
    "03. Payload valide ?": {
      "main": [
        [{ "node": "04. Repondre invalide", "type": "main", "index": 0 }],
        [{ "node": "05. Verifier facture existe", "type": "main", "index": 0 }]
      ]
    },
    "05. Verifier facture existe": { "main": [[{ "node": "06. Facture trouvee ?", "type": "main", "index": 0 }]] },
    "06. Facture trouvee ?": {
      "main": [
        [{ "node": "08. UPDATE payee", "type": "main", "index": 0 }],
        [{ "node": "07. Repondre 404", "type": "main", "index": 0 }]
      ]
    },
    "08. UPDATE payee": { "main": [[{ "node": "09. Recuperer mise a jour", "type": "main", "index": 0 }]] },
    "09. Recuperer mise a jour": { "main": [[{ "node": "10. Formater", "type": "main", "index": 0 }]] },
    "10. Formater": { "main": [[{ "node": "11. Repondre succes", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
