n8n_workflows/talosprimes/factures/invoice-convert-to-avoir.json
{
  "name": "invoice-convert-to-avoir",
  "nodes": [
    {
      "parameters": {
        "path": "invoice-convert-to-avoir",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nif (!body.tenantId || !body.invoiceId) {\n  throw new Error('tenantId and invoiceId are required');\n}\n\nreturn [{ json: { tenantId: body.tenantId, invoiceId: body.invoiceId } }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenantId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Validation failed\" }"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tenant_id, client_final_id, numero_facture, date_facture, montant_ht, montant_ttc, tva_taux, description, mode_paiement, statut FROM invoices WHERE id = $1 AND tenant_id = $2 AND statut NOT IN ('brouillon', 'annulee')",
        "queryParameters": "={{ [$json.invoiceId, $json.tenantId] }}"
      },
      "id": "05. Get Invoice",
      "name": "05. Get Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const inv = $('05. Get Invoice').first().json;\n\nif (!inv || !inv.id) {\n  throw new Error('Facture non trouvée ou statut incompatible (brouillon/annulée)');\n}\n\nreturn [{ json: inv }];"
      },
      "id": "06. Check Invoice",
      "name": "06. Check Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(CAST(SUBSTRING(numero_avoir FROM 'AVO-[0-9]{4}-([0-9]+)') AS INTEGER)), 0) + 1 as next_num FROM avoirs WHERE tenant_id = $1 AND numero_avoir LIKE 'AVO-' || EXTRACT(YEAR FROM NOW())::text || '-%'",
        "queryParameters": "={{ [$json.tenant_id] }}"
      },
      "id": "07. Get Next Avoir Number",
      "name": "07. Get Next Avoir Number",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const inv = $('06. Check Invoice').first().json;\nconst nextNum = $('07. Get Next Avoir Number').first().json.next_num || 1;\nconst year = new Date().getFullYear();\nconst numeroAvoir = 'AVO-' + year + '-' + String(nextNum).padStart(6, '0');\n\nreturn [{ json: { ...inv, numeroAvoir } }];"
      },
      "id": "08. Prepare Avoir",
      "name": "08. Prepare Avoir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO avoirs (id, tenant_id, client_final_id, invoice_id, numero_avoir, date_avoir, montant_ht, montant_ttc, tva_taux, motif, description, statut, created_at, updated_at) VALUES (gen_random_uuid(), $1, $2, $3, $4, NOW(), $5, $6, $7, 'Avoir sur facture ' || $8, $9, 'brouillon', NOW(), NOW()) RETURNING id, tenant_id, client_final_id, invoice_id, numero_avoir, date_avoir, montant_ht, montant_ttc, tva_taux, motif, statut, created_at",
        "queryParameters": "={{ [$json.tenant_id, $json.client_final_id || null, $json.id, $json.numeroAvoir, $json.montant_ht, $json.montant_ttc, $json.tva_taux || 20, $json.numero_facture, $json.description || null] }}"
      },
      "id": "09. Create Avoir",
      "name": "09. Create Avoir",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, invoice_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre FROM invoice_lines WHERE invoice_id = $1 ORDER BY ordre ASC",
        "queryParameters": "={{ [$('02. Parser').first().json.invoiceId] }}"
      },
      "id": "10. Get Invoice Lines",
      "name": "10. Get Invoice Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Original prepare logic\nconst _origFn = function() {\nconst avoir = $('09. Create Avoir').first().json;\nconst lines = $('10. Get Invoice Lines').all().map(item => item.json).filter(l => l.id);\n\nif (lines.length === 0) {\n  return [{ json: { avoirId: avoir.id, hasLines: false } }];\n}\n\nconst lineInserts = lines.map(line => ({\n  avoirId: avoir.id,\n  codeArticle: line.code_article || null,\n  designation: line.designation || '',\n  quantite: line.quantite || 1,\n  prixUnitaireHt: line.prix_unitaire_ht || 0,\n  totalHt: line.total_ht || 0,\n  ordre: line.ordre || 0\n}));\n\nreturn [{ json: { avoirId: avoir.id, lineInserts, hasLines: true } }];\n};\nconst _origResult = _origFn();\nconst prev = _origResult[0].json;\n\nconst items = prev.lineInserts || [];\n\nif (!prev.hasLines || items.length === 0) {\n  return [{ json: { ...prev, query: 'SELECT 1', params: [] } }];\n}\n\nconst params = [];\nlet idx = 1;\n\nconst values = items.map((item, i) => {\n  const parentId = item.avoirId;\n  const codeArticle = item.codeArticle || null;\n  const designation = String(item.designation || '').substring(0, 500);\n  const quantite = parseFloat(item.quantite) || 0;\n  const prixUnitaireHt = parseFloat(item.prixUnitaireHt) || 0;\n  const totalHt = parseFloat(item.totalHt) || 0;\n  const ordre = parseInt(item.ordre) || i;\n\n  params.push(parentId, codeArticle, designation, quantite, prixUnitaireHt, totalHt, ordre);\n  const p = `(gen_random_uuid(), $$${idx}, $$${idx+1}, $$${idx+2}, $$${idx+3}, $$${idx+4}, $$${idx+5}, $$${idx+6})`;\n  idx += 7;\n  return p;\n}).join(',\\n');\n\nconst query = `INSERT INTO avoir_lines (id, avoir_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre) VALUES ${values} RETURNING id, avoir_id, code_article, designation, quantite, prix_unitaire_ht, total_ht, ordre`;\n\nreturn [{ json: { ...prev, query, params } }];"
      },
      "id": "11. Prepare Avoir Lines",
      "name": "11. Prepare Avoir Lines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "queryParameters": "={{ $json.params }}"
      },
      "id": "12. Insert Avoir Lines",
      "name": "12. Insert Avoir Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE invoices SET statut = 'annulee', updated_at = NOW() WHERE id = $1 AND tenant_id = $2 RETURNING id, statut",
        "queryParameters": "={{ [$('02. Parser').first().json.invoiceId, $('02. Parser').first().json.tenantId] }}"
      },
      "id": "13. Update Invoice Annulee",
      "name": "13. Update Invoice Annulee",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/compta-auto-avoir",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $('09. Create Avoir').first().json.tenant_id, avoirId: $('09. Create Avoir').first().json.id }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "14. Call Compta Avoir",
      "name": "14. Call Compta Avoir",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2500,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const avoir = $('09. Create Avoir').first().json;\nconst invoiceUpdate = $('13. Update Invoice Annulee').first().json;\n\nlet comptaResult = null;\ntry {\n  const compta = $('14. Call Compta Avoir').first().json;\n  if (compta && compta.success) {\n    comptaResult = compta.ecriture || compta;\n  } else {\n    comptaResult = { error: compta.error || compta.message || 'Erreur comptabilisation avoir' };\n  }\n} catch (e) {\n  comptaResult = { error: 'Appel compta avoir échoué: ' + e.message };\n}\n\nreturn [{ json: {\n  success: true,\n  avoir: {\n    id: avoir.id,\n    tenantId: avoir.tenant_id,\n    clientFinalId: avoir.client_final_id,\n    invoiceId: avoir.invoice_id,\n    numeroAvoir: avoir.numero_avoir,\n    dateAvoir: avoir.date_avoir,\n    montantHt: avoir.montant_ht,\n    montantTtc: avoir.montant_ttc,\n    tvaTaux: avoir.tva_taux,\n    motif: avoir.motif,\n    statut: avoir.statut,\n    createdAt: avoir.created_at\n  },\n  invoiceStatut: 'annulee',\n  comptabilisation: comptaResult\n} }];"
      },
      "id": "15. Format Response",
      "name": "15. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "16. Respond",
      "name": "16. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2900,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Get Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Get Invoice": {
      "main": [
        [
          {
            "node": "06. Check Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Check Invoice": {
      "main": [
        [
          {
            "node": "07. Get Next Avoir Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Get Next Avoir Number": {
      "main": [
        [
          {
            "node": "08. Prepare Avoir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Prepare Avoir": {
      "main": [
        [
          {
            "node": "09. Create Avoir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Create Avoir": {
      "main": [
        [
          {
            "node": "10. Get Invoice Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Get Invoice Lines": {
      "main": [
        [
          {
            "node": "11. Prepare Avoir Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Prepare Avoir Lines": {
      "main": [
        [
          {
            "node": "12. Insert Avoir Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Insert Avoir Lines": {
      "main": [
        [
          {
            "node": "13. Update Invoice Annulee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Update Invoice Annulee": {
      "main": [
        [
          {
            "node": "14. Call Compta Avoir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Call Compta Avoir": {
      "main": [
        [
          {
            "node": "15. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. Format Response": {
      "main": [
        [
          {
            "node": "16. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}