n8n_workflows/talosprimes/factures/invoice-update.json
{
  "name": "invoice-update",
  "nodes": [
    {
      "parameters": {
        "path": "invoice-update",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nfunction pj(x){if(typeof x!=='string')return x;try{return JSON.parse(x)}catch(e){return null}}\nfunction isO(v){return v!==null&&typeof v==='object'&&!Array.isArray(v)}\nfunction g(o,k1,k2){if(!isO(o))return null;var v=o[k1];if(v!=null&&v!=='')return v;if(k2){v=o[k2];if(v!=null&&v!=='')return v}return null}\nconst payload=(raw&&typeof raw==='object'&&raw.data&&typeof raw.data==='object')?{...raw.data,tenantId:raw.data.tenantId||raw.tenantId}:raw;\nconst data=isO(payload)?payload:{};\nconst invoiceId=g(data,'invoiceId','invoice_id');\nconst tenantId=g(data,'tenantId','tenant_id')||g(raw,'tenantId');\nif(!invoiceId||!tenantId)return [{json:{_error:true,message:'invoiceId et tenantId requis'}}];\nconst body={invoiceId,tenantId};\nvar s=g(data,'statut');if(s)body.statut=s;\nvar lp=g(data,'lienPdf','lien_pdf');if(lp)body.lienPdf=lp;\nvar ie=g(data,'idExternePaiement','id_externe_paiement');if(ie)body.idExternePaiement=ie;\nreturn [{json:body}];"
      },
      "id": "parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._error === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-valid",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{ $json.message }}\"}"
      },
      "id": "respond-err",
      "name": "04. Repondre erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT (SELECT id FROM invoices WHERE id = '\" + ($json.invoiceId || '').replace(/'/g, \"''\") + \"' AND tenant_id = '\" + ($json.tenantId || '').replace(/'/g, \"''\") + \"') AS existing_id\" }}"
      },
      "id": "pg-check",
      "name": "05. Verifier existence",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        860,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.existing_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-exists",
      "name": "06. Existe ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":false,\"error\":\"Facture non trouvee\"}"
      },
      "id": "respond-404",
      "name": "07. Repondre 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const p=$('02. Parser').first().json;\nvar esc=function(s){return (s||'').replace(/'/g,\"''\");};\nvar sets=[];\nif(p.statut)sets.push(\"statut = '\"+esc(p.statut)+\"'\");\nif(p.lienPdf)sets.push(\"lien_pdf = '\"+esc(p.lienPdf)+\"'\");\nif(p.idExternePaiement)sets.push(\"id_externe_paiement = '\"+esc(p.idExternePaiement)+\"'\");\nsets.push(\"updated_at = NOW()\");\nvar query=\"UPDATE invoices SET \"+sets.join(', ')+\" WHERE id = '\"+esc(p.invoiceId)+\"' AND tenant_id = '\"+esc(p.tenantId)+\"'\";\nreturn [{json:{query}}];"
      },
      "id": "build-update",
      "name": "08. Construire UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "pg-update",
      "name": "09. Executer UPDATE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT (SELECT row_to_json(sub) FROM (SELECT id, type, tenant_id, client_final_id, numero_facture, date_facture, date_echeance, montant_ht, montant_ttc, tva_taux, statut, lien_pdf, id_externe_paiement, created_at FROM invoices WHERE id = '\" + ($('02. Parser').first().json.invoiceId || '').replace(/'/g, \"''\") + \"' AND tenant_id = '\" + ($('02. Parser').first().json.tenantId || '').replace(/'/g, \"''\") + \"') sub) AS invoice\" }}"
      },
      "id": "pg-fetch",
      "name": "10. Recuperer facture",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1740,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row=$input.first().json;\nconst inv=row.invoice;\nif(!inv)return [{json:{success:true,message:'Facture mise a jour (non recuperee)'}}];\nconst parsed=typeof inv==='string'?JSON.parse(inv):inv;\nreturn [{json:{success:true,message:'Facture mise a jour',data:{invoice:parsed}}}];"
      },
      "id": "format",
      "name": "11. Formater",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-ok",
      "name": "12. Repondre succes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2180,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "04. Repondre erreur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05. Verifier existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Verifier existence": {
      "main": [
        [
          {
            "node": "06. Existe ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Existe ?": {
      "main": [
        [
          {
            "node": "08. Construire UPDATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "07. Repondre 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Construire UPDATE": {
      "main": [
        [
          {
            "node": "09. Executer UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Executer UPDATE": {
      "main": [
        [
          {
            "node": "10. Recuperer facture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Recuperer facture": {
      "main": [
        [
          {
            "node": "11. Formater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Formater": {
      "main": [
        [
          {
            "node": "12. Repondre succes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}