n8n_workflows/talosprimes/factures/invoice-sent.json
{
  "name": "invoice-sent",
  "nodes": [
    {
      "parameters": {
        "path": "invoice-sent",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\n\nif (!body.tenantId || !body.invoiceId) {\n  throw new Error('tenantId and invoiceId are required');\n}\n\nreturn [{ json: { tenantId: body.tenantId, invoiceId: body.invoiceId } }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "2cbda7b3-011b-4dfb-90f5-1d359093c7cd",
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Validation failed\" }"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE invoices SET statut = 'envoyee', updated_at = NOW() WHERE id = '\" + $json.invoiceId + \"' AND tenant_id = '\" + $json.tenantId + \"' AND statut = 'brouillon' RETURNING id, tenant_id, numero_facture, statut, updated_at\" }}"
      },
      "id": "05. Update Invoice",
      "name": "05. Update Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        700,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var result = $('05. Update Invoice').first().json;\n\nif (!result || !result.id) {\n  return [{ json: { error: 'Facture non trouvée ou pas au statut brouillon' } }];\n}\n\nreturn [{ json: { id: result.id, tenantId: result.tenant_id, numeroFacture: result.numero_facture, statut: result.statut, updatedAt: result.updated_at } }];"
      },
      "id": "06. Format Response",
      "name": "06. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "07. Respond",
      "name": "07. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Update Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Update Invoice": {
      "main": [
        [
          {
            "node": "06. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Format Response": {
      "main": [
        [
          {
            "node": "07. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
