n8n_workflows/talosprimes/marketing/marketing-status.json
{
  "name": "Marketing - Statut Publications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-status",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, plateforme, type, sujet, contenu_texte, date_publication, status, post_external_id FROM marketing_posts WHERE tenant_id IS NOT NULL ORDER BY date_publication DESC LIMIT {{ $json.body?.limit || 10 }}",
        "options": {}
      },
      "id": "pg-status",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        520,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "OGqj65ZoFRileCck",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var items = $input.all();\nvar rows = items.map(function(item) { return item.json; }).filter(function(r) { return r && r.id; });\nreturn [{json: {success: true, data: rows, total: rows.length}}];"
      },
      "id": "fmt-status",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "resp-status",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}