n8n_workflows/talosprimes/logs/logs-stats.json
{
  "name": "logs-stats",
  "nodes": [
    {
      "parameters": {
        "path": "logs-stats",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "id": "01. Webhook",
      "name": "01. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\n\nif (!body.tenantId) {\n  throw new Error('tenantId is required');\n}\n\nfunction esc(v) { return v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\"; }\n\nvar typeEvenements = body.typeEvenements || null;\n\nvar baseWhere = \"WHERE tenant_id = \" + esc(body.tenantId) + \"::uuid\";\nif (typeEvenements) {\n  var events = typeEvenements.split(',').map(function(e) { return esc(e.trim()); }).join(',');\n  baseWhere += \" AND type_evenement IN (\" + events + \")\";\n}\n\nreturn [{ json: {\n  tenantId: body.tenantId,\n  baseWhere: baseWhere\n} }];"
      },
      "id": "02. Parser",
      "name": "02. Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "0aa503ec-5217-4e77-85e9-f262b4942091",
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03. Valide ?",
      "name": "03. Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWithOptions": {
          "responseType": "json"
        },
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Validation failed\"\n}"
      },
      "id": "04. Respond Error",
      "name": "04. Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT COUNT(*) as total FROM event_logs \" + $('02. Parser').first().json.baseWhere }}"
      },
      "id": "05. Count Total",
      "name": "05. Count Total",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        700,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT COUNT(*) as succeeded FROM event_logs \" + $('02. Parser').first().json.baseWhere + \" AND statut_execution = 'succes'\" }}"
      },
      "id": "06. Count Succeeded",
      "name": "06. Count Succeeded",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        900,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT COUNT(*) as errors FROM event_logs \" + $('02. Parser').first().json.baseWhere + \" AND statut_execution = 'erreur'\" }}"
      },
      "id": "07. Count Errors",
      "name": "07. Count Errors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1100,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT COUNT(*) as en_attente FROM event_logs \" + $('02. Parser').first().json.baseWhere + \" AND statut_execution = 'en_attente'\" }}"
      },
      "id": "08. Count Pending",
      "name": "08. Count Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1300,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT type_evenement, COUNT(*) as count FROM event_logs \" + $('02. Parser').first().json.baseWhere + \" GROUP BY type_evenement\" }}"
      },
      "id": "09. Count By Workflow",
      "name": "09. Count By Workflow",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres",
          "id": "OGqj65ZoFRileCck"
        }
      },
      "position": [
        1500,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "var totalResult = $('05. Count Total').first().json;\nvar succeededResult = $('06. Count Succeeded').first().json;\nvar errorsResult = $('07. Count Errors').first().json;\nvar pendingResult = $('08. Count Pending').first().json;\nvar byEventData = $('09. Count By Workflow').all().map(function(item) { return item.json; }).filter(function(i) { return i.type_evenement; });\n\nvar leadEvents = ['lead_create','lead_created','lead_update','lead_updated','lead_delete','lead_deleted','lead_questionnaire','lead_entretien','lead_confirmation','lead_inscription','leads_list','lead_get','lead_update_status','lead_status_updated'];\nvar clientEvents = ['client.created','client.updated','client.deleted','client.onboarding','client_create','client_update','client_delete','client_create_from_lead','clients_list','client_get'];\nvar facturationEvents = ['invoice_create','invoice_send','invoice_paid','invoice_overdue','invoice_get','invoice_update','invoice_delete','invoice_generate_pdf','invoices_list','devis_list','devis_get','devis_create','devis_send','devis_accept','devis_convert_to_invoice','devis_convert_to_bdc','devis_update','devis_delete','bdc_list','bdc_get','bdc_create','bdc_update','bdc_validate','bdc_convert_to_invoice','bdc_delete','avoir_list','avoir_get','avoir_create','avoir_validate','avoir_delete','invoice_convert_to_avoir','proforma_list','proforma_get','proforma_create','proforma_send','proforma_accept','proforma_convert_to_invoice','proforma_delete'];\nvar abonnementsEvents = ['subscription_renewal','subscription_cancelled','subscription_suspended','subscription_upgrade','stripe_checkout_completed'];\nvar marketingEvents = ['marketing_post_create','marketing_post_publish','marketing_stats'];\nvar authEvents = ['password_reset_request','auth_login','auth_register'];\nvar articlesEvents = ['article_codes_list','article_code_create','article_code_update','article_code_delete'];\nvar telephonieEvents = ['call_log_list','call_log_get','call_log_stats','call_log_create','call_log_update','call_log_delete','twilio_config_get','twilio_config_update','twilio_test_call','twilio_outbound_call','sms_list','sms_stats','sms_send'];\n\nvar byWorkflow = {\n  leads: { total: 0, errors: 0, succeeded: 0 },\n  clients: { total: 0, errors: 0, succeeded: 0 },\n  facturation: { total: 0, errors: 0, succeeded: 0 },\n  abonnements: { total: 0, errors: 0, succeeded: 0 },\n  marketing: { total: 0, errors: 0, succeeded: 0 },\n  auth: { total: 0, errors: 0, succeeded: 0 },\n  articles: { total: 0, errors: 0, succeeded: 0 },\n  telephonie: { total: 0, errors: 0, succeeded: 0 }\n};\n\nbyEventData.forEach(function(item) {\n  var count = parseInt(item.count) || 0;\n  if (leadEvents.indexOf(item.type_evenement) >= 0) { byWorkflow.leads.total += count; }\n  else if (clientEvents.indexOf(item.type_evenement) >= 0) { byWorkflow.clients.total += count; }\n  else if (facturationEvents.indexOf(item.type_evenement) >= 0) { byWorkflow.facturation.total += count; }\n  else if (abonnementsEvents.indexOf(item.type_evenement) >= 0) { byWorkflow.abonnements.total += count; }\n  else if (marketingEvents.indexOf(item.type_evenement) >= 0) { byWorkflow.marketing.total += count; }\n  else if (authEvents.indexOf(item.type_evenement) >= 0) { byWorkflow.auth.total += count; }\n  else if (articlesEvents.indexOf(item.type_evenement) >= 0) { byWorkflow.articles.total += count; }\n  else if (telephonieEvents.indexOf(item.type_evenement) >= 0) { byWorkflow.telephonie.total += count; }\n});\n\nreturn [{ json: {\n  total: parseInt(totalResult.total) || 0,\n  succeeded: parseInt(succeededResult.succeeded) || 0,\n  errors: parseInt(errorsResult.errors) || 0,\n  enAttente: parseInt(pendingResult.en_attente) || 0,\n  byWorkflow: byWorkflow\n} }];"
      },
      "id": "10. Format Response",
      "name": "10. Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "11. Respond",
      "name": "11. Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1900,
        300
      ]
    }
  ],
  "connections": {
    "01. Webhook": {
      "main": [
        [
          {
            "node": "02. Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Parser": {
      "main": [
        [
          {
            "node": "03. Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03. Valide ?": {
      "main": [
        [
          {
            "node": "05. Count Total",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04. Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05. Count Total": {
      "main": [
        [
          {
            "node": "06. Count Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06. Count Succeeded": {
      "main": [
        [
          {
            "node": "07. Count Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07. Count Errors": {
      "main": [
        [
          {
            "node": "08. Count Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08. Count Pending": {
      "main": [
        [
          {
            "node": "09. Count By Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09. Count By Workflow": {
      "main": [
        [
          {
            "node": "10. Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Format Response": {
      "main": [
        [
          {
            "node": "11. Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
